<footer class="footer">

  <div class="row footer_up pc">
    <div class="container">
      <div class="row mt-5">
        <div class="col-4 col-sm-5 col-md-4 col-lg-4 mb-3">
          <span class="footer_up_title">Поддержка</span>
          <div class="pt-3 mb-1 cursor-poiner" routerLink="/help">
            <a routerLink="/help">
              <span class="footer_up_title_icon"><img src="./../../assets/icons/help.png" alt="F.A.Q."></span>
              <span class="footer_up_title_text">F.A.Q.</span>
            </a>
          </div>
          <div class="mb-1 cursor-poiner">
            <a routerLink="/rules">
              <span class="footer_up_title_icon"><img src="./../../assets/icons/portfolio.png" alt="Пользовательское соглашение"></span>
              <span class="footer_up_title_text">Пользовательское соглашение</span>
            </a>
          </div>

          <div class="mb-1 cursor-poiner">
            <a routerLink="/privacy-policy">
              <span class="footer_up_title_icon"><img src="./../../assets/icons/padlock.png" alt="Политика конфиденциальности"></span>
              <span class="footer_up_title_text">Политика конфиденциальности</span>
            </a>
          </div>
          <!--          <div class="mb-1 cursor-poiner" (click)="sent_quest()">-->
          <!--            <span class="footer_up_title_icon"><img src="./../../assets/icons/phone-call.png"></span>-->
          <!--            <span class="footer_up_title_text">Свяжитесь с нами</span>-->
          <!--          </div>-->
        </div>
        <div class="col-2 col-sm-4 col-md-3 col-lg-3  mb-3">
          <span class="footer_up_title">Компания</span>
          <div class="pt-3 mb-1 cursor-poiner">
            <a routerLink="/about">
              <span class="footer_up_title_icon"><img src="./../../assets/icons/folder.png" alt="О нас"></span>
              <span class="footer_up_title_text">О нас</span>
            </a>
          </div>
          <div class="mb-1 cursor-poiner">
            <a routerLink="/news">
              <span class="footer_up_title_icon"><img src="./../../assets/icons/list.png" alt="Новости"></span>
              <span class="footer_up_title_text">Новости</span>
            </a>
          </div>
        </div>
        <div class="col-2 col-sm-3 col-md-3 col-lg-2 mb-3">
          <span class="footer_up_title">Сообщества</span>
          <div class="pt-3 mb-1 cursor-poiner">
            <span class="footer_up_title_icon"><img src="./../../assets/icons/facebook.png" alt="Facebook"></span>
            <span class="footer_up_title_text"><a [href]="'https://www.facebook.com/groups/???'"
                                                  [target]="'_blank'">Facebook</a></span>
          </div>
          <div class="mb-1 cursor-poiner">
            <span class="footer_up_title_icon"><img src="./../../assets/icons/instagram-logo.png" alt="Instagram"></span>
            <span class="footer_up_title_text"><a [href]="'https://www.instagram.com/???/'" [target]="'_blank'">Instagram</a></span>
          </div>
        </div>
        <div class="col-3 col-sm-12 col-md-12 col-lg-3 mb-3">
          <span class="footer_up_title">Контакты</span>
          <div class="pt-3 mb-1 cursor-poiner">
            <span class="footer_up_title_icon"><img src="./../../assets/icons/phone-call.png" alt="Контакты"></span>
            <span class="footer_up_title_text"><a [href]="'tel:+???'">+???</a></span>
          </div>
          <div class="mb-1 cursor-poiner" (click)="sent_quest()">
            <span class="footer_up_title_icon"><img src="./../../assets/icons/send.png" alt="Задать вопрос"></span>
            <span class="footer_up_title_text">Задать вопрос</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="mobile w-100 footer_up">
    <div class="container">
      <div class="row mt-5 mb-4">

        <div class="col">
          <span class="footer_up_title">Контакты</span>
          <div class="pt-3 mb-1 cursor-poiner">
            <span class="footer_up_title_icon"><img src="./../../assets/icons/phone-call.png" alt="Контакты"></span>
            <span class="footer_up_title_text"><a [href]="'tel:+???'">+???</a></span>
          </div>
          <div class="mb-1 cursor-poiner" (click)="sent_quest()">
            <span class="footer_up_title_icon"><img src="./../../assets/icons/send.png" alt="Задать вопрос"></span>
            <span class="footer_up_title_text">Задать вопрос</span>
          </div>
        </div>

        <div class="col">
          <span class="footer_up_title">Компания</span>
          <div class="pt-3 mb-1 cursor-poiner">
            <a routerLink="/about">
              <span class="footer_up_title_icon"><img src="./../../assets/icons/folder.png" alt="О нас"></span>
              <span class="footer_up_title_text">О нас</span>
            </a>
          </div>
          <div class="mb-1 cursor-poiner">
            <a routerLink="/news">
              <span class="footer_up_title_icon"><img src="./../../assets/icons/list.png" alt="Новости"></span>
              <span class="footer_up_title_text">Новости</span>
            </a>

          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col">
          <span class="footer_up_title">Поддержка</span>
          <div class="pt-3 mb-1 cursor-poiner">
            <a routerLink="/help">
              <span class="footer_up_title_icon"><img src="./../../assets/icons/help.png" alt="F.A.Q."></span>
              <span class="footer_up_title_text">F.A.Q.</span>
            </a>

          </div>
          <div class="mb-1 cursor-poiner">
            <a routerLink="/rules">
              <span class="footer_up_title_icon"><img src="./../../assets/icons/portfolio.png" alt="Пользовательское соглашение"></span>
              <span class="footer_up_title_text">Пользовательское соглашение</span>
            </a>
          </div>
          <div class="mb-1 cursor-poiner">
            <a routerLink="/privacy-policy">
              <span class="footer_up_title_icon"><img src="./../../assets/icons/padlock.png" alt="Политика конфиденциальности"></span>
              <span class="footer_up_title_text">Политика конфиденциальности</span>
            </a>
          </div>
          <!--            <div class="mb-1 cursor-poiner" (click)="sent_quest()">-->
          <!--              <span class="footer_up_title_icon"><img src="./../../assets/icons/phone-call.png"></span>-->
          <!--              <span class="footer_up_title_text">Свяжитесь с нами</span>-->
          <!--            </div>-->
        </div>
      </div>

      <div class="row mb-4">
        <div class="col">
          <span class="footer_up_title">Сообщества</span>
          <div class="pt-3 mb-1 cursor-poiner">
            <span class="footer_up_title_icon"><img src="./../../assets/icons/facebook.png" alt="Facebook"></span>
            <span class="footer_up_title_text">
                <a [href]="'https://www.facebook.com/groups/???'" [target]="'_blank'">Facebook</a></span>
          </div>
          <div class="mb-1 cursor-poiner">
            <span class="footer_up_title_icon"><img src="./../../assets/icons/instagram-logo.png" alt="Instagram"></span>
            <span class="footer_up_title_text">
                <a [href]="'https://www.instagram.com/???/'" [target]="'_blank'">Instagram</a>
                </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row footer_down align-items-center">
    <div class="container">
      ???? 2020. Все права защищены.
    </div>
  </div>

</footer>

