@import "../../assets/style_components/colors.component";
a {
  color: black;
}
.mobile {
  display: none;
  .footer_up_title {
    font-weight: 900 !important;
  }
  @media (max-width: 600px) {
    display: flex;
  }
}
@media (max-width: 600px) {
  .pc {
    display: none;
  }
}
@media (max-width: 410px) {
  .footer_up_title_text {
    font-size: 8px;
  }
}
.item_footer {
  min-width: 310px;
}
.footer {
  box-shadow: 0 2px 13px 2px rgba(0, 0, 0, 0.25);
  min-height: 300px;
  &_up {
    background-color: #dadada;
    min-height: 255px;
    &_title {
      font-size: 16px;
      color: #000000;
      //font-weight: 400;
      font-weight: 900;
      letter-spacing: 0.32px;
      font-family: Roboto Medium, sans-serif;
      &_icon {
        img {
          width: 11px;
          height: 11px;
        }
      }
      &_text {
        margin-left: 19px;
        color: #000000;
        font-weight: 400;
        letter-spacing: 0.28px;
        font-size: 15px;
        font-family: Roboto Regular, sans-serif;
      }
    }
  }
  &_down {
    font-family: Robto Regular , sans-serif;
    letter-spacing: 0.28px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    height: 45px;
  }
}

