<div class="landing-section-wrapper">
  <div class="news_landing ">
    <div class="landing_picture">
      <div class="picture-container"><img [src]="(previewImg | async)" alt="about">
      </div>
    </div>
    <div class="delimiter"></div>
    <div class="news_landing__sConteiner container">

      <div class="news_landing__aside">
        <div class="logo-top"></div>

        <div class="news_landing__main">
          <div class="news_landing__main__item">
            <div style="width: 100%" class="news_landing__main__item__content">
                <span class="news_landing__main__item__content__title">
                        {{h_model?.inform_title}}
                </span>
              <span [innerHTML]="SANITIZER.bypassSecurityTrustHtml(h_model?.inform_description)"
                    class="news_landing__main__item__content__description">
                </span>

            </div>
            <!--<div class="news_landing__main__item__preview">-->
            <!--<img src="../../../assets/images/news/defaultp.png">-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
