@import "../common-template";
.delimiter {

}

.news_landing__main {
  font-family: Fregat_bold, sans-serif;
  &__item {

    margin: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__content {

      display: flex;
      flex-direction: column;
      width: 50%;

      &__title {
        //padding-bottom: 30px;
        //font-size: 2rem;
        //text-align: center;
      }

      &__description {
        font-family: Fregat_regular, sans-serif;
        font-size: 0.95rem;
      }
    }

    &__preview {

      width: 50%;
      img {

        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
.picture-container {
  position: absolute;
  right: 1px;

  img {
    max-width: 440px;
  }

  @media screen and(max-width: 1500px) {
    img {
      //max-width: 220px;
    }
  }
  @media screen and(max-width: 1310px) {
    img {
      max-width: 350px;
    }
  }
  @media screen and(max-width: 590px) {
    img {
      max-width: 210px;
    }
  }
  @media screen and(max-width: 415px) {
    img {
      max-width: 110px;
    }
  }
}
