<ng-container [ngSwitch]="isPrice">

  <ng-container *ngSwitchCase="false">
    <div class="" [class]="one_active_field === true ? 'price_activate_one' : 'price'">

      <div *ngIf="one_active_field === true; else elseBlock;">

        <div class="shadowE">
          <div #sTrf class="shadowElDown">

            <div class="price_item">

              <div class="price_item">
                <div class="price__header" [ngStyle]="{width: 'auto', 'border-bottom': 'unset'}">
                  <p class="title_price" [ngStyle]="{'font-size': 'large'}">{{data_one_active?.tariff_name}}</p>


                  <!--                  <p class="prices-day" [ngStyle]="{'font-size': 'large'}">{{data_one_active?.count_sms }} смс/день</p>-->
                </div>
                <div class="price__content">
                  <p class="prices" [ngStyle]="{'font-size': 'large'}">День</p>
                  <p class="prices-day" [ngStyle]="{'font-size': 'large'}">{{data_one_active?.sum_day}}грн</p>
                </div>
                <div class="price__footer" [ngStyle]="{width: 'auto', 'border-bottom': 'unset'}">
                  <p class="prices" [ngStyle]="{'font-size': 'large'}">Месяц</p>
                  <p class="prices-day" [ngStyle]="{'font-size': 'large'}">{{data_one_active?.sum_month}}грн</p>
                </div>

                <button style="display:none;"
                        #btnParams
                        [disabled]="data_one_active_btn"
                        ngClass="customBtnPosition_colors_block"
                        class="c-btn c-btn_out_line c-btn_cs ml-4">Выбранно
                </button>

              </div>
            </div>
          </div>
        </div>

      </div>

<!--      leave request-->
      <ng-template #elseBlock>
        <!--        <div [ngStyle]="styles_item" *ngFor="let tariff of dataTarif; let i = index;">-->
        <div class="tariff-block" *ngFor="let tariff of dataTarif; let i = index;">
          <div [ngClass]="tariff?.typeTitle === undefined ? '':'shadowE'" class="price_radius w-100 mt-5">

            <div #sTrf [ngClass]="tariff?.select ? 'shadowEl':'shadowElDown'">
              <ng-container *ngIf="tariff?.typeTitle !== undefined ">

                <ng-container *ngIf="tariff?.typeTitle == 'Auto'">
                  <div class="popularsT" #param1>Авто</div>
                </ng-container>
                <ng-container *ngIf="tariff?.typeTitle == 'Electronics'">
                  <div class="popularsT" #param1>Электроника</div>
                </ng-container>
                <ng-container *ngIf="tariff?.typeTitle == 'Property'">
                  <div class="popularsT" #param1>Недвижимость</div>
                </ng-container>

              </ng-container>

              <!--<div [ngClass]="tariff.populars === true ? 'price_item shadowEl':'price_item'">-->
              <div class="col p-0">
                <!-- Card -->
                <div class="card card-image price_radius">

                  <!--Pricing card-->
                  <div
                    class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong color-main-tariff price_radius mb-4">
<!--       ***********************main***********************-->
                    <!--Content-->
                    <div class="card-body p-0 leave-tariff">
                      <div class="title_block leave-tariff price_radius" >
                        <h5>{{tariff?.tariff_name}}</h5>
                      </div>
                      <!--Price-->
                      <div class="price pt-0">
                        <h1 class="count">{{tariff?.sum_day}}грн в день</h1>
                      </div>
                      <!--Price-->
                      <ul class="striped">
                        <li *ngIf="tariff?.isUnlimited == 0 ">
                          <p [ngStyle]="{color: 'red', 'font-size': '23px'}"><i class="fas fa-exclamation"></i> до <strong>5</strong> заявок в одной категории</p>
                        </li>
                        <li>
                          <p>до <strong>{{tariff?.count_sms }}</strong> уведомлений в личный кабинет</p>
                        </li>
                        <li>
                          <p>до <strong>{{tariff?.count_sms }}</strong> уведомлений в Telegram Messenger</p>
                        </li>
                      </ul>
                      <button
                        [ngClass]="this.dataTarif[i].select? 'customBtnPosition__colors':''"
                        #btnParams (mouseover)="focusFunction(i)"
                        (mouseout)="focusOutFunction()"
                        (click)="selectTariff(tariff)"
                        class="c-btn c-btn_out_line c-btn_cs mb-1">
                        {{blockName[tariff.select || false]}}
                      </button>
                      <button *ngIf="tariff?.isCust_quest == 1"
                              (click)="selectUponTariff(tariff)"
                              class="c-btn upon-btn pt-2"
                      ><i class="fas fa-star"></i> Тест 7 дней <i class="fas fa-star"></i></button>
                    </div>

                  </div>
                  <!--Pricing card-->
                </div>
              </div>

            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="true">
    <div class="d-flex pt-custom justify-content-around flex-wrap">
      <div style="cursor: pointer;" class="price_radius price-wrap"
           *ngFor="let tariff of dataTarif[0]; let cardIndex = index">
        <div #sTrf [ngClass]="tariff?.select ? 'shadowEl price_radius':'shadowElDown price_radius'">

          <div class="col-md-12 mb-4 p-0">
            <!-- Card -->
            <div class="card card-image price_radius">

              <!--Pricing card-->
              <div
                class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong color-main-tariff price_radius">

                <!--Content-->
                <div class="card-body p-0">
                  <div class="title_block">
                    <h5>{{tariff?.tariff_name}}</h5>
                  </div>
                  <!--Price-->
                  <div class="price">
                    <h1 class="count">{{tariff?.sum_day}}грн в день</h1>
                  </div>
                  <!--Price-->
                  <ul class="striped">
                    <li *ngIf="tariff?.isUnlimited == 0 ">
                      <p [ngStyle]="{color: 'red', 'font-size': '23px'}"><i class="fas fa-exclamation"></i> до <strong>5</strong> заявок в одной категории</p>
                    </li>
                    <li>
                      <p>до <strong>{{tariff?.count_sms }}</strong> уведомлений в личный кабинет</p>
                    </li>
                    <li>
                      <p>до <strong>{{tariff?.count_sms }}</strong> уведомлений в Telegram Messenger</p>
                    </li>

                  </ul>
                  <button
                    [ngClass]="'customBtnPosition__colors_leave'" (click)="goLeaveRequest()"
                    class="c-btn c-btn_out_line c-btn_cs ml-4">Оставить заявку
                  </button>
                </div>

              </div>
              <!--Pricing card-->
            </div>
          </div>

        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
