@import "../../../../assets/style_components/colors.component";
@import "../../../../assets/style_components/button";
@import "../../../../assets/style_components/button_new";

.pt-custom {
  top: 2.8rem;
  position: relative;
}

.card-body {
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-btn_cs {
  font-size: 14px !important;
}

.price_activate_one {
  width: 100%;
}
.shTariff {
  box-shadow: 1px 2px 11px 2px rgba(0, 0, 0, 0.25);
}
.price_radius {

  border-radius: 25px;
  //box-shadow: 1px 2px 11px 2px rgba(0, 0, 0, 0.25);
}

p {
  color: #131313;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

li {
  margin: 0 auto;
}

.tariff-block {
  width: 35% !important;
  @media (max-width: 700px) {
    width: 100% !important;
    max-width: 235px;
  }
}

.count {
  padding-top: 1.5rem;
  color: #047a4b;
  font-size: 24px;
  font-family: Fregat, sans-serif;
}

.price {
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  //width: auto;
  flex-wrap: wrap;
  //margin-top: 60px;
  width: 100%;
  justify-content: space-evenly;
  //justify-content: space-between;

  &-wrap {
    //height: 432px;
    width: 322px;
    overflow: hidden;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    border-bottom: 1px solid $gray;

    p:last-child {
      font-family: Fregat, sans-serif;
      font-size: 16px;
      color: $black;
    }
  }

  &__content {
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $gray;
  }

  &__footer {
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $gray;
  }

  &_item {
    display: flex;
    align-items: center;
    flex-direction: column;
    //justify-content: flex-end;
    //height: 270px;
    //min-width: 190px;
    //width: 200px;
    border: 1px solid #e8ecfc;

    h4 {
      font-family: Fregat, sans-serif;
      font-size: 24px;
    }

    .title_price {
      font-family: Fregat, sans-serif;
      font-size: 24px;
      margin: 0;
    }

    .prices {
      font-family: Fregat, sans-serif;
      font-size: 16px;
      margin: 0;
    }

    .prices-day {
      margin-top: 6px;
      font-family: Fregat, sans-serif;
      font-size: 24px;
      color: $green;
      //margin-top: 0;
    }

    .prices-check {
      font-family: Fregat, sans-serif;
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .prices-now {
      font-family: Fregat, sans-serif;
      margin-top: 35px;
      margin-bottom: 40px;
      font-size: 14px;
    }
  }
}

.ng-star-inserted {
  transition: all 0.75s;
}

.popularsT {

  font-family: Fregat, sans-serif;
  font-size: 20px;
  position: inherit;
  //width: 231px;
  text-align: -webkit-center;
  /* height: 20px; */
  border: 1px solid #e8ecfc;
  border-bottom: aliceblue;
  padding-top: 10px;
  padding-bottom: 10px;
  //padding-bottom: 36px;
  text-align: center;
}

.shadowE {
  & > div {
    transition: all 0.75s;
  }
}

.shadowEl {
  transition: all 0.75s;
  //transition: box-shadow 0.35s;
  //transition: translateY 0.45s;
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 14px 18px 4px rgba(184, 200, 219, 1);
  -moz-box-shadow: 0px 14px 18px 4px rgba(184, 200, 219, 1);
  box-shadow: 0px 14px 18px 4px rgba(184, 200, 219, 1);
}

.shadowElDown {
  transition: all 0.75s;
}

.c-btn {
  width: 82%;
  margin-bottom: 10px;
  //margin-bottom: 0;
  //width: 100%;
  &:hover {
    transition: box-shadow 0.25s;
    -webkit-box-shadow: 0px 6px 20px -3px rgba(173, 190, 212, 0.96);
    -moz-box-shadow: 0px 6px 20px -3px rgba(173, 190, 212, 0.96);
    box-shadow: 0px 6px 20px -3px rgba(173, 190, 212, 0.96);
  }
}

.default_btn_color {

  border: 2px solid;
  color: $black;
  background-color: $white !important;

  &:hover {

    background-color: $white;
  }
}
.marg-b-1 {
  margin-bottom: 1px!important;
}
.upon-btn {
  max-width: 139px;
  background: unset;
  border: unset;
  font-size: 15px;
  color: #11925b;
  //font-weight: 600;
  font-family: Fregat_Bold, sans-serif;

  &:hover{
    box-shadow: none;
    color: $orange;
  }
}
.customBtnPosition {


  &__colors {
    background-color: $green;
    //border-radius: 5px;
    font-family: Fregat_bold, sans-serif;

    &_leave {
      margin-bottom: 3rem !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      transition: all 0.5s;
      //border-radius: 5px;
      font-family: Fregat_Bold, sans-serif;

      &:hover {
        background-color: $green !important;
        color: white;
      }
    }
  }

  &_colors_block {
    background-color: $gray;

    &:hover {
      background-color: $gray;
      box-shadow: 0 0;
    }
  }

  &__marginBtn {
    //transition: transform 1s;
    transform: translateY(-1px);

  }

}

.color-main-tariff {
  background-color: white !important;
}

.striped {
  li {
    max-width: 170px;

    p {
      font-family: Fregat, sans-serif;
      font-size: 16px;
    }
  }
}

.leave-tariff {
  .title_block {
    height: 80px !important;
    h5 {
      font-size: 28px;
    }
  }
  .price_radius {
    border-radius: 25px 25px 0 0;
  }
}

.card-body {
  .title_block {
    width: 100%;
    height: 103px;
    background-color: #ef9c00;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 11px 2px rgba(0, 0, 0, 0.25);
  }

  h5 {
    font-size: 40px;
    //font-size: 1.9rem;
    font-family: Fregat, sans-serif;
    font-weight: 700;
    letter-spacing: 0.8px;
  }

  .price {
    margin-bottom: .5rem !important;
    //margin-top: 45px;
  }
}


@media (max-width: 573px) {
  .card-body {
    width: auto;

    h5 {
      font-size: 2rem;
    }
  }
  .pricing-card {
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media (max-width: 470px) {
  .price_item {
    width: unset;
  }
  .price {
    margin-top: 12px !important;

    h1 {
      font-size: 22px;
    }
  }
}

@media (max-width: 735px) {
  .price {
    justify-content: space-around;

  }
  .l-footer__nav {
    padding: 3px;
  }
}

