<div class="landing-section-wrapper">
  <div class="news_landing">

    <div class="news_landing__picture img-bg-color landing_picture ">
      <h4>Новости</h4>
      <div class="picture-container"><img [src]="(previewImg | async)" alt="news">
      </div>
    </div>
    <div class="news_landing__sConteiner container mt10">
      <div class="news_landing__aside">
        <div class="news_landing__main">
          <ng-template #dynamicNews class="landing-section-wrapper"></ng-template>
        </div>
      </div>

    </div>
  </div>
</div>

