@import "~src/assets/style_components/colors.component";
@import "~src/assets/style_components/button";

.landing_picture {
  position: absolute;
  top: 1px;
  height: 331px;
  background: url('~src/assets/images/background/main-green-black.png') no-repeat local 50% 60%;
  width: 100%;
}

.landing-section-wrapper {
  width: 100%;
  height: auto;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}

.news_landing {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &__aside {
    width: 100%;
    background-color: #fffF;
  }

  &__picture {
    height: 397px;
    width: 100%;
    background-blend-mode: overlay;
    background-size: cover;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

    h4 {
      text-transform: uppercase;
      font-family: Fregat_bold, sans-serif;
      font-size: 48px;
      color: $white;
      padding-top: 50px;
    }
  }

  &__main {
    &__item {
      &__content {
        &__title {
          text-transform: uppercase;
          color: $orange;
          padding-bottom: 30px;
          font-size: 2rem;
          text-align: center;
        }
      }
    }
  }

  &__sConteiner {
    max-width: 951px !important;
    margin-top: 7rem;
    margin-bottom: 7rem;
    width: 100%;
    //max-width: 900px;
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 32px !important;
    background-color: white !important;
    border: 1px solid white;
    -webkit-box-shadow: 0px 14px 18px 4px rgba(184, 200, 219, 1);
    -moz-box-shadow: 0px 14px 18px 4px rgba(184, 200, 219, 1);
    box-shadow: 0px 14px 18px 4px rgba(184, 200, 219, 1);
  }
}

.picture-container {
  position: absolute;
  right: 1px;

  img {
    max-width: 320px;
  }

  @media screen and(max-width: 1500px) {
    img {
      max-width: 220px;
    }
  }
  @media screen and(max-width: 1310px) {
    img {
      max-width: 150px;
    }
  }
  @media screen and(max-width: 590px) {
    img {
      max-width: 110px;
    }
  }
  @media screen and(max-width: 415px) {
    img {
      max-width: 70px;
    }
  }
}

.news_landing__aside {
  border-radius: 32px !important;
  //background: white url(../../../assets/images/back-logo-top.jpeg) no-repeat;
  background-size: contain;
}

.news_landing__main__item {
  text-transform: uppercase;
  margin-top: 2rem !important;
}

.mt10 {
  margin-top: 10rem;
}
