@import "./../grouping/group-category/group-category.component";
span, a {
  color: $green;
  //font-size: xx-large;
  font-family: Fregat_bold, sans-serif;
}

a:hover {
  color: white ! important;
  background-color: green !important;
}
.c-btn {
  padding: 11px 17px 10px 27px;
  font-size: 0.9rem;
  width: 173px;
}
.pt-custom {
  padding-top: 3rem!important;
}
