<div class="d-flex pt-custom justify-content-center flex-column">
  <div class="d-flex align-items-center text-center justify-content-center">
    <span [ngStyle]="{display: (!emptyCat)? 'none': 'block'}">В данной категории нет заявок</span>
  </div>
  <div class="text-center" [ngStyle]="(!emptyCat) ? styleCat: {}">
    <a class="c-btn c-btn_out_line c-btn_cs ml-4" [routerLink]="categoryName">Оставить заявку</a>
  </div>
</div>
