h2 {
  font-family: Fregat_bold, sans-serif;
}
.btn {
  background-color: #ffffff !important;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  color: black;
  font-size: 1.2rem;
}
.text-center {
  font-size: 22px;
  font-family: Fregat, sans-serif;
  font-weight: 700;
  text-decoration: underline;
  letter-spacing: 0.44px;
  color: #ee9b00;
  position: relative;
  top: 47px;
}
