<!--<div class="text-center">Выберите удобный для вас Messenger</div>-->
<h2 class="pt-5 pb-1 text-center">Подключить Messenger</h2>
<div class="row p-5 m-0">

  <button *ngFor="let data of dataMessengers"
          matTooltip="{{data?.item?.description}}"
          matTooltipShowDelay="500"
          (click)="onSelect(data?.item?.webhook_link)"
          [disabled]="data?.click"
          class="col btn btn-success" [ngClass]="(data?.click) ? 'active': ''">
    <i *ngIf="data?.click" class="fas fa-check" aria-hidden="true"></i>
    {{data?.item?.name}}</button>
</div>
