.foto_box{
  background-color:#000000;
  height: 300px;

}
.foto {
  background: url('./../../assets/images/background/main-green-black.png') no-repeat local 50% 56%;
  position: absolute;
  height: 40%;
}

.content {
  margin-top: 5rem;
  @media(max-width: 385px) {
    margin-top: 3rem;
  }
}

.card-image {
  border-radius: 26px;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 73% 150%;
  background-position-x: 115%;
  background-position-y: 73%;
  min-width: 289px;
  max-width: 322px;
}
.h2 {
  font-size: 1.7rem!important;
  font-family: Fregat, sans-serif;
}
.h1 {
  color: white;
  font-weight: bold;
  font-family: Fregat_Bold, sans-serif;
  font-size: 48px;
  @media(max-width: 560px) {
    font-size: 36px;
  }
  @media(max-width: 385px) {
    font-size: 29px;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.text-white {
  transition: all 1s;
}
.text-white:hover {
  background-color: rgba(124, 124, 124, 0.7);
  background-blend-mode: darken;
}

.shadow {
  box-shadow: 0 14px 18px 4px #b8c8db;
}

.heightC {
  //height: calc(100vh - 150px);
  //padding: 1rem!important;
  min-height: 430px;
}
