<div class="foto container-fluid">
  <div class="row pt-5 text-center">
    <h1 class="h1 mx-auto pb-5">{{title | uppercase}}</h1>
  </div>
</div>

<div class="container p-1 pb-4 content">
  <div class="row p-3 pt-5 heightC d-flex align-items-center justify-content-center">
    <div class="p-3" *ngFor="let val of dataList | async">
      <!-- Card -->
      <ng-container *ngIf="val?.img else next">
        <div class="card card-image cursor-pointer" (click)="redirectC(val.id)" [ngStyle]="{'background-image':'url('+val.img +' )'}  ">
          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div class="mx-auto">
              <span class="h2">{{val.type}}</span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #next>
<!--        <div class="card card-image cursor-pointer" (click)="redirectC(val.id)"-->
<!--             [ngStyle]="{'background-image':'url('+imagesMappingAuto(val.id).src +' )'}  ">-->
<!--          &lt;!&ndash; Content &ndash;&gt;-->
<!--          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">-->
<!--            <div class="mx-auto">-->
<!--              <span class="h2">{{val.type}}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </ng-template>

      <!-- Card -->
    </div>

  </div>
</div>
