<div #search_tab class="search_landing__tab">

  <ng-container *ngIf="!account && !tariff">

    <button class="tablinks col" data-groupName="Auto" (focus)="focusFunction($event,0)"
            [routerLink]="['auto']">Авто
    </button>
    <button [ngStyle]="{display: 'none'}"></button>
    <!--    <button [ngStyle]="{display: 'none'}" class="tablinks" data-groupName="Electronics" (focus)="focusFunction($event,1)"-->
    <!--            [routerLink]="['electronics']">Электроника-->
    <!--    </button>-->
    <button class="tablinks col" data-groupName="Property" (focus)="focusFunction($event, 2)"
            [routerLink]="['property']">Недвижимость
    </button>
    <button class="tablinks col" data-groupName="Other" (focus)="focusFunction($event, 3)"
            [routerLink]="['other']">Другое
    </button>
    <button class="tablinks col" data-groupName="Work" (focus)="focusFunction($event, 4)"
            [routerLink]="['work']">Работа
    </button>
    <button class="tablinks col" data-groupName="Legal" (focus)="focusFunction($event, 5)"
            [routerLink]="['legal']">Юристы
    </button>
    <button class="tablinks col" data-groupName="Quest" (focus)="focusFunction($event, 6)"
            [routerLink]="['quest']">Квест
    </button>
    <!--    <button class="tablinks col" data-groupName="Autoproducts" (focus)="focusFunction($event, 4)"-->
    <!--            [routerLink]="['autoproducts']">Автотовары-->
    <!--    </button>-->

  </ng-container>
  <ng-container *ngIf="account">

    <button class="tablinks col" data-groupName="Auto"
            data-attrIndex="0"
            (click)="getAttrNameStaps($event, 0)">Авто {{ notRead | FindLengthPipe : 'auto'}}</button>
    <button [ngStyle]="{display: 'none'}"></button>
<!--        <button class="tablinks" data-groupName="Electronics" (click)="getAttrNameStaps($event, 1)">Электроника</button>-->
    <button class="tablinks col" data-groupName="Property" data-attrIndex="2"
            (click)="getAttrNameStaps($event, 2)">Недвижимость {{ notRead | FindLengthPipe : 'property'}}</button>
    <button class="tablinks col" data-groupName="Other" data-attrIndex="3"
            (click)="getAttrNameStaps($event, 3)">Другое {{ notRead | FindLengthPipe : 'other'}}</button>
    <button class="tablinks col" data-groupName="Work" data-attrIndex="4"
            (click)="getAttrNameStaps($event, 4)">Работа {{ notRead | FindLengthPipe : 'work'}}</button>
    <button class="tablinks col" data-groupName="Legal" data-attrIndex="5"
            (click)="getAttrNameStaps($event, 5)">Право {{ notRead | FindLengthPipe : 'legal'}}</button>
    <button class="tablinks col" data-groupName="Quest" data-attrIndex="6"
            (click)="getAttrNameStaps($event, 6)">Квест {{ notRead | FindLengthPipe : 'quest'}}</button>
    <!--    <button class="tablinks col" data-groupName="Autoproducts" data-attrIndex="4" (click)="getAttrNameStaps($event, 4)">Автотовары</button>-->

  </ng-container>
  <ng-container *ngIf="tariff">

    <button class="tablinks col" data-groupName="Стандарт" (click)="getAttrNameStaps($event, 0)">Стандарт</button>
    <button class="tablinks col" data-groupName="Бизнес" (click)="getAttrNameStaps($event, 1)">Бизнес</button>
    <button class="tablinks col" data-groupName="Премиум" (click)="getAttrNameStaps($event, 2)">Премиум</button>

  </ng-container>
</div>

<div class="search_landing__bottom">
  <router-outlet></router-outlet>
</div>
