@import "../../../../assets/style_components/colors.component";
@import "../../../../assets/style_components/button";

.disable {
  background-color: red !important;
  font-size: 12px;
}
.tablinks {
  &:first-child {
    border-radius: 10px 0 0 10px;
  }
  &:last-child {
    border-radius: 0 10px 10px 0;
  }
}
.search_landing {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &__bottom {
    transition: all 0.75s;
  }

  &__title {

    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: inherit;
      font-family: Fregat, sans-serif;
      margin-bottom: 0;
      margin-top: 17px;
      font-size: 20px;
    }

  }

  &__tab {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #cccccc40;
    margin-top: 20px;

    button {
      position: relative;
      border: 1px solid #07080778;
      font-weight: 200;
      text-align: center;
      font-family: Fregat_Bold, sans-serif;
      background-color: #ffffff;
      color: $black;
      height: 35px;
      width: 115px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {

        transform: translateY(-7px);
        background-color: #ef9c00;

        &:above-level {
          content: "";
          background-color: #292c37;
        }

      }

      &:focus {
        transform: translateY(-7px);
        box-shadow: 0px 0px 16px 0px #ffffff;
      }

      a {
        line-height: 31px;
        display: block;
        text-align: center;

        font-size: 0.9em;
        color: $white;
        //width: 100px;
        cursor: pointer;
        text-decoration: none;
        font-family: Fregat_Bold, sans-serif;
      }
    }

    &__active {
      background-color: #cc2c40;
    }
  }
}

@media(max-width: 550px) {
  .tablinks {
    overflow: hidden;
    font-size: 12px;
    padding: 0;
    box-sizing: border-box;
  }

}
