@import "../../../../../../assets/style_components/colors.component";
@import "../../../../../../assets/style_components/button";
button {
  font-family: Fregat, sans-serif !important;
}
.tariff_option {
  font-family: Fregat, sans-serif;
  width: 850px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid #c7cce2;

  &__discount {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__sum {
      font-size: 18px;

      span:first-child {
        font-size: 25px;
      }

      span:nth-child(2) {
        i {
          color: $green;
          font-size: 25px;
        }
      }
    }

    &__saving {
      font-size: 15px;

      i {
        color: $green;
      }
    }
  }

  date-picker {
    font-size: 15px;

    span {

      input.datepicker-actions__input {
        font-family: Fregat, sans-serif;
        font-size: 1.6rem;
      }
    }
  }

  span {
    font-family: Fregat, sans-serif;
  }

  &:first-child {
    padding-top: 30px;
  }

  &__item {
    padding-bottom: 18px;
    flex-direction: column;
    display: flex;
    width: 203px;

    label {
      padding-left: 15px;
      color: $black;
      font-family: Fregat, sans-serif;
      font-size: 16px;

      &:last-child {
        border-bottom: 1px solid $black;
      }
    }
  }

}

.strikethrough {
  font-family: Fregat, sans-serif;
  position: relative;
  padding-right: 17px;
  font-size: 29px;
  color: red;
}

.strikethrough:before {
  border-bottom: 2px solid $black;
  position: absolute;
  content: "";
  width: 88%;
  left: -6px;
  top: -2px;
  height: 50%;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-14deg);
}

.base_tariff_form {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &_item_date {

  }

}

.customBtnPosition__colors {
  background-color: gray;
}

.options_pay {
  position: relative;
  text-align: right;
}

.modal-title {
  font-family: Fregat, sans-serif;
  text-decoration: unset;
}

.activate {
  color: $green;
}

::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}

.modal-body {
  overflow-y: auto;
}

.balance-btn {
  min-width: 100%;
  font-size: small;
  width: auto;
  color: black !important;
}

.mat-app-background {
  background-color: unset;
}

.btn-primary {
  border-radius: 20px;

  svg {
    font-size: 1.1rem;
  }
}

h4 {
  font-family: Fregat, sans-serif;
  text-decoration: underline;
}
.c-btn_primary {

  //background-color: green !important;
  &:hover {
    color: $white !important;
  }
}
.cdk-overlay-container {

}
