<div class="modal-contents">
  <div class="modal-header">
    <h4 class="modal-title"><i class="far fa-credit-card extend-request-time activate" aria-hidden="true"></i> Активация</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="pre-scrollable">
    <div class="modal-body">
      <h4>Заявка # {{model?.query_id}}/{{model?.titleQuery | lowercase}}</h4>
      <form [formGroup]="FormActivated" class="base_tariff_form" novalidate
            (ngSubmit)="save(FormActivated.value, FormActivated.valid)">
        <app-tariff [one_active_field]="true" [data_one_active]="model.tariff[0]"></app-tariff>
        <div class="base_tariff_form_item_date">
          <div class="mat-app-background basic-container">
            <mat-form-field class="example-full-width">
              <input matInput appDisableMInput=".base_tariff_form" [min]="minDate" [matDatepicker]="pickerstart"
                     [(ngModel)]="query_tariff_start" formControlName="query_tariff_start" placeholder="Начало поиска"
                     (dateChange)="changeDataFieldWithError()">
              <mat-datepicker-toggle matSuffix [for]="pickerstart"></mat-datepicker-toggle>
              <mat-datepicker #pickerstart></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="mat-app-background basic-container">
            <mat-form-field class="example-full-width" style="z-index: 1;" >
              <input matInput appDisableMInput=".base_tariff_form" [min]="minDate" [matDatepicker]="pickerend"
                     formControlName="query_tariff_end"
                     placeholder="Окончание поиска"
                     (dateChange)="changeDataFieldWithError()">
              <mat-datepicker-toggle matSuffix [for]="pickerend"></mat-datepicker-toggle>
              <mat-datepicker #pickerend (change)="changeDataFieldWithError()"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="tariff_option__discount">
            <div class="tariff_option__discount__sum">
              <span [@dialog] *ngIf="sum_day_old_query_tariff !== 0"
                    class="strikethrough">{{sum_day_old_query_tariff | round}} грн</span>
              <span [@dialog] *ngIf="sum_day_query_tariff !== 0"><i>{{sum_day_query_tariff | round}} грн</i></span>
            </div>
            <!--<span class="tariff_option__discount__saving" [@dialog] *ngIf="saving !== 0">Экономия: <i>{{saving | round}} грн</i></span>-->
            <span class="tariff_option__discount__saving" [@dialog] *ngIf="saving !== 0">Экономия: <i>{{saving | round}}
              грн</i></span>
          </div>
          <button type="submit" class="btn c-btn_primary mt-2"
                  [ngClass]="(isWalletPay || pay_visible) ? 'd-none': 'd-flex'"
                  [disabled]="FormActivated.invalid || errorb.length > 0">
            <i class="fas fa-check"></i>&nbsp;Подтвердить
          </button>
          <div class="options_pay">

            <a [@dialog] (click)="newWalletPay()"
               *ngIf="isWalletPay" class="c-btn c-btn_out_line c-btn_cs btn balance-btn">
              оплатить ( <i class="fas fa-money-bill-wave-alt"></i>&nbsp;<span *ngIf="balanceVisible; else next">&nbsp;{{balance}}</span>
              <ng-template #next>&nbsp;&nbsp;0</ng-template>
            </a>
          </div>
        </div>
      </form>
      <div class="text-center" [@dialog] *ngIf="!isWalletPay && pay_visible" [innerHTML]="theHtmlString | noSanitize"></div>
    </div>
  </div>
  <div class="modal-footer" style="padding: unset">
    <!--<button type="button" class="btn btn-danger" (click)="onConfirm()">Да</button>-->
    <button type="button" class="btn c-btn_primary" (click)="onCancel()">Выйти</button>
  </div>
</div>
