<div class="text-center pr-md-2 pl-md-2 pt-3 style_font" #boxText>
  <div class="box-text" [@openClose]="isOpen? 'open' : 'close'"
       [innerHTML]="SANITIZER.bypassSecurityTrustHtml(craftInfo?.desc)"></div>
</div>
