<div class="category-card-container_card cursor-poiner d-flex align-items-center"
     [ngStyle]="{'background-image': 'url(' +sVal?.src+ ')', 'background-size': 'cover'}"
     *ngFor="let sVal of selectedval" (click)="listenerClick(sVal.value)">
  <div class="category-card-container_card_substrate w-100 text-center text-uppercase">{{sVal?.options}}</div>
</div>
