@import "./../../../../assets/style_components/colors.component";
@import "./../../../../assets/fonts/Fregat/stylesheet.css";
.category-card-container {

  margin-top: 0.1rem;
  @media (min-width: 1800px) {
    margin-top: 9rem !important;
  }
  &_card {
    transition: all 0.6s;
    position: relative;
    //width: 182px;
    //height: 181px;
    width: 228px;
    height: 234px;
    filter: contrast(0.7);
    @media (min-width: 1800px) {
      width: 252px !important;
      height: 251px !important;
    }

    &:hover {
      filter: contrast(1);
    }
    &_substrate {
      font-family: Fregat, sans-serif;
      color: $black;
      letter-spacing: 0.44px;
      font-weight: 700;
      font-size: 17px;
      background-color: #ffffff99;
      width: 87% !important;
      position: relative;
      left: 16px;
    }

  }


}
