<div class="wq-container d-flex justify-content-center flex-column align-items-center">
  <!--  <div class="counter">-->
  <!--    <span class="counter__min">1</span>-->
  <!--    <span class="counter__divider"> - </span>-->
  <!--    <span class="counter__max">5</span>-->
  <!--  </div>-->
  <div class="sticky__container" [style.opacity]="(isHideStepper | async) ? 0: 1">
    <ng-container *ngFor="let active of Object.keys(objStickyActive)">
      <div class="sticky__container__sticky"
           (click)="stickyActive(active)"
           [ngClass]="(objStickyActive[active]
           ? 'sticky__container__sticky_active'
           : '')">"{{active}}"
      </div>
    </ng-container>

  </div>
  <ng-content></ng-content>
</div>
