
.counter {
  font-family: Fregat_Bold, sans-serif;
  font-size: 2rem;
}

.sticky__container {
  background-color: #54753a;
  //position: absolute;
  font-family: Fregat, sans-serif;
  top: 24%;
  right: 1px;
  position: fixed;
  z-index: 5;

  &__sticky {
    margin-bottom: 1px;
    transition: all 0.5s;
    cursor: pointer;
    width: 3.5rem;
    font-size: 2.2rem;
    text-align: center;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);


    &_active {
      background-color: green;
      color: white;

    }

    &:hover {
      background-color: green;
      color: white;
    }

  }

}

