@import "./../../assets/style_components/colors.component.scss";
#back-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  margin-left: 866px;
  z-index: 2;
}
#back-top a {
  //width: 108px;
  background-color: rgba(244, 164, 96, 0.01);
  display: contents;
  color: $white;
  //display: block;
  //background-color: $green;
  text-align: center;
  font-family: Fregat_Bold, sans-serif;
  text-decoration: none;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  transition: 2s;
  line-height: 30px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 2;

  &>span {

    font-size: 5rem;
    color: $green;
    transition: all 0.90s;

    &>i {
      font-size: 5rem;
      color: $green;
      transition: all 0.90s;

    }


  }

}
.cover {

  background-color: $white;
  height: 35px;
  width: 59px;
  border-radius: 100px;
  bottom: 30px;
  padding: 0 0 -7px;
  position: absolute;
  right: -1%;
}
.i-first {
  transition: all 0.90s;
  top: -21px;
  right: 2px;
  position: relative;
  &:hover {

    color: $dark-green;

  }
}

.app-chat {
  max-height: 470px;
  background-color: white;
  transition: all 0.7s;
  position: fixed;
  right: 26px;
  bottom: -1px;
  z-index: 333;
  height: calc( 130% / 2);
  width: 340px;
  cursor: pointer;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 40px !important;

  &:hover{
    -webkit-box-shadow: $orange;
    -moz-box-shadow: $orange;
    box-shadow: $orange;
    border-color: $orange;
  }
}

@media screen and (max-width: 420px) {
  .app-chat {
    right: 0;
    width: 100%;
    height: 100%;
  }
}

