<div class="contact_landing">
  <div class="contact_landing__title">
    <h4>Укажите контактные данные</h4>
  </div>
  <div>
    <form [formGroup]="contactsForm" class="contact_form" novalidate>

      <div class="contact_form__item">
        <div class="error-v" *ngIf="!contactsForm.get('phone').valid"><i class="fas fa-exclamation-triangle"></i></div>
        <label for="form3">Телефон <i class="example-field">"(999)999-999"</i></label>
        <span class="pre-phone">+38</span>
        <input formControlName="phone" mdbValidate mdbInput type="text" [textMask]="{mask: areaCodeMask}"
               class="pl-5 c-input c-input_sm" id="form3">

        <mdb-success *ngIf="contactsForm.controls.phone.valid
        && (!contactsForm.controls.phone.valid || contactsForm.controls.phone.valid)"></mdb-success>
      </div>

      <div class="contact_form__item">
        <div class="error-v" *ngIf="!contactsForm.get('first_name').valid"><i class="fas fa-exclamation-triangle"></i>
        </div>
        <label for="form4">Имя</label>
        <input id="form4" class="c-input c-input_sm" placeholder="Имя" type="text" formControlName="first_name"/>
        <mdb-error *ngIf="contactsForm.controls.first_name.errors?.minlength
        && (contactsForm.controls.first_name.dirty || contactsForm.controls.first_name.touched)">Минимум 5 символов
        </mdb-error>
        <mdb-success *ngIf="contactsForm.controls.first_name.valid &&
         (contactsForm.controls.first_name.dirty || contactsForm.controls.first_name.touched)"></mdb-success>
      </div>

      <div class="contact_form__item">
        <div class="error-v" *ngIf="!contactsForm.get('last_name').valid"><i class="fas fa-exclamation-triangle"></i>
        </div>
        <label for="form5">Фамилия</label>
        <input id="form5" class="c-input c-input_sm" placeholder="Фамилия" type="text" formControlName="last_name"/>
        <mdb-error *ngIf="contactsForm.controls.last_name.errors?.minlength
        && (contactsForm.controls.last_name.dirty || contactsForm.controls.last_name.touched)">Минимум 5 символов
        </mdb-error>
        <mdb-success *ngIf="contactsForm.controls.last_name.valid &&
         (contactsForm.controls.last_name.dirty || contactsForm.controls.last_name.touched)"></mdb-success>
      </div>

      <div class="contact_form__item">
        <div class="error-v" *ngIf="!contactsForm.get('email').valid"><i class="fas fa-exclamation-triangle"></i></div>
        <label for="form6">Электронная почта</label>
        <input id="form6" class="c-input c-input_sm" mdbValidate mdbInput
               placeholder="Электронная почта" type="text" formControlName="email"/>
        <mdb-error *ngIf="contactsForm.controls.email.errors?.pattern
         && (contactsForm.controls.email.dirty || contactsForm.controls.email.touched)">Некорректный формат
        </mdb-error>
      </div>
      <div class="contact_form__item">
        <div class="error-v" *ngIf="!contactsForm.get('password').valid"><i class="fas fa-exclamation-triangle"></i>
        </div>
        <label for="form7">Пароль</label>
        <input id="form7" class="c-input c-input_sm"
               appLoginViewPassword [app-view-password]="passwordView"
               placeholder="Пароль" type="password" formControlName="password"/>
        <span (click)="passwordView = !passwordView" matTooltip="показать / скрыть"
              *ngIf="passwordView; else showVisible"
              [ngStyle]="passwordGlStyle"
              matTooltipShowDelay="500" class="view-pass">
          <i [ngClass]="'fas fa-eye-slash'"
             aria-hidden="true"></i></span>
        <ng-template #showVisible>
            <span (click)="passwordView = !passwordView" matTooltip="показать / скрыть"
                  [ngStyle]="passwordGlStyle"
                  matTooltipShowDelay="500" class="view-pass"><i
              [ngClass]="'fas fa-eye'"
              aria-hidden="true"></i></span>
        </ng-template>

        <mdb-error *ngIf="contactsForm.controls.password.errors?.minlength
        && (contactsForm.controls.password.dirty || contactsForm.controls.password.touched)">Минимум 5 символов
        </mdb-error>
        <mdb-success *ngIf="contactsForm.controls.password.valid
        && (contactsForm.controls.password.dirty || contactsForm.controls.password.touched)"></mdb-success>
      </div>
      <div class="contact_form__item">
        <div class="error-v" *ngIf="!contactsForm.get('confirmPassword').valid"><i
          class="fas fa-exclamation-triangle"></i></div>
        <label for="form8">Подтвердить пароль</label>
        <input id="form8" class="c-input c-input_sm"
               appLoginViewPassword [app-view-password]="passwordConfirmView"
               placeholder="Подтвердить пароль" type="password"
               formControlName="confirmPassword"/>
        <span (click)="passwordConfirmView = !passwordConfirmView" matTooltip="показать / скрыть"
              *ngIf="passwordConfirmView; else showVisiblePasswordConfirmView"
              [ngStyle]="passwordGlStyle"
              matTooltipShowDelay="500" class="view-pass"><i
          [ngClass]="'fas fa-eye-slash'"
          aria-hidden="true"></i></span>
        <ng-template #showVisiblePasswordConfirmView>
            <span (click)="passwordConfirmView = !passwordConfirmView" matTooltip="показать / скрыть"
                  [ngStyle]="passwordGlStyle"
                  matTooltipShowDelay="500" class="view-pass"><i
              [ngClass]="'fas fa-eye'"
              aria-hidden="true"></i></span>
        </ng-template>
        <mdb-error *ngIf="contactsForm.controls.confirmPassword.errors?.required
        && (contactsForm.controls.confirmPassword.dirty)">Обязательно к заполнению
        </mdb-error>
        <mdb-error *ngIf="contactsForm.controls.confirmPassword.errors?.minlength
        && (contactsForm.controls.confirmPassword.dirty || contactsForm.controls.confirmPassword.touched)">
          Минимум
          5
          символов
        </mdb-error>
        <mdb-error *ngIf="contactsForm.controls.confirmPassword.errors?.mustMatch
        && (contactsForm.controls.confirmPassword.dirty)">Пароли не совпадают
        </mdb-error>
      </div>

      <div class="confirmbtn mt-5" *ngIf="isOneRegVisible | async">
        <button
          [ngClass]="(!contactsForm.valid) ?
          'c-btn c-btn_sm c-btn_inline goNext c-btn_primary_disabled step-btn step-btn_disable':
          'c-btn c-btn_sm c-btn_inline goNext c-btn_primary step-btn'"
          [disabled]="!contactsForm.valid"
          (click)="goNextM()">Зарегистрироваться&nbsp;<i class="fas fa-angle-right"></i></button>
      </div>
    </form>
  </div>
</div>
