@import "../../../../assets/style_components/colors.component";
@import "../../../../assets/style_components/button";
@import "../../../../assets/style_components/inputs.component";
@import "../../../../assets/style_components/select.component";

//@font-face {
//  font-family: Rubik-Bold; /* Имя шрифта */
//  src: url(../../../../assets/font_components/rubic/Rubik-Bold.ttf); /* Путь к файлу со шрифтом */
//}
//
//@font-face {
//  font-family: Fregat_bold; /* Имя шрифта */
//  src: url(../../../../assets/font_components/fregat/Fregat_bold.otf); /* Путь к файлу со шрифтом */
//}
//
//@font-face {
//  font-family: Fregat_regular; /* Имя шрифта */
//  src: url(../../../../assets/font_components/fregat/Fregat_regular.otf); /* Путь к файлу со шрифтом */
//}

.c-input {
  width: 0;
}

.centerOption {
  margin-bottom: 15px;
}
.c-input_sm {
  margin: 0 !important;
}
.c-select {
  margin: 11px;
}

.contact_landing {
  font-family: Fregat, sans-serif;
  //width: 850px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  //border-bottom: 1px solid #c7cce2;

  &__title {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: inherit;
      font-family: Fregat, sans-serif;
      margin-bottom: 0;
      margin-top: 17px;
      font-size: 20px;
    }
  }
}
.pre-phone {
  position: absolute;
  bottom: 4px;
  left: 12px;
  font-size: 22px;
  font-weight: bold;
  color: red;
  background-color: floralwhite;
}
.contact_form {
  font-family: Fregat, sans-serif;
  //width: 850px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #c7cce2;
  //margin-bottom: 60px;

  &:first-child {
    padding-bottom: 3%;
  }

  &__item {
    position: relative;
    padding-top: 1%;
    padding-bottom: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: -webkit-box;
    display: flex;
    width: 316px;

    input.ng-touched.ng-invalid {
      border: solid red 2px;
    }

    input.ng-touched.ng-valid {
      border: solid green 2px;
    }

    label {
      padding-left: 15px;
      font-size: 16px;
    }

    .example-field {
      border-bottom: 1px solid gray;
      color: grey;
      font-family: Fregat_Bold, sans-serif;
    }

    @media (max-width: 600px) {
      width: unset;
    }

  }

  &__item_date {
    padding-top: 5%;
    padding-bottom: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: -webkit-box;
    display: flex;
    width: 316px;
  }
}

.free {
  //height: 30px;
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 76%;
  bottom: 42px;
  left: 15px;
}

.alert {
  //position: relative;
  //padding: 0.05rem 1.25rem;
  //margin-bottom: 1rem;
  //border: 1px solid transparent;
  //border-radius: 0.25rem;
  //width: 93%;
  //top: -9px;
  //right: -4%;
  top: 35px;
  position: absolute;
  padding: 0.05rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 93%;
  //top: 47px;
}

.error-message {
  position: absolute;
  top: 82px !important;
  left: 10px !important;
  font-size: .8rem;
  color: #f44336;
}
.error-v {
  position: absolute;
  right: 57px;
}
@media (max-width: 425px) {
  .c-select__wrapper_lg, .c-btn_lg {
    min-width: 346px;
    width: 346px;
  }
}
