<div class="modal-header">
  <h4 class="modal-title"><i class="fa fa-list show-found" aria-hidden="true"></i>
    Найдено
    <ng-container *ngIf="0<show_found.length">{{show_found.length}}</ng-container>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ng-container *ngIf="0<show_found.length">

  <div class="tab-content card pre-scrollable" id="myTabContentJust">


    <mat-accordion>
      <mat-expansion-panel #linkSelector *ngFor="let group of showFoundGroupsPreList"
                           (opened)="foundSQ = group.dataList; currentGroup = group.group;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{group?.group}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <ng-container *ngFor="let fDataList of foundSQ" class="tab-pane fade show active">
            <div role="tabpanel"
                 aria-labelledby="home-tab-just">
              <li class="list-group-item" (mouseenter)="updateNotification(fDataList)">
                <span *ngIf="fDataList.isRead" [ngClass]="{'isRead': fDataList.isRead}"><i>Новое</i></span>
                <div class="title_found" [ngStyle]="{display: (fDataList.name)? 'block' : 'none'}">Название:</div>
                {{ fDataList.name }}

                <ng-container *ngIf="fDataList?.href">
                  <ng-container *ngIf="(fDataList?.service === 'QUEST'); else nHref">
                    <div class="title_found">Изображение:</div>
                  </ng-container>
                  <ng-template #nHref>
                    <div class="title_found">Ссылка:</div>
                  </ng-template>
                </ng-container>

                <a [attr.href]="fDataList?.href" target="_blank">{{ fDataList?.href }}</a>
                <ng-container *ngIf="(fDataList?.service === 'QUEST'); else nFD">
                  <div class="title_found">Добавлено:</div>
                </ng-container>
                <ng-template #nFD>
                  <div class="title_found">Время найденой услуги:</div>
                </ng-template>

                {{ fDataList.find_time }} {{ fDataList.find_data }}

                <!--          {{fDataList.coast | showCoast}} {{fDataList?.query_currency}}-->
                <ng-container *ngIf="fDataList?.coast.indexOf('undefined') < 0">
                  <div class="title_found">Цена</div>
                  {{fDataList?.coast | showCoast: fDataList.service: fDataList.query_currency}}
                </ng-container>
                <div class="title_found" [ngStyle]="{display: (fDataList.notif_phone)? 'block' : 'none'}">Тел..</div>
                {{fDataList.notif_phone}}
              </li>
            </div>
          </ng-container>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

</ng-container>

<div class="modal-footer" style="padding: unset">
  <!--<button type="button" class="btn btn-danger" (click)="onConfirm()">Да</button>-->
  <button type="button" class="btn c-btn_primary" (click)="onCancel()">Выйти</button>
</div>
