@import "../../../../../../assets/style_components/colors.component";
//@import './../../../../../../assets/fonts/Fregat/stylesheet.css';
//@import './../../../../../../assets/fonts/roboto/roboto.css';
div {
  font-family: Fregat, sans-serif;
}

.title_found {
  font-family: Fregat_Bold, sans-serif;

}

.nav-item {
  //border-radius: 11px;
  margin: 1px;
}

.nav-link {
  color: white;
  background-color: $gray;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  //.active{
  //
  //}
}

.nav-link.active {
  color: $white !important;
  background-color: $green !important;
}

.arrow-container {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: pointer;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    background-color: #2be22ba1;
  }

  i {
    font-size: 1.8rem;
    color: white;
    border: 1px white solid;
    padding: 6px;
    border-radius: 6px;
    background-color: #008000a1;
  }
}

.emptyBlock {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  //font-family: Fregat, sans-serif;
  display: block;
  text-align: center;
  font-size: 2em;
}

.isRead {
  font-family: Fregat, sans-serif;
  position: absolute;
  right: 7px;
  top: 1px;
  display: flex;
  align-items: center;

  i {
    position: absolute;
    transform: rotate(43deg);
    z-index: 24;
    right: -2px;
    top: 13px;
    color: white;
  }
}

.isRead:after {
  content: "";
  border: 30px solid transparent;
  border-left: 30px solid #0dd50d82;
  border-bottom: 30px solid #0dd50d82;
  width: 0;
  height: 0;
  transform: rotate(180deg);
}
.c-btn_primary {
  &:hover {
    color: $white !important;
  }
}
