<section class="h-section">
  <div class="sentence">
    <a target="_blank"
       class="c-btn_out_line c-btn_cs ml-4"
       href="https://t.me/????start">
      <img _ngcontent-ble-c182=""
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/40px-Telegram_2019_Logo.svg.png"
           alt="логотип" class="logo ng-tns-c182-1">
      Попробуйте в телеграмм</a></div>
  <div class="container ">
    <div class="main">
      <div class="row mPk">
        <div class="col justify-content-center text-center d-flex z-index-2">
          <div class="main__title">
            <h1>???</h1>
            <p class="main__title__tag-line">Сайт, который ищет</p>
            <span class="main__title__icon">
                         <i class="fas fa-chevron-down"></i>
                     </span>
          </div>
        </div>
      </div>
      <app-hero-form class="row category-card-container justify-content-center"></app-hero-form>
      <div class="row justify-content-center main__leave">
        <button class="c-btn c-btn_primary c-btn_lg" routerLink="/leave/search">Оставить заявку</button>
      </div>
    </div>
  </div>
  <div class="laptop">
    <img src="./../../../assets/images/background/noteb.png">
  </div>
</section>
