.h-section {
  background: url(./.././../../assets/images/background/main-green-black.png) no-repeat local 50% 50%;
  background-size: cover;
  @media (max-width: 600px) {
    background: none;
  }
}

.mPk {
  @media (max-width: 600px) {
    display: none;
  }
}

h1, h2, .tag-line {

  font-family: Fregat, sans-serif;
  text-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    color: #ffffff;
    font-size: 100px;
    font-weight: bold;
    /* Text style for "Sishik" */
    letter-spacing: 2px;
  }

  &__title {
    float: right;
    padding-top: calc(5vh + 37px);

    @media (min-width: 1800px) {
      padding-top: 145px !important;
    }

    &__tag-line {
      color: #ffffff;
      font-size: 45px;
      font-family: Fregat, sans-serif;
      font-weight: bold;
      letter-spacing: 1.4px;
      @media (min-width: 1800px) {
        font-size: 55px !important;
      }
    }

    &__icon {
      text-align: center;
      font-size: 3.5rem;
      color: white;
    }
  }

  &__leave {
    margin-top: 25px;
    margin-bottom: 45px;

    @media (min-width: 1800px) {
      margin-top: 80px !important;
      margin-bottom: 100px !important;
    }
  }
}

.sentence {
  position: absolute;
  top: 5px;
  z-index: 5;
  transition: all 0.4s;

  a {
    font-size: 11px;
    width: 173px;
    background-color: white;
    max-width: 240px;
    margin: 0;
    font-family: Fregat_Bold, sans-serif;
    border: unset;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: orange;
    border: 1px solid green;

    &:hover {
      width: 240px;
      text-transform: uppercase;
      color: green;
      border: 1px solid orange;
    }
  }

  @media screen and(max-width: 600px) {
    position: relative;
    display: flex;
    justify-content: center;
  }
}

.laptop {
  position: absolute;
  top: -16px;
  //left: 0;
  right: -133px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;

  //max-width: 100%;
  width: 42%;
  //max-width: 40%;
  //height: 37%;
  height: 30%;

  @media (min-width: 1800px) {
    top: 1px !important;
  }

  img {
    max-width: 100%;
    //max-width: 38%;
  }
}

@media (max-width: 1200px) {
  .laptop {
    img {
      max-width: 100%;
      //max-width: 42%
    }
  }
}

@media (max-width: 994px) {
  .main__title {
    width: 100%
  }
  .laptop {
    display: none
  }
}

@media (max-width: 330px) {
  .c-btn {
    width: 72%;
    font-size: 1rem;
    min-width: 15rem;
  }
}

.z-index-2 {
  z-index: 2;
}
