<div [ngStyle]="{height: height}">
  <mat-toolbar [ngStyle]="{position: position, 'top': top}" #matToolbar>
    <button mat-icon-button (click)="sidenav.toggle(); seeSidenav()" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="container d-flex align-items-center">
      <span class="cursor-poiner" [routerLink]="'/'" ><img class="logo" src="./../../../assets/images/logo/logo.png" alt="логотип"></span>
      <a class="cursor-poiner logoText" [routerLink]="'/'" >???</a>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a mat-button [routerLink]="'/features'" class="n">Особенности</a>
        <a mat-button [routerLink]="'/how-to-app'" class="">Как это работает</a>
        <a mat-button [routerLink]="'/price' " class="">Цены</a>
      </div>
      <span class="menu-spacer"></span>
      <div class="btn_group d-flex">

        <button
          [@dialog]
          (click)="showDialog = !showDialog; upTop(); setLoginForm(); customSideNavClose(sidenav)"
          *ngIf="btnLoging === false"
          class="c-btn c-btn_out_line c-btn_cs ml-4"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Войти</button>

        <button
          (click)="openLk(); customSideNavClose(sidenav)"
          appNavClose *ngIf="btnLoging === true" [@dialog]
          class="c-btn c-btn_out_line c-btn_cs ml-4" [routerLink]="'/leave'"><i class="size-icon far fa-user"></i>&nbsp;&nbsp;Личный кабинет</button>
        <button
          (click)="customSideNavClose(sidenav)"
          class="c-btn c-btn_primary c-btn_cs ml-4" [routerLink]="'/leave'"><i class="size-icon far fa-edit"></i>&nbsp;&nbsp;Оставить заявку</button>
        <button
          [@dialog]
          *ngIf="btnLoging === true"
          (click)="openModal(template); customSideNavClose(sidenav)"
          class="c-btn c-btn_out_line c-btn_cs ml-4"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Выйти</button>
      </div>
    </div>
  </mat-toolbar>
  <mat-drawer-container (click)="seeSidenav()" class="menu-container" [ngClass]="newDrawerClass" fxFlexFill>
    <mat-drawer #sidenav mode="over" class="w-100">
      <mat-nav-list class="d-flex h-100  flex-column align-items-center justify-content-center">
        <a mat-button [routerLink]="'/features'" (click)="sidenav.toggle(); seeSidenav()" class="nav-link nav-bar_custom_color mobile-link">Особенности<span
          class="sr-only">(current)</span></a>
        <a mat-button [routerLink]="'/how-to-app'" (click)="sidenav.toggle(); seeSidenav()" class="nav-link nav-bar_custom_color mobile-link">Как это работает</a>
        <a mat-button [routerLink]="'/price' " (click)="sidenav.toggle(); seeSidenav()" class="nav-link nav-bar_custom_color mobile-link">Цены</a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content style="overflow: hidden">
      <ng-content>
      </ng-content>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<app-appdialog [(visible)]="showDialog">
  <app-login (closeD)="closeDialog($event)"></app-login>
</app-appdialog>

<ng-template #template>
  <div class="alert-bo">
    <div class="modal-header">
      <h4 class="modal-title title">Выход</h4>
      <button type="button" class="close" aria-label="Close" [mat-dialog-close]>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Вы действительно хотите выйти ?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" [mat-dialog-close] (click)="onConfirm()">Да</button>
      <button type="button" class="btn c-btn_primary" [mat-dialog-close]>Нет</button>
    </div>
  </div>
</ng-template>
