@import "../../../assets/style_components/colors.component";
@import "../../../assets/style_components/button_new";
//@import "../../../assets/style_components/button";
.drawerHIle {
  height: unset !important;
  min-height: unset !important;
  min-width: 100%;
  width: 100%;
  background-color: #a02e2e00;
}
.c-btn_out_line {
  &:focus {
    color: $black !important;
  }
  &:active {
    color: $black !important;
  }
  &:hover {
    color: $black !important;
  }
}
.btn {
  padding: 13px 25px !important;
  border-radius: 30px !important;
  min-width: 80px;

}

.drawerShow {
  height: 110% !important;
  min-height: 110% !important;
  min-width: 100%;
  width: 100%;
  background-color: #a02e2e00;
}

.c-btn_cs[_ngcontent-c1] {

  //padding: 5px 25px 5px 26px !important;
}

.mobile-link {
  font-size: 1.5rem;
}

mat-toolbar {
  transition: all 0.6s ease-out;
  background-color: white;
  //height: 85px !important;

  height: 65px !important;
  z-index: 294;
  box-shadow: 0px 2px 10.92px 2.08px rgb(8, 8, 7);
}

.menu-spacer {
  flex: 1 1 auto;
}

span {
  user-select: none;
  border: none;
  outline: 0;
}

.logo {
  max-width: 3.7rem;
  //max-width: 4.5rem;
  user-select: none;
  border: none;
  outline: 0;

}

.logoText {
  font-size: 2.3rem;
  font-weight: bolder;
  display: none;
  font-family: Fregat, sans-serif;
  color: $white;
  text-decoration: unset;
  @media (max-width: 320px) {
    font-size: 2rem;
  };
}

.size-icon {
  font-size: 22px;
}

.c-btn {
  font-size: 13px;
  @media (max-width: 1038px) {
    font-size: 10px !important;
  };
  @media (max-width: 768px) {
    background-color: #f0f8ff00 !important;
    font-size: 0 !important;
    border: none !important;
    padding: 0 !important;
    svg {
      font-size: 1.8rem;
      color: $white;
    }
  }
}

@media (max-width: 330px) {

  .c-btn svg {
    font-size: 1.1rem !important;
  }
}

@media (max-width: 450px) {
  .mat-toolbar {
    height: 68px !important;
  }
  .mat-icon[_ngcontent-c1] {
    font-size: 1.9rem !important;
  }
  .c-btn[_ngcontent-c1] svg[_ngcontent-c1] {
    font-size: 1.3rem;
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  .container {
    justify-content: space-between;
  }
  .menu-spacer {
    display: none !important;
  }
  .mat-icon {
    font-size: 3.5rem !important;
    color: $white;
  }
  .mat-toolbar {
    background-color: $green;
  }
  .logo {
    display: none;
  }
  .logoText {
    display: block;
  }
}

@media (max-width: 990px) {
  .container {
    max-width: 100% !important;
  }
}


