.laptop {
  min-height: 170px;
  border: 17px #0d0d0d solid;
  border-radius: 20px 20px 0 0;
  width: 79.2%;
  right: 0;
  position: relative;

  @media (min-width: 415px) {
    min-height: 200px;
  }
  @media (min-width: 470px) {
    min-height: 235px;
  }
  @media (min-width: 560px) {
    min-height: 260px;
  }
  @media (min-width: 900px) {
    min-height: 353px;
  }
  @media (min-width: 720px) {
    min-height: 353px;
  }
  @media (min-width: 640px) {
    min-height: 353px;
  }
  @media (min-width: 1200px) {
    min-height: 353px;
  }
}
.down-panel {
  min-height: 78px;
  //background: url("./../../../assets/laptop/down.png") no-repeat;
  background: url("./../../../assets/laptop/down.png") no-repeat;
  background-size: contain;
  width: calc( 95%);
  height: 100%;
  right: 33px;
  top: 95%;
  bottom: 0;
  position: initial;

}
.down-panel-features {
  min-height: 78px;
  //background: url("./../../../assets/laptop/down.png") no-repeat;
  background: url("./../../../assets/laptop/down.png") no-repeat;
  background-size: contain;
  width: calc( 100%);
  height: 100%;
  right: 0;
  top: 93%;
  bottom: 0;
}
.laptop_features {
  min-height: 190px;
  border: 17px #0d0d0d solid;
  border-radius: 20px 20px 0 0;
  width: 83.6%;
  right: 0;
  position: relative;
  top: 11px;
  -webkit-box-shadow: 0px 20px 4px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 20px 4px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 20px 4px 3px rgba(0,0,0,0.75);
  @media (max-width: 395px) {
    //min-height: 255px !important;
  }
  @media (min-width: 355px) {
    min-height: 250px;
  }
  @media (min-width: 900px) {
    min-height: 333px;
  }
  @media (min-width: 1200px) {
    min-height: 396px;
  }
}
.laptop-container-up {
  background: url("./../../../assets/laptop/up.png") no-repeat;
  width: 100%;
  height: 21px;
  position: relative;
  top: 2px;
}
.laptop-container-down {
  background: url("./../../../assets/laptop/down.png") no-repeat;
  width: calc( 100% + 92px );
  height: 63px;
  right: 51px;
  position: relative;
}
.laptop-container-left {
  background: url("./../../../assets/laptop/left.png") no-repeat;
  height: 258px;
  background-size: contain;
}
.laptop-container-right {
  background: url("./../../../assets/laptop/left.png") no-repeat;
  right: 100px;
  position: absolute;
  width: 16px;
  height: 70%;
  top: 23px;
}
.content {
  width: 100%;
}
.laptop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  @media (max-width: 355px) {
    min-width: 20rem;
  }
}
.laptop-container-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 28rem;
  @media (max-width: 395px) {
    min-width: 25rem;
  }
  @media (max-width: 355px) {
    min-width: 20rem;
  }
}
