@import "../../base";
.auto_landing {
  border-bottom: 0;
}
mat-form-field {
  width: 100%;
}
.mat-input-wrapper{
  width: 100% !important;
}
.fields-container {
  width: 100%;
  justify-content: center;
}
.align_block_additional{

  //background-color: #65ea5a24;
  width: 77%;
  padding-bottom: 1px;


  &_content {
    display: flex;
    flex-direction: row;
  }
  .c-select__wrapper_sm {
    min-width: 293px;
  }
}
.shadow-additional {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.query_extra {
  border: 1px #d1d3d8 solid;
}
