<app-wrap-query [count]="count" [wrapIndex]="wrapIndex" (activeId)="activeFromWrapQuery($event)">
  <form [formGroup]="myForm" novalidate>

    <div formArrayName="items" *ngFor="let item of myForm.get('items')['controls']; let i = index;">
      <div class="auto_landing pt-3 formHelp" [formGroupName]="i" [@dialog]
           *ngIf="i === formOutputId">
        <div class="auto_landing__title">

          <h4 *ngIf="tittle; else default" style="text-align: center;">
            {{tittle}}
            <div class="service-title">Выберите сервисы для поиска</div>
          </h4>
          <ng-template #default>
            <h4>Выберите сервисы для поиска</h4>
            <!--    <h4>Что ищете?</h4>-->

          </ng-template>
        </div>
        <div class="w-100 d-flex flex-row justify-content-center main-help-service mb-4">
          <div class="services col {{i}}" [ngClass]="serviceSelected[i][serList.id]? 'services-active': ''"
               *ngFor="let serList of serviceList"
               (click)="serviceListSelect(serList, i);"
               matTooltip="{{serList.description}}"
               matTooltipShowDelay="500">
            <img class="services-img" [src]="serList?.img"/>
          </div>
        </div>

        <div class="justify-content-center flex-wrap"
             [ngClass]="(Object.keys(serviceSelected[i]).length > 0)? 'd-flex': 'd-none'"
        >

          <div class="auto_landing__item auto_landing__item__checkList">

            <mat-form-field appearance="outline">
              <mat-label>Вид недвижимости</mat-label>
              <mat-select #BtNVew
                          (selectionChange)="getOptionsProperty($event.value, i, $event.source.triggerValue); getCurrency(i)"
                          [formControl]="item.get('query_building_type')">
                <mat-option *ngFor="let model of (typeProperty | async |
                 leaveUnsetSkipServices:'type': dataUnsetPattern[i]: item.get('query_building_type')); let i = index;"
                            [value]="Number(model.id)">{{model.type}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="validExc" *ngIf="!item.get('query_building_type').valid"><i
              class="fas fa-exclamation-triangle"></i></div>
          </div>
          <ng-container *ngIf="item.get('query_building_type').valid">
            <div class="auto_landing__item auto_landing__item__checkList"
                 [ngClass]="item.get('query_property_options')?.disabled ? 'd-none': 'd-flex'"
            >
              <mat-form-field appearance="outline">
                <mat-label>Тип недвижимости</mat-label>
                <mat-select
                  (selectionChange)="viewCurrentPriceFor(i);"
                  [formControl]="item.get('query_property_options')">
                  <mat-option *ngFor="let model of (optionsProperty[i] | async); let i = index;"
                              [value]="Number(model.property_options_id)">{{model?.property_options_type}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="validExc" *ngIf="!item.get('query_property_options').valid"><i
                class="fas fa-exclamation-triangle"></i></div>
            </div>

            <div class="auto_landing__item auto_landing__item__checkList"
                 [ngClass]="item.get('query_property_operations')?.disabled ? 'd-none': 'd-flex'"
            >
              <mat-form-field appearance="outline">
                <mat-label>Вид операции</mat-label>
                <mat-select
                  (selectionChange)="viewCurrentPriceFor(i); getCurrency(i); subscribeChangeFormByFormExtra(i)"
                  [formControl]="item.get('query_property_operations')">
                  <mat-option *ngFor="let model of (operationsProperty | async); let i = index;"
                              [value]="Number(model?.operation_property_id)">{{model?.operation_property}}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="validExc" *ngIf="!item.get('query_property_operations').valid"><i
                class="fas fa-exclamation-triangle"></i></div>
            </div>

            <div class="auto_landing__item auto_landing__item__checkList"
                 [ngClass]="valListPriceFor[i] ? 'd-flex': 'd-none'">
              <mat-form-field appearance="outline"
                              [ngClass]="item.get('query_price_for')?.disabled ? 'd-none': 'd-block'">
                <mat-label>Цена за</mat-label>
                <mat-select [formControl]="item.get('query_price_for')">
                  <mat-option *ngFor="let model of valListPriceFor[i]; let i = index;"
                              [value]="JSON.stringify(model)">{{model?.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <input type="hidden" [value]="priceList?.id">

            <div class="auto_landing__item" style="width: 77%"
            >
              <div class="justify-content-between  flex-column flex-md-row w-100"
                   [ngStyle]="{'display':(item.get('query_property_operations').value) ? 'flex': 'none'}">
                <div
                  class="text-center d-flex flex-column align-items-start col-12 col-md-4 query_currency">
                  <label>Валюта</label>
                  <select
                    (change)="currencyChange(i)"
                    [ngClass]="hoverShadow ? 'hoverShadow':''"
                    class="c-input c-input_sm rangeInput "
                    [formControl]="item.get('query_currency')">
                    <option [disabled]="true" [value]="null">Валюта</option>
                    <option class="c-select c-select__option"
                            *ngFor="let currency of (currencyL | async  ); let i = index;"
                            value="{{currency?.currency?.currency_id}}">{{currency?.currency?.currency_description_short}}</option>
                  </select>
                </div>
                <div
                  appOutputDisabled
                  (isDisabled)="isDisabledInput($event)"
                  class="text-center d-flex flex-column  query_price_min">
                  <label>Минимальная сумма</label>
                  <input
                    (change)="eventPrice(null,null,i)"
                    [attr.disabled]="disabled[i] ? '' : null"
                    [ngClass]="disabled[i] ? 'disableInp': ''"
                    class="c-input c-input_sm rangeInput " placeholder="Минимальная"
                    type="number"
                    formControlName="query_price_min"/>
                </div>
                <div
                  appOutputDisabled
                  (isDisabled)="isDisabledInput($event)"
                  class="text-center dark-grey-text  d-flex flex-column query_price_max">
                  <label>Максимальная сумма</label>
                  <input
                    (change)="eventPrice(null,null,i)"
                    [attr.disabled]="disabled[i]  ? '' : null"
                    [ngClass]="disabled[i] ? 'disableInp': ''"
                    class="c-input c-input_sm rangeInput " value="query_price_max"
                    placeholder="Максимальная сумма" type="number" formControlName="query_price_max"
                  />
                </div>
              </div>
              <div class="validExc" *ngIf="!item.get('query_currency').valid"><i
                class="fas fa-exclamation-triangle"></i></div>
            </div>

            <div class="auto_landing__item auto_landing__item__checkList"
                 [ngClass]="item.get('query_auction')?.disabled ? 'd-none': 'd-flex'"
            >
              <mat-form-field appearance="outline">
                <mat-label>Возможен торг</mat-label>
                <mat-select [formControl]="item.get('query_auction')">
                  <mat-option [value]="0">Всё</mat-option>
                  <mat-option [value]="1">Договорная</mat-option>
                  <mat-option [value]="2">Только оплата</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="auto_landing__item auto_landing__item__checkList"
                 [ngClass]="item.get('query_type_sentence')?.disabled ? 'd-none': 'd-flex'"
            >
              <mat-form-field appearance="outline">
                <mat-label>Тип предложения</mat-label>
                <mat-select
                  [formControl]="item.get('query_type_sentence')">
                  <mat-option *ngFor="let model of (typeSentence | async); let i = index;"
                              [value]="Number(model?.id)">{{model?.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="auto_landing__item auto_landing__item__checkList"
                 [ngClass]="item.get('query_filing_period')?.disabled ? 'd-none': 'd-flex'"
            >
              <mat-form-field appearance="outline">
                <mat-label>Период подачи</mat-label>
                <mat-select [formControl]="item.get('query_filing_period')">
                  <mat-option [value]="0">Все</mat-option>
                  <mat-option *ngFor="let model of (filingPObs | async |
                   leaveUnsetSkipServices:'name': dataUnsetPattern[i]: item.get('query_filing_period')); let i = index;"
                              [value]="JSON.stringify(model)">{{model?.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!----------------------------------additional fields------------------------------------------------------>
            <div class="w-100 d-flex flex-column align-content-center align-items-center query_extra"
                 [formArrayName]="'query_extra'">
              <div class="w-100">
                <div *ngFor="let additionals of item.get('query_extra').controls; let iq=index">
                  <ng-container [formGroupName]="iq">
                    <ng-container *ngFor="let adt of extraAdditionalFieldModel[i]; let n = index">
                      <ng-container formGroupName="{{adt?.tbl_name}}">
                        <div
                          class="align_block_additional_content d-flex flex-column flex-sm-column flex-md-row justify-content-around">
                          <ng-container
                            *ngFor="let it of additionalCam[i][adt.tbl_name];">
                            <ng-container [ngSwitch]="it.type">
                              <div *ngSwitchCase="'text'" class="col col-sm-12 col-md-6 col-lg-6"
                              >
                                <div class="fields-container"
                                     [ngClass]="additionals.get(adt?.tbl_name).get(it?.val).disabled ? 'd-none': 'd-flex'"
                                >
                                  <mat-form-field appearance="outline" #setWidth
                                                  class="example-full-width">
                                    <mat-label>{{it?.label}}</mat-label>
                                    <input type="number"
                                           [formControlName]="it?.val"
                                           matInput>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div *ngSwitchCase="'check'" class="col col-sm-12 col-md-6 col-lg-6"
                                   [ngClass]="adt.tbl_name">
                                <mat-form-field appearance="outline" #setWidth
                                                [ngClass]="additionals.get(adt?.tbl_name).get(it?.val).disabled ? 'd-none': 'd-flex'">
                                  <mat-label>{{it?.label}}</mat-label>
                                  <mat-select
                                    [formControlName]="it?.val"
                                    multiple>
                                    <mat-option
                                      *ngFor="let model of it?.data; let i = index;"
                                      [value]="model?.id">{{model?.name_ru}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div *ngSwitchCase="'check_one'" class="col-12"
                                   [ngClass]="adt.tbl_name">
                                <mat-form-field appearance="outline" #setWidth
                                                [ngClass]="additionals.get(adt?.tbl_name).get(it?.val).disabled ? 'd-none': 'd-flex'">
                                  <mat-label>{{it?.label}}</mat-label>
                                  <mat-select
                                    [formControlName]="it?.val"
                                    multiple
                                  >
                                    <mat-option [value]="it?.data">{{it?.label}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div *ngSwitchCase="'check_one_select'"
                                   class="col-6"
                                   [ngClass]="adt.tbl_name">
                                <mat-form-field appearance="outline" #setWidth
                                                [ngClass]="additionals.get(adt?.tbl_name).get(it?.val).disabled ? 'd-none': 'd-flex'">
                                  <mat-label>{{it?.label}}</mat-label>
                                  <mat-select
                                    [formControlName]="it?.val">
                                    <mat-option
                                      *ngFor="let model of it?.data; let i = index;"
                                      [value]="model?.id">{{model?.name_ru}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </ng-container>
                          </ng-container>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
            <!-------------------------------close additional fields--------------------------------------------------->
            <div class="auto_landing__item auto_landing__item__checkList"
                 [ngClass]="item.get('query_region')?.disabled ? 'd-none': 'd-flex'">
              <mat-form-field appearance="outline">
                <mat-label>Область</mat-label>
                <mat-select [formControl]="item.get('query_region')"
                            (selectionChange)="getCity($event.value, i)"
                >
                  <mat-option *ngFor="let model of ($_region | async); let i = index;"
                              [value]="Number(model?.id_region)">{{model?.name_region}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="auto_landing__item auto_landing__item__checkList"
                 [ngClass]="item.get('query_city')?.disabled ? 'd-none': 'd-flex'">
              <mat-form-field appearance="outline">
                <mat-label>Город</mat-label>
                <mat-select (selectionChange)="getDistrictsProperty($event.value, i)"
                            [formControl]="item.get('query_city')">
                  <mat-option *ngFor="let model of ($_city[i] | async); let i = index;"
                              [value]="Number(model?.id_city)">{{model?.city_name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="auto_landing__item auto_landing__item__checkList"
                 [ngClass]="item.get('query_property_districts')?.disabled ? 'd-none': 'd-flex'">
              <mat-form-field appearance="outline" [ngClass]="(
              $_districtsProperty[i] | async | json) == '[]' ||  (
              $_districtsProperty[i] | async | json) == 'null'
                ? 'd-none': 'd-flex'">
                <mat-label>Район</mat-label>
                <mat-select [formControl]="item.get('query_property_districts')">
                  <mat-option *ngFor="let model of ($_districtsProperty[i] | async); let i = index;"
                              [value]="JSON.stringify({'value': model.value, 'name': model.name})">
                    {{model?.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </ng-container>
        </div>
        <button
          #confirm
          class="confirm_btn"
          [ngClass]="(!item.valid) ?
        'c-btn c-btn_sm c-btn_inline c-btn_primary_disabled':
        'c-btn c-btn_primary c-btn_cs ml-4'"
          (click)="addNewForm(i, confirm); wrapIndex = i + 1"
          [disabled]="!item.valid"
          type="button">{{cTitle[i]}}
        </button>
      </div>
    </div>
  </form>

</app-wrap-query>
