//@import "utils.component";
//.c-btn {
//  display: block;
//  border-radius: 5px;
//  outline: none;
//  border-width: 0;
//  font-weight: 700;
//  cursor: pointer;
//  transition: opacity 0.1s;
//  text-align: center;
//
//  &_primary {
//    background-color: #008000;
//    color: $white;
//    border: 2px solid transparent;
//
//    &:hover {
//      background-color: $dark-green;
//    }
//
//    &:focus {
//      box-shadow: 0px 0px 16px 0px $dark-green;
//    }
//
//    &_disabled {
//      background-color: $light-gray;
//      color: $gray;
//      cursor: not-allowed;
//      pointer-events: none;
//    }
//  }
//
//  &_secondary {
//    background-color: transparent;
//    color: $black;
//    border: 2px solid $black;
//
//    &:hover {
//      border-color: $dark-gray;
//      color: $dark-gray;
//
//      & .c-btn__icon {
//        color: $dark-gray;
//      }
//    }
//
//    &:focus {
//      box-shadow: 0px 0px 16px 0px $gray;
//    }
//
//    &_disabled {
//      border-color: $light-gray;
//      color: $gray;
//      cursor: not-allowed;
//      pointer-events: none;
//    }
//  }
//
//  &_lg {
//    padding: 18px 59px 14px 59px;
//    font-size: 1.5rem;
//    margin: 10px;
//  }
//
//  &_md {
//    padding: 16px 32px 14px 32px;
//    font-size: 2.125rem;
//    margin: 10px;
//  }
//
//  &_sm {
//    padding: 11px 17px 11px 17px;
//    font-size: 1rem;
//    margin: 10px;
//    min-width: 90px;
//  }
//
//  &_inline {
//    display: inline-block;
//  }
//
//  &_left {
//    margin-left: 0;
//  }
//
//  &_right {
//    margin-right: 0;
//  }
//
//  &_gigant {
//    min-width: 370px;
//  }
//
//  &_enlightened {
//    @include enlightened($green);
//  }
//
//  &__icon {
//    margin-right: 5px;
//    color: $white;
//
//    &--secondary {
//      color: $black;
//    }
//  }
//}
//
//.balance-btn {
//  background-color: green !important;
//  width: 100%;
//  max-width: 16rem;
//  border-radius: 6px;
//  color: white;
//  font-size: 1rem;
//  font-family: Fregat, sans-serif;
//}
