@import "./colors.component";
.c-btn {

  font-family: Roboto, sans-serif;
  font-weight: 500;
  display: block;
  border-radius: 5px;
  outline: none !important;
  border-width: 0;
  cursor: pointer;
  transition: opacity 0.1s;
  text-align: center;

  &_primary {
    transition: all 0.6s;
    outline: unset;
    background-color: $orange;
    color: white;
    border-radius: 38px;
    border: 2px solid transparent;

    &:hover {
      box-shadow: 0px 0px 16px 0px $dark-orange;
    }

    &:focus {
      box-shadow: 0px 0px 16px 0px $dark-orange;
    }
  }

  &_out_line {
    border-radius: 38px;
    max-width: 180px;
    width: 100%;
    border: solid 5px;
    border-color: $orange /* $dark_orange;; */;

    &:hover {
      box-shadow: 0px 0px 16px 0px $dark-orange;
    }

    &:focus {
      box-shadow: 0px 0px 16px 0px $dark-orange;
    }
  }

  &_cs {
    padding: 10px 28px 10px 27px;
    font-size: 1rem;
  }

  &_lg {
    padding: 10px 49px 10px 49px;
    font-size: 1.5rem;
    margin: 10px;
    @media (min-width: 1800px) {
      padding: 18px 59px 14px 59px !important;
    }
  }

  &_md {
    padding: 16px 32px 14px 32px;
    font-size: 2.125rem;
    margin: 10px;
  }

  &_sm {
    padding: 11px 17px 11px 17px;
    font-size: 1rem;
    margin: 10px;
    min-width: 90px;
  }
}
