.c-checkbox {
  display: inline-flex;
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  background-color: $dark-gray;

  &::before {
    position: absolute;
    top: 1px;
    left: 1px;
    content: '\f00c';
    width: 12px;
    height: 12px;
    font: normal normal 12px/1 FontAwesome;
    color: $white;
    opacity: 0;
    transition: opacity 0.1s;
  }

  input[type="checkbox"]:focus ~ &::before {
    //box-shadow: 0px 0px 16px 0px $dark-green;
  }

  input[type="checkbox"]:checked ~ &::before {
    opacity: 1;
  }

  &__hidden {
    position: absolute;
    opacity: 0;
  }

  &__label {
    margin-left: 10px;
  }
}

$md-checkbox-margin: 2px 0 0 11px;
$md-checkbox-checked-color: rgb(51, 122, 183);
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);

$md-checkbox-size: 20px;
$md-checkbox-padding: 4px;

$md-checkmark-width: 2px;
$md-checkmark-color: #fff;

.md-checkbox {
  position: relative;
  margin: $md-checkbox-margin;

  label {
    cursor: pointer;
    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: 2px solid $md-checkbox-border-color;
      border-radius: 2px;
      cursor: pointer;
      transition: background .3s;
    }

    &:after {
      // checkmark
    }
  }

  input[type="checkbox"] {
    outline: 0;
    margin-right: $md-checkbox-size - 10px;

    &:checked {
      + label:before {
        background: $dark-green;
        border: none;
      }
      + label:after {

        $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;

        transform: rotate(-45deg);

        top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
        left: $md-checkbox-padding;
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;

        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      }
    }
  }
}

.dropdown-menu {
  border-radius: 0;
}
.multiselect-native-select {
  position: relative;
  select {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px -1px -1px -3px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    left: 50%;
    top: 30px;
  }
}
.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  .input-group {
    margin: 5px;
  }
  li {
    padding: 0;
    .multiselect-all {
      label {
        font-weight: 700;
      }
    }
    a {
      padding: 0;
      label {
        margin: 0;
        height: 100%;
        cursor: pointer;
        font-weight: 400;
        padding: 3px 20px 3px 40px;
        input[type=checkbox] {
          margin-bottom: 5px;
        }
      }
      label.radio {
        margin: 0;
      }
      label.checkbox {
        margin: 0;
      }
    }
  }
  li.multiselect-group {
    label {
      margin: 0;
      padding: 3px 20px 3px 20px;
      height: 100%;
      font-weight: 700;
    }
  }
  li.multiselect-group-clickable {
    label {
      cursor: pointer;
    }
  }
}
.btn-group {
  .btn-group {
    .multiselect.btn {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}
.form-inline {
  .multiselect-container {
    label.checkbox {
      padding: 3px 20px 3px 40px;
    }
    label.radio {
      padding: 3px 20px 3px 40px;
    }
    li {
      a {
        label.checkbox {
          input[type=checkbox] {
            margin-left: -20px;
            margin-right: 0;
          }
        }
        label.radio {
          input[type=radio] {
            margin-left: -20px;
            margin-right: 0;
          }
        }
      }
    }
  }
}
.btn {
  border-radius: 0;
  padding: 10px 0;
}
.btn-primary {
  background-color: #ff0000;
  border: none;
  border-radius: 0;
  padding: 11px 15px;
  text-transform: uppercase;
}
