$green: #66aa2f;
$dark-green: #289547;
$black: #292c37;
$white: #f7f9ff;
$light-gray: #e8ecfc;
$gray: #c7cce2;
$dark-gray: #698aab;
$yellow: #ffd52d;
$opacity: 0.6;
$hoverA: #10120e;
$mdb-green: #00c851;

$orange: #ef9c00;
$dark_orange: #ef9c01;
$black: #1b1b1b;
$gray: #dadada;
