.c-input {
  border-radius: 10px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.35);
  display: block;
  background-color: #fff;
  border: 2px solid $gray;
  //border-radius: 4px;
  outline: none;
  padding-left: 20px;
  color: $dark-gray;
  transition: border-color 0.1s;

  &::-webkit-input-placeholder {
    color: $gray;
  }

  &::-moz-placeholder {
    color: $gray;
  }

  &:-ms-input-placeholder {
    color: $gray;
  }

  &:focus {
    border-color: $dark-gray;
  }

  &_lg {
    min-width: 370px;
    height: 56px;
    font-size: 1.25rem;
    margin: 16px;
  }

  &_md {
    min-width: 270px;
    height: 49px;
    font-size: 2.25rem;
    margin: 15px;
  }

  &_sm {
    min-width: 270px;
    height: 41px;
    font-size: 1.25rem;
    margin: 11px;
  }

  &_disabled {
    border-color: $light-gray;
    color: $light-gray;
    pointer-events: none;
    cursor: not-allowed;
  }

  &_fluid {
    width: 100%;
  }

  &_inline {
    display: inline-block;
  }

  @media (min-width: 320px) and (max-width: 450px) {
    width: 100%;
  }
}
