@import "colors.component";
//@font-face {
//  font-family: Fregat_regular; /* Имя шрифта */
//  src: url(../../assets/font_components/fregat/Fregat_regular.otf); /* Путь к файлу со шрифтом */
//}

.c-select {

  position: relative;
  cursor: pointer;

  &__wrapper {
    font-family: Fregat_regular, sans-serif;
    background-color: #fff;
    border: 2px solid $gray;
    border-radius: 4px;
    padding-left: 20px;
    color: $dark-gray;
    cursor: pointer;
    transition: border-color 0.1s;

    &::-webkit-input-placeholder {
      color: $gray;
    }

    &::-moz-placeholder {
      color: $gray;
    }

    &:-ms-input-placeholder {
      color: $gray;
    }

    &:focus {
      border-color: $dark-gray;
    }

    &_lg {
      min-width: 370px;
      height: 56px;
      font-size: 1.25rem;
    }

    &_md {
      min-width: 270px;
      height: 49px;
      font-size: 1.25rem;
    }

    &_sm {
      min-width: 270px;
      height: 41px;
      font-size: 1.25rem;
    }

    &_disabled {
      border-color: $light-gray;
      color: $light-gray;
      pointer-events: none;
      cursor: not-allowed;
    }

    &_fluid {
      width: 100%;
    }

    &_inline {
      display: inline-block;
    }

    &_gigant {
      width: 346px;
      height: 51px;
    }

    &_no-border {
      border: 2px solid $white;
      font-family: Fregat_regular, sans-serif;
    }
  }

  &__arrow {
    position: absolute;
    width: 0px;
    height: 8px;
    top: 45%;
    right: 24px;
    border: 8px solid transparent;
    border-top-color: $gray;
    background-color: $gray;
  }

  &__dropdown {
    position: absolute;
    width: 100%;
    top: 95%;
    background-color: $white;
    border-radius: 0 0 5px 5px;
  }

  &__option {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px 20px;
    color: $dark-gray;
    font-size: 1.25rem;
    margin: 0;

    &:hover {
      background-color: $light-gray;
    }
  }
}