h1,
h2 {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 60px;
}

h3 {
  text-align: center;
  margin: 30px 0;
}

h4 {
  margin: 30px 0;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.75rem;
  font-weight: 400;
}

p {
  line-height: 23px;
}