@import "../../base";

.auto_landing__item {
  //width: calc( 100% - 200px ) !important;
  //min-width: 571px;
}
.addWorlds:disabled {
  opacity: -1;
}
.filter_container {
  border: gray 1px solid;
  min-height: 120px;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.label-custom {
  background-color: #5cb85c;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 82%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin: 0.1rem;
  max-width: 6rem;
  max-height: 23px;
  cursor: pointer;
}

.addWorlds {
  transition: all 0.5s;
  text-transform: uppercase;
  position: absolute;
  height: auto;
  margin: 0;
  border: 0;
  border-radius: 6px;
  font-size: 0.8rem;
  right: -1px;

  @media screen and(max-width: 530px) {
    font-size: 0.6rem;
  }
  &:hover {
    color: $white !important;
  }
}

.skipWords_label {
  font-family: Roboto, sans-serif !important;
  //@media screen and (max-width: 700px) {
  //width: 90%;
  //font-size: 12px !important;
  white-space: normal !important;

  width: 85%;
  font-size: 15px !important;
  //}
  @media screen and (max-width: 450px) {
    //width: 80%;
  }
}

#skipWords {

  height: 66px !important;
  //@media screen and (max-width: 700px) {
  //  height: 46px !important;
  //}
}

@media screen and (max-width: 850px) {
  label {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 772px) {
  .query_currency {
    width: 236px !important;
    margin: 0 !important;
  }
  .query_price_min .query_price_max {
    width: 95% !important;
    margin: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .query_currency {
    width: 100% !important;

    label {
      text-align: left !important;
      left: 1px !important;
    }
  }
}


@media screen and (max-width: 770px) {
  .rangeInput {
    cursor: pointer;
    min-width: 110px;
  }
}

@media screen and (max-width: 600px) {
  .auto_landing__item {
    //width: 100% !important;
    //min-width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  label {
    margin: 0 !important;
    //font-size: 10px !important;
  }
  .filter_container {
    margin-top: 1rem !important;

    label {
      height: 59%;
      font-size: 12px !important;
    }
  }
}

@media screen and (max-width: 450px) {
  .filter_container {
    label {
      font-size: 11px !important;
    }
  }
  .rangeInput {
    min-width: 85px;
  }
  .c-input_sm {
    font-size: 11px;
  }
}
