<app-wrap-query [count]="count" [wrapIndex]="wrapIndex" (activeId)="activeFromWrapQuery($event)">
  <form [formGroup]="myForm" novalidate>
    <div formArrayName="items" *ngFor="let item of myForm.get('items')['controls']; let i = index;">
      <div class="auto_landing pt-3 formHelp" [formGroupName]="i" [@dialog]
           *ngIf="i === formOutputId">
        <div class="auto_landing__title">

          <h4 *ngIf="tittle; else default" style="text-align: center;">
            {{tittle}}
            <div class="service-title">Выберите сервисы для поиска</div>
          </h4>
          <ng-template #default>
            <h4>Выберите сервисы для поиска</h4>
            <!--    <h4>Что ищете?</h4>-->

          </ng-template>
        </div>
        <div class="w-100 d-flex flex-row justify-content-center main-help-service mb-4">
          <div class="services col {{i}}" [ngClass]="serviceSelected[i][serList.id]? 'services-active': ''"
               *ngFor="let serList of serviceList"
               (click)="serviceListSelect(serList, i);"
               matTooltip="{{serList.description}}"
               matTooltipShowDelay="500">
            <img class="services-img" [src]="serList?.img"/>
          </div>
        </div>

        <div class="justify-content-center flex-wrap"
             [ngClass]="(Object.keys(serviceSelected[i]).length > 0)? 'd-flex': 'd-none'"
        >
          <div class="auto_landing__item md-form query_key_words">
            <label for="query_key_words">Название</label>
            <input class="form-control" mdbInput id="query_key_words" type="text"
                   style="border-bottom: 2px solid #39d71c;"
                   formControlName="query_key_words"
            />
            <div class="validExc" *ngIf="!item.get('query_key_words').valid"><i class="fas fa-exclamation-triangle"></i>
            </div>
          </div>

          <div class="auto_landing__item" style="width: 77%">
            <div class="d-flex justify-content-between row-md flex-column flex-md-row">

              <div
                class="text-center d-flex flex-column align-items-start query_currency">
                <label [ngStyle]="labelStyle">Валюта</label>
                <select
                  (change)="currencyChange(i)"
                  [ngClass]="hoverShadow ? 'hoverShadow':''" class="c-input c-input_sm rangeInput"
                  [formControl]="item.get('query_currency')">
                  <option [disabled]="true" [value]="null">Валюта</option>
                  <option class="c-select c-select__option"
                          *ngFor="let currency of (currency$ | async); let i = index;"
                          [value]="Number(currency?.currentModel)">{{currency?.titleaditional}}</option>
                </select>
              </div>
              <div class="validExc" *ngIf="!item.get('query_currency').valid"><i
                class="fas fa-exclamation-triangle"></i></div>
              <div
                appOutputDisabled
                (isDisabled)="isDisabledInput($event)"
                class="text-center d-flex flex-column align-items-start query_price_min">
                <label>Минимальная сумма</label>

                <input
                  (change)="eventPrice(null,null,i)"
                  [attr.disabled]="disabled[i] ? '' : null"
                  [ngClass]="disabled[i] ? 'disableInp': ''"
                  [min]="priceMin"
                  [max]="priceMax"
                  [value]="priceMin"
                  class="c-input c-input_sm rangeInput" placeholder="Минимальная" type="number"
                  formControlName="query_price_min"/>
              </div>
              <div
                appOutputDisabled (isDisabled)="isDisabledInput($event)"
                class="text-center dark-grey-text  d-flex flex-column align-items-start text-md-left-1 query_price_max">
                <label>Максимальная сумма</label>
                <input
                  (change)="eventPrice(null,null,i)"
                  [attr.disabled]="disabled[i] ? '' : null"
                  [ngClass]="disabled[i] ? 'disableInp': ''"
                  [min]="priceMin"
                  [max]="priceMax"
                  [value]="priceMax"
                  class="c-input c-input_sm rangeInput" value="query_price_max"
                  placeholder="Максимальная сумма" type="number" formControlName="query_price_max"
                />
              </div>
            </div>


            <div class="auto_landing__item md-form filter_container preSlipWorlds w-100 mt-3 mb-0">
              <label for="skipWords" class="skipWords_label">
                С помощью этого фильтра, можно конкретезировать параметры поиска, например:
                Если Вы ищите рюкзак, но не хотите видеть детские рюкзаки, напишите слово "детский"</label>
              <button
                [disabled]="!getPreSlipWorldsLength(item.get('preSlipWorlds').value)"
                class="btn c-btn_primary addWorlds p-2" (click)="addWorld(skipWords.value, i)">
                Добавить
                <!--                <i class="fas fa-plus-square"></i>-->
              </button>
              <input appSkipFilter class="form-control" mdbInput id="skipWords" type="text" #skipWords
                     style="height: 33px;"
                     formControlName="preSlipWorlds">
              <span class="label-custom" *ngFor="let item of Array.from(skipFilterWords[i]) let ind = index;"
                    (click)="removeWorlds(item, i)"
              >
                                  {{item}}
                              </span>

            </div>

            <div class="w-100 mt-3">
              <div class="d-flex justify-content-between row-md">
                <div class="text-center d-flex flex-column col-5 p-0">
                  <mat-form-field appearance="outline">
                    <mat-label>Область</mat-label>
                    <mat-select [formControl]="item.get('query_region')"
                                (selectionChange)="getCity($event.value, i)"
                    >
                      <mat-option [value]="''">
                        Все
                      </mat-option>
                      <mat-option *ngFor="let model of (region$ | async); let i = index;"
                                  [value]="Number(model?.id_region)">{{model?.name_region}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="text-center d-flex flex-column col-5 p-0" [ngClass]="(city$ | async) ? 'd-flex': 'd-none'">
                  <mat-form-field appearance="outline">
                    <mat-label>Город</mat-label>
                    <mat-select [formControl]="item.get('query_city')">
                      <mat-option [value]="''">
                        Все
                      </mat-option>
                      <mat-option *ngFor="let model of (city$[i] | async); let i = index;"
                                  [value]="Number(model?.id_city)">{{model?.city_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>

        </div>
        <button
          #confirm
          class="confirm_btn"
          [ngClass]="(!item.valid) ?
        'c-btn c-btn_sm c-btn_inline c-btn_primary_disabled':
        'c-btn c-btn_primary c-btn_cs ml-4'"
          (click)="addNewForm(i, confirm); wrapIndex = i + 1"
          [disabled]="!item.valid"
          type="button">{{cTitle[i]}}
        </button>
      </div>
    </div>
  </form>
</app-wrap-query>
