<div class="craft-item-container">
  <div class="list-group list_group_cat_bar">
    <ng-container *ngFor="let craftCat of (craftCategory | async); let i = index">
      <button
        [ngClass]="{'select_craft_category_active': activeModel[i]}"
        (click)="addActive(craftCat, i)"
        class="mt-1 list-group-item list-group-item-action select_craft_category">
        {{craftCat?.craft_category_name}}
      </button>
    </ng-container>

  </div>
</div>
