@import "../../../../assets/style_components/colors.component";

.select_craft_category {
  background-color: $dark-green;
  color: white;
  font-family: Fregat_bold, sans-serif;
  max-width: 255px;

  &_active {
    background-color: $green;
  }
}
@media screen and (max-width: 570px) {
  .list_group_cat_bar {
    flex-direction: column !important;
  }
}
@media screen and (max-width: 810px) {
  .list_group_cat_bar {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }
}

