<div class="row w-100 craft-container">
  <app-craft-info class="m-auto"></app-craft-info>
</div>
<div class="news_landing__main row">
  <app-main class="col-9 app-main"></app-main>
  <app-category-bar class="col mt-3"></app-category-bar>
</div>
