@media screen and (max-width: 810px){
  .news_landing__main {
    flex-direction: column-reverse;
  }
  .app-main {
    max-width: 100%;
  }
}
.craft-container {
  //border: 1px solid;
  border-radius: 11px;
  margin: 0;
  min-height: 120px;
}
