.random {
  display: flex;
  position: absolute;
  z-index: 2222;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  opacity: 0.4;
  outline: inherit;
  &__img {
    max-width: 100%;
  }
  &:hover {
    opacity: 1;
  }
}
