<div class="news_landing">

  <div class="news_landing__content">
    <ul class="news_landing__content__item col pt-4">
      <ng-container *ngFor="let craftItem of (craftItems | async) | paginate: { itemsPerPage: 4, currentPage: p1, id: 'first' }; let i = index">
        <li class="news_landing__content__item__iterate boxShadow"
            [ngStyle]="{
            'background-image': 'url('+craftItem?.images[0]?.craft_img+')',
            'background-position': 'center',
            'background-repeat': 'no-repeat',
            'background-size': 'cover'}"
        >
          <div class="effect eff-8">
            <div class="caption">
              <ng-container *ngIf=" craftItem?.id">
                <a class="btn" [routerLink]="['/special/craft/details', craftItem?.id]" title="Показать новость">Подробнее</a>
              </ng-container>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
    <pagination-controls
      style="margin:0 0 0 auto;"
      (pageChange)="p1 = $event" id="first"
      class="my-paginationN pt-4"
      previousLabel="Пред.."
      nextLabel="След..">
    </pagination-controls>

</div>
