@import "./../../../templated/news-page/container/container.component";

.news_img {
  width: 100%;
  height: auto;
  overflow: hidden;
  //max-width: 100%;
}

.news_landing__content__item {
  border-top: unset;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  min-height: 280px;
}

@media screen and (max-width: 570px){
  .news_landing__content__item__iterate {
    height: 120px;
  }
}
