.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.dialog {
  max-width: 35em;
  z-index: 1000;
  position: absolute;
  right: 0;
  left: 0;
  //top: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 200px;
  top: 20px;
  //max-width: 850px;
  /*background-color: #fff;*/
  padding: 12px;
  //top: calc(100% - 280px);
  /*box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);*/
}

@media (min-width: 768px) {
  .dialog {
    //top: 40px;
  }
}

.dialog__close-btn {
  border: 0;
  background: none;
  color: #ef9c01;
  position: absolute;
  top: 11px;
  right: 21px;
  font-size: 1.9rem;
  transition: all 0.75s;
  &:hover {
    color: #368E12;
  }
}

