<h2 mat-dialog-title>Подключить Messenger</h2>
<mat-dialog-content>Выберите удобный для вас Messenger</mat-dialog-content>
<mat-dialog-actions>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="'close'" style="background-color: red">В другой раз</button>
  <button *ngFor="let data of dataMessengers"
          matTooltip="{{data?.item?.description}}"
          matTooltipShowDelay="500"
          cdkFocusInitial
          mat-button class="col" [mat-dialog-close]="data?.item?.webhook_link">{{data?.item?.name}}</button>
</mat-dialog-actions>
