.mat-dialog-content{
  font-family: Fregat_regular, sans-serif;
}
.mat-dialog-title{
  background-color: #0080000d;
  color: #070000;
  text-align: center;
  font-family: Fregat_bold, sans-serif;
}
button {
  background-color: #0c8d34db;
  color: white;
  height: 55px;
}
