<div class="landing-section-wrapper">
  <div class="news_landing ">
    <div class="news_landing__picture img-bg-color landing_picture ">
      <h1>Крафт</h1>
    </div>
    <div class="news_landing__sConteiner container mt10">
      <div class="news_landing__aside">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
