@import "./../../templated/news-page/news-page.component";
h1 {
  text-transform: uppercase;
  font-family: Fregat_bold, sans-serif;
  font-size: 48px;
  color: $white;
  padding-top: 50px;
}

@media screen and (max-width: 810px){
  .news_landing__main {
    flex-direction: column-reverse;
  }
  .app-main {
    max-width: 100%;
  }
}
