<h1 mat-dialog-title>Подтверждение номера телефона</h1>
<div>
  <p class="phone-title">На номер <i class="fas fa-phone-volume"></i>{{data}} отправлен код подтверждения</p>
  <mat-form-field class="w-100">
    <mat-label>Код из смс</mat-label>
    <input type="number" [formControl]="controlPhone" matInput>
    <mat-error *ngIf="controlPhone?.errors?.required">
      Обязательно к заполнению
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions class="row">
  <button mat-button (click)="onNoClick()" class="btn btn-danger btn-rounded btn-block my-4 waves-effect z-depth-0 col-3 ml-1 mr-1" cdkFocusInitial>Отмена</button>
  <button [disabled]="!controlPhone.valid" mat-button [mat-dialog-close]="controlPhone?.value" class="ml-1 mr-1 btn btn-success btn-rounded btn-block my-4 waves-effect z-depth-0 col" cdkFocusInitial>Подтвердить</button>
</div>
