<div class="tariff_landing">
  <div class="tariff_landing__title">
    <h4>Тарифы на транспорт</h4>
  </div>
  <div class="tariff_landing__container">
    <app-tariff style="width: 99%" [dataTarif]="dataAuto"  [additional_style_property]="additional_style_property">
      <mat-spinner></mat-spinner>
    </app-tariff>
  </div>
</div>
