<!-- Material form login -->
<div class="card">

  <h5 class="card-header white-text text-center py-4">
    <strong>{{title}}</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form [formGroup]="loginForm" [@slideUpDown]="isResetForm" class="text-center m-auto"
          [ngStyle]="{display: (isResetForm == '0') ? 'block': 'none'}"
          style="color: #757575;" #loginForms (ngSubmit)="onSubmit()">

      <!-- Email -->
      <div class="md-form tel">
        <i class="fa fa-phone prefix grey-text"></i>
        <span class="prefix-tel">+38&nbsp;&nbsp;</span>
        <input autocomplete="on" mdbInput type="tel" id="materialLoginFormEmail"
               formControlName="phone" placeholder="(___)-___-___" [textMask]="{mask: areaCodeMask}"
               class="form-control">
        <label for="materialLoginFormEmail" class="tlabel">Телефон</label>
        <mdb-error *ngIf="phone.errors?.required && (phone.dirty || phone.touched)">Обязательно к заполнению</mdb-error>
        <mdb-success *ngIf="phone.valid && (phone.dirty || phone.touched)"></mdb-success>
      </div>
      <!-- Password -->
      <div class="md-form">
        <i class="fa fa-key prefix grey-text"></i>
        <input autocomplete="on" mdbInput type="password" appLoginViewPassword [app-view-password]="passwordView"
               formControlName="password"
               id="materialLoginFormPassword" class="form-control">
        <label for="materialLoginFormPassword">Пароль</label>
        <span *ngIf="passwordView; else showVisible"
          (click)="passwordView = !passwordView" matTooltip="показать / скрыть"
              matTooltipShowDelay="500" class="view-pass"><i
          [ngClass]="'fas fa-eye-slash'"
          aria-hidden="true"></i></span>
        <ng-template #showVisible>
            <span (click)="passwordView = !passwordView" matTooltip="показать / скрыть"
                  matTooltipShowDelay="500" class="view-pass"><i
              [ngClass]="'fas fa-eye'"
              aria-hidden="true"></i></span>
        </ng-template>
        <mdb-error *ngIf="password.errors?.required && (password.dirty || password.touched)">Обязательно к заполнению
        </mdb-error>
        <mdb-success *ngIf="password.valid && (password.dirty || password.touched)"></mdb-success>
      </div>

      <div class="d-flex justify-content-around">
        <!--        <div>-->
        <!--          &lt;!&ndash; Remember me &ndash;&gt;-->
        <!--          <div class="form-check">-->
        <!--            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">-->
        <!--            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>-->
        <!--          </div>-->
        <!--        </div>-->
        <div>
          <!-- Forgot password -->
          <a class="forgotPass" (click)="isResetForms()">Забыли пароль?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button class="btn btn btn-success btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Войти</button>

    </form>
    <!-- Form -->
    <app-reset-password [@slideUpDown]="(isResetForm == '0')? '1': '0'" (onChanged)="isResetForm = $event"
                        [ngStyle]="{display: (isResetForm == '1') ? 'block': 'none'}"
                        style="display: none"></app-reset-password>
  </div>
</div>
<!-- Material form login -->
