@import "./../../../assets/style_components/colors.component";

.btn {
  text-transform: uppercase;
  padding: 13px;
  margin: 0 auto;
  width: 167px;
  box-shadow: 2px 3px 35px rgba(0, 0, 0, 0.35) !important;
  border-radius: 27px;
  font-size: 21px;
  font-family: Fregat, sans-serif;
}
.card {
  border-radius: 25px !important;
}
.card-header {
  border-radius: 25px !important;
  font-size: 30px;
  background-color: white;
  border: none;
  color: $orange !important;
}
.info-color {
  background-color: $mdb-green!important;
}
.md-form {
  i, svg {
    left: 0;
  }
  input {
    width: calc(100% - 3.5rem)!important;
  }

}
a{
  color: $mdb-green!important;
}
a,h5, button, input, label {
  font-family: Fregat_bold,sans-serif;
}
.forgotPass {
  color: #000000 !important;
  border: 0;
  background-color: #00ffff00;
  font-size: 18px;
  letter-spacing: 0.36px;
}
.view-pass {
  position: absolute;
  right: 17px;
  width: 43px;
  border-radius: 10px;
  cursor: pointer;
  top: 0px;
  font-size: 1.5em;
}
