@import "../../../assets/style_components/colors.component";
@import "../../../assets/style_components/button";

@import "../news-page/news-page.component";
.news_landing__picture {

  background-size: cover;
  //background: #292c37 url(../../../assets/images/help_about/about.jpg) no-repeat 1% 56%;
}
.picture-container {
  position: absolute;
  right: -56px;

  img {
    max-width: 320px;
  }

  @media screen and(max-width: 1500px) {
    img {
      max-width: 220px;
    }
  }
  @media screen and(max-width: 1310px) {
    img {
      //max-width: 150px;
    }
  }
  @media screen and(max-width: 590px) {
    img {
      max-width: 150px;
    }
  }
  @media screen and(max-width: 415px) {
    img {
      max-width: 130px;
    }
  }
}
.news_landing__main {
  font-family: Fregat_Bold, sans-serif;
  &__item {

    margin: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__content {

      display: flex;
      flex-direction: column;
      width: 50%;

      &__title {
        padding-bottom: 30px;
        font-size: 2rem !important;
        text-align: center;
      }

      &__description {
        font-family: Fregat, sans-serif;
        font-size: 0.95rem;
      }
    }

    &__preview {

      width: 50%;
      img {

        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

p {
  cursor: pointer;
}
