<h1 mat-dialog-title>Опрос</h1>

<form [formGroup]="myCForm" (ngSubmit)="onSubmit()" novalidate>
  <div *ngFor="let control of myCForm.controls |keyvalue;let i=index">
    <div class="form-group" *ngIf="formTemplate[i]?.isShow">
      <label [for]="i">{{formTemplate[i].label}}</label>
      <input [formControl]="control.value" type="text" class="form-control" [id]="i">
    </div>
  </div>
  <button (click)="onNoClick()" type="submit" class="c-btn c-btn_primary c-btn_cs ml-auto">Отправить</button>
</form>

