<div class="alert-bo">
  <div class="modal-header">
    <h4 class="modal-title">Отменить заявку</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Вы действительно хотите отменить заявку?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onConfirm()">Да</button>
    <button type="button" class="btn c-btn_primary" (click)="onCancel()">Нет</button>
  </div>
</div>
<div class="modal-sm">
</div>
