@import "../../../../../../assets/style_components/colors.component.scss";
@import "../../../../../../assets/style_components/button.scss";

.modal-body {
  font-family: Fregat, sans-serif;
  color: #e02808;
  font-size: 125%;
}
h4 {
  font-family: Fregat, sans-serif;
  text-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
}
//
.title {
  font-size: 155%;
  color: $gray;
  font-family: Rubik Bold, sans-serif;
  text-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
}

.c-btn_primary {
  background-color: green !important;
  &:hover {
    color: $white !important;
  }
}
