<div class="modal-custom modal-header">
  <h4 class="modal-title pull-left">Подробнее</h4>
  <button type="button" class="close pull-right"
          aria-label="Close" (click)="onCancel()" >
    <span aria-hidden="true" mat-dialog-close>&times;</span>
  </button>
</div>
<!--overflow: auto;-->
<!--height: calc(100vh - 120px);-->
<div class="modal-body pre-scrollable p-1">
  <div class="landing-section-wrapper p-1">
    <ng-container *ngIf="model.titleQuery =='Electronics'"><h4>Электроника</h4></ng-container>
    <ng-container *ngIf="model.titleQuery =='Auto'"><h4>Авто</h4></ng-container>
    <ng-container *ngIf="model.titleQuery =='Property'"><h4>Недвижимость</h4></ng-container>
    <ng-container *ngIf="model.titleQuery =='Other'"><h4>Другое</h4></ng-container>
    <ng-container *ngIf="model.titleQuery =='Legal'"><h4>Юридические услуги</h4></ng-container>
    <ng-container *ngIf="model.titleQuery =='Quest'"><h4>Квест</h4></ng-container>
    <div class="container-content">
      <h4>Заявка # {{model?.query_id}}/{{model?.titleQuery | lowercase}}</h4>
      <!--      <div class="container-content__items">-->
      <!--        <span>Категория:</span> <span>{{model?.query_category}}</span>-->
      <!--      </div>-->
      <div class="container-content__items" *ngIf="model.titleQuery !=='Quest'">
        <span>Наименование запроса:</span> <span>{{model?.query_name}}</span>
      </div>
      <div class="container-content__items" *ngIf="model.titleQuery !=='Quest'">
        <span>Тариф:</span> <span>{{model?.tariff[0]?.tariff_name}}</span>
      </div>
      <div class="container-content__items" *ngIf="model.titleQuery !=='Quest'">
        <span>Количество дней:</span> <span>{{count_day}}</span>
      </div>
      <div class="container-content__items" *ngIf="model.titleQuery !=='Quest'">
        <span>Оформленна заявка:</span> <span>{{model?.query_confirm_time | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div class="container-content__items" *ngIf="model.titleQuery !=='Quest'">
        <span>Действительно от:</span> <span>{{model?.query_tariff_start * 1000 | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div class="container-content__items" *ngIf="model.titleQuery !=='Quest'">
        <span>Действительно до:</span> <span>{{model?.query_tariff_end * 1000 | date: 'dd/MM/yyyy'}}</span>
      </div>
    </div>
  </div>
  <ng-container *ngIf="model.titleQuery =='Quest'; else next">
    <div class="landing-section-wrapper more-info">
      <div class="container-content">
        <div *ngFor="let item of moreData" class="container-content__items">
          <span>{{item?.name}}:</span>
          <div [innerHTML]="SANITIZER.bypassSecurityTrustHtml(item?.value)">
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #next>
    <div class="landing-section-wrapper more-info">
      <div class="container-content">
        <div *ngFor="let item of moreData" class="container-content__items">
          <span>{{item?.name}}:</span> <span>{{item?.value}}</span>
        </div>
      </div>
    </div>
    <div class="landing-section-wrapper more-info">
      <div class="container-content" *ngIf="queryExtraData">
        <div *ngFor="let moreItems of queryExtraData?.value" class="container-content__items">
          <div class="d-flex align-items-center">{{moreItems?.name}}</div>
          <div>
            <ng-container *ngFor="let it of moreItems.value">
              <div>
                <span>&nbsp;{{it?.name}}</span><span *ngIf="it?.isViewVal">&nbsp;{{it?.value}}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
