@import "../../../../../../assets/style_components/colors.component";
@import "../../../../../../assets/style_components/button";

.landing-section-wrapper{
  background-color: $white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid $gray;

  h4 {
    font-family: Fregat, sans-serif;
    margin-bottom: 4px;
    margin-top: 0;
    font-size: 1.5rem;
    border-bottom: 1px solid;
  }
}

.container-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 100%;

  &__items {
    font-family: Fregat, sans-serif;
    min-width: 99.8%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid;
    flex-wrap: wrap;
    span {
      //margin-left: 2%;
    }
  }
}
.modal-custom {
  background-color: $green;
  h4 {
    font-weight: 700;
    color: $white;
  }
}

.more-info {
  background-color: #31a931;
  color: #fefefe;
  width: 100%;
  margin: 0 auto;
  padding: 1%;
}
.c-btn_primary {
  &:hover {
    color: $white !important;
  }
}
