@import "../../assets/style_components/colors.component";
@import "../../assets/style_components/button";
//@font-face {
//  font-family: Fregat_bold;
//  src: url(../../assets/font_components/fregat/Fregat_bold.otf);
//}
//@font-face {
//  font-family: Fregat_regular;
//  src: url(../../assets/font_components/fregat/Fregat_regular.otf);
//}

.landing-section-wrapper{
  background-color: $white;
  display: flex;
  justify-content: center;
  width: 100%;
  //height: 718px;
  border-bottom: 1px solid $gray;
}

.p-landing {
  &__login {
    background-color: $white;
    //height: 600px;
    //width: 850px;
    padding-bottom: 8vw;
    padding-top: 8vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid $white;
    -webkit-box-shadow: 0px 14px 18px 4px rgba(184,200,219,1);
    -moz-box-shadow: 0px 14px 18px 4px rgba(184,200,219,1);
    box-shadow: 0px 14px 18px 4px rgba(184,200,219,1);

    h2 {
      margin: 0;
      //padding-top: 9%;
      //font-size: 48px;
      font-size: 3rem;
      font-family: Fregat_bold, sans-serif;
    }
  }
}

@media (max-width: 1000px) { .p-landing { &__login { h2 {font-size: 2.5rem;} } } }
@media (max-width: 780px) { .p-landing { &__login { h2 {font-size: 2rem;} } } }
@media (max-width: 475px) { .p-landing { &__login { h2 {font-size: 8vw;;} } } }
