<div class="card z-depth-0 border-0 d-flex align-items-center color-content pt-5 pb-5"
     [ngStyle]="{ 'background-color': '#f7f9ff'}">
  <div class="game-balance">
    <span>Игровой баланс: </span>
    <span>{{webGamePoint}}</span>
  </div>
  <div class="game-balance">
    <span>Минимальная сумма для вывода: </span>
    <span>2 баллов</span>
  </div>
  <form *ngIf="webGamePoint !== 0" class="auto_landing" [formGroup]="webGameForm" novalidate (ngSubmit)="save(webGameForm.value)">
    <div class="justify-content-center flex-wrap row">
      <div class="auto_landing__item md-form col-12 max-width-input">
        <mat-form-field class=" w-100">
          <mat-label>Cумма к выводу</mat-label>
          <input [formControl]="webGameForm.get('amount')" matInput #amount>
          <mat-error *ngIf="webGameForm.get('amount')?.errors?.required">
            Обязательно к заполнению
          </mat-error>
          <mat-error *ngIf="webGameForm.get('amount')?.errors?.max">
            Недостаточно средств на игровом балансе {{webGameForm.get('amount')?.errors?.max?.max}}
          </mat-error>
          <mat-error *ngIf="webGameForm.get('amount')?.errors?.min">
           Минимум для вывода {{webGameForm.get('amount')?.errors?.min?.min}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="auto_landing__item md-form col-12 max-width-input">
        <mat-form-field class="w-100" hideRequiredMarker>
          <mat-label>Куда перевести</mat-label>
          <mat-select (selectionChange)="changeProcess($event.value)" [formControl]="webGameForm.get('process_type')">
            <mat-option *ngFor="let model of (webGameProcess | async); let i = index;"
                        [value]="model?.id">{{model?.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="webGameForm.get('process_type')?.errors?.required">
            Обязательно к заполнению
          </mat-error>
        </mat-form-field>
      </div>
      <div [ngClass]="webGameForm.get('process_type')?.valid? 'd-flex': 'd-none'" class="col-12 max-width-input">
        <mat-form-field class="w-100">
          <mat-label>Данные</mat-label>
          <input class="data_style" [placeholder]="currentMask.placeholder" [textMask]="{mask: currentMask.mask}" [formControl]="webGameForm.get('data')" type="text" matInput >
        </mat-form-field>
      </div>

    </div>
    <div class="col-12 max-width-input submit-web-game m-auto row">
      <button [disabled]="webGameForm['status'] === 'INVALID'" mat-flat-button class="confirm_btn c-btn c-btn_primary c-btn_cs">Отправить</button>
    </div>

  </form>
</div>
