.data_style {
  border-bottom: unset !important;
  font-size: 1.1rem;
}
.max-width-input {
  max-width: 390px;
}
.submit-web-game {
  display: flex;
  //justify-content: flex-end;
}
.game-balance {
  font-family: Fregat_Bold, sans-serif;
}
