<div>
  <form [formGroup]="resetAuth" class="text-center"
        style="color: #757575;">
    <div class="md-form tel">
      <i class="fa fa-phone prefix grey-text"></i>
      <span class="prefix-tel">+38&nbsp;&nbsp;</span>
      <input autocomplete="on" mdbInput type="tel" id="materialLoginFormEmail"
             formControlName="phone" placeholder="(___)-___-___"  [textMask]="{mask: areaCodeMask}"
             class="form-control">
      <label for="materialLoginFormEmail" class="tlabel">Телефон</label>
      <mdb-error *ngIf="phone.errors?.required && (phone.dirty || phone.touched)">Обязательно к заполнению</mdb-error>
      <mdb-success *ngIf="phone.valid && (phone.dirty || phone.touched)"></mdb-success>
    </div>

    <!-- Password -->
    <div class="md-form" *ngIf="isPasswordResetCode">
      <a class="btn btn-outline-success w-100" (click)="isPasswordSecretKey()">Получить код сброса пароля</a>
    </div>

    <div class="md-form" *ngIf="isPasswordSecret_key">
      <i class="fa fa-unlock prefix grey-text"></i>
      <input mdbInput type="text" id="secret_key" formControlName="secret_key" maxlength="6" class="form-control">
      <label for="secret_key">Код сброса пароля</label>
      <mdb-error *ngIf="secret_key.errors?.required && (secret_key.dirty || secret_key.touched)">Обязательно к
        заполнению
      </mdb-error>
      <mdb-success *ngIf="secret_key.valid && (secret_key.dirty || secret_key.touched)"></mdb-success>
      <!--      -->
    </div>

    <div class="md-form" *ngIf="isPasswordSecret_key">
      <button class="btn btn-outline-success w-100" [disabled]="secret_key.invalid" (click)="esputnicValidkeys()">Подтвердить</button>
    </div>


    <div class="md-form" *ngIf="isChangePassword">
      <i class="fa fa-key prefix grey-text"></i>
      <input mdbInput type="password" appLoginViewPassword [app-view-password]="passwordView" formControlName="newPassword"
             id="newPassword" class="form-control">
      <label for="newPassword">Новый пароль</label>
      <span (click)="passwordView = !passwordView" matTooltip="показать / скрыть"
            matTooltipShowDelay="500" class="view-pass"><i
        [ngClass]="passwordView ? 'fa fa-eye-slash': 'fa fa-eye'"
        aria-hidden="true"></i></span>
      <mdb-error *ngIf="newPassword.errors?.required && (newPassword.dirty || newPassword.touched)">Обязательно к
        заполнению
      </mdb-error>
      <mdb-error *ngIf="newPassword.errors?.minlength && (newPassword.dirty || newPassword.touched)">Минимум
        5
        символов
      </mdb-error>
      <mdb-success *ngIf="newPassword.valid && (newPassword.dirty || newPassword.touched)"></mdb-success>
    </div>
    <div class="md-form" *ngIf="isChangePassword">
      <i class="fa fa-key prefix grey-text"></i>
      <input mdbInput type="password" appLoginViewPassword [app-view-password]="passwordViewC" formControlName="confirmPassword"
             id="confirmPassword" class="form-control">
      <label for="confirmPassword">Повторить пароль</label>
      <span (click)="passwordViewC = !passwordViewC" matTooltip="показать / скрыть"
            matTooltipShowDelay="500" class="view-pass"><i
        [ngClass]="passwordViewC ? 'fa fa-eye-slash': 'fa fa-eye'"
        aria-hidden="true"></i></span>
      <mdb-error *ngIf="confirmPassword.errors?.required && (confirmPassword.dirty || confirmPassword.touched)">Обязательно к
        заполнению
      </mdb-error>
      <mdb-success *ngIf="confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)"></mdb-success>
      <mdb-error *ngIf="confirmPassword.errors?.minlength && (confirmPassword.dirty || confirmPassword.touched)">Минимум
        5
        символов
      </mdb-error>
      <mdb-error *ngIf="confirmPassword.errors?.mustMatch && (confirmPassword.dirty)">Пароли не совпадают</mdb-error>
    </div>
    <div class="md-form" *ngIf="isChangePassword">
      <button class="btn btn-outline-success w-100"
              [disabled]="newPassword.invalid || confirmPassword.invalid || confirmPassword.errors?.mustMatch"
              (click)="createNewPassword()">Сменить пароль</button>
    </div>
  </form>
  <div class="d-flex justify-content-around">
    <!--        <div>-->
    <!--          &lt;!&ndash; Remember me &ndash;&gt;-->
    <!--          <div class="form-check">-->
    <!--            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">-->
    <!--            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>-->
    <!--          </div>-->
    <!--        </div>-->
    <div>
      <!-- Forgot password -->
      <a class="forgotPass" id="toLog" (click)="isResetForm()">Войти ?</a>
    </div>
  </div>

</div>
