<div class="inner_landing">
  <span class="cursor_l" (click)="goBack()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
  <div class="inner_landing__container">
    <div class="inner_landing__container__main">
      <h4>{{model_inner?.title}}</h4>
      <img class="img-responsive" [src]="model_inner?.base_path + model_inner?.news_img"/>
      <div class="" [innerHTML]="SANITIZER.bypassSecurityTrustHtml(model_inner?.data)"></div>
    </div>
    <div class="inner_landing__container__news">
      <span class="inner_landing__container__news__titles">Предыдущие: </span>
      <ul>
        <ng-container *ngFor="let model of data_to_inner.full_data; let i = index">
          <!--<ng-container *ngIf="i < 4">-->
          <li (click)="data_main(model)" appNewsHowd [class]="(model == data_to_inner.select_data) ? li_class + ' active': li_class">
                    <span class="inner_landing__container__news__list__iterate__title">
                        {{model?.title}}
                    </span>
            <span class="inner_landing__container__news__list__iterate__date">
                {{model?.time_create | date: 'dd/MM/yyyy'}}
              </span>
          </li>
          <!--</ng-container>-->
        </ng-container>
      </ul>
    </div>

  </div>
</div>
