@import "../../../../assets/style_components/colors.component";

.inner_landing {

  padding-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;

  &__container {

    width: 98%;
    display: flex;
    flex-direction: row;

    &__main {
      min-width: 75%;
      font-family: Fregat_regular, sans-serif;
      margin-left: 15px;

      h4 {

        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        font-family: Fregat_regular, sans-serif;

      }

      & > img {
        width: 90%;

      }
    }

    &__news {

      width: 100%;
      margin-top: 60px;

      &__titles {

        font-size: 1.2rem;
        font-family: Fregat_regular, sans-serif;
        margin: 4%;
      }

      ul {

        padding-top: 20px;
      }

      &__list {

        line-height: 15px;
        font-family: Fregat_regular, sans-serif;
        width: 100%;
        height: 90px;
        margin: 4%;
        min-width: 35px;
        font-size: 85%;
        padding: 3%;
        background-color: rgba(41, 44, 55, 0.16);;
        color: #292c37;
        border-radius: 4px;
        cursor: pointer;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
      }
    }
  }

}

.cursor_l {

  position: absolute;
  top: 11px;
  left: 14px;
  font-size: 2.1rem;
  background-color: rgba(21, 128, 0, 0.5803921568627451);;
  color: white;
  padding-right: 13px;
  padding-left: 12px;
  cursor: pointer;

  &:hover {

    background-color: $green;
  }

}

.active {
  width: 95%;
  background-color: $green;
  color: $white !important;
}

@media (max-width: 514px) {
  .inner_landing__container__news {
    display: none;
  }
}
