@import "../../../assets/style_components/colors.component";
@import "../../../assets/style_components/button";

.confirmbtn {

  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;

}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

mat-horizontal-stepper {
  @media (max-width: 750px) {
    display: none;
  }
}

.landing-section-wrapper {
  width: 99.59%;
  //height: 1200px;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}

.search_landing {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;


  &__picture {
    height: 340px;
    width: 100%;
    background: url(./.././../../assets/images/background/main-green-black.png) no-repeat local 50% 50%;
    background-size: cover;
    background-blend-mode: overlay;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

    h4 {
      font-family: Fregat_Bold, sans-serif;
      font-size: 48px;
      color: $white;
      padding-top: 35px;
    }
  }

  &__sConteiner {
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    max-width: 830px;
    //min-width: 360px;
    display: flex;
    flex-direction: column;
    bottom: 225px;
    position: relative;
    background-color: $white;
    border: 1px solid $white;
    -webkit-box-shadow: 0px 14px 18px 4px rgba(184, 200, 219, 1);
    -moz-box-shadow: 0px 14px 18px 4px rgba(184, 200, 219, 1);
    box-shadow: 0px 14px 18px 4px rgba(184, 200, 219, 1);
  }

  &__title {

    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: inherit;
      font-family: Fregat, sans-serif;
      margin-bottom: 0;
      margin-top: 17px;
      font-size: 20px;
    }

  }

  &__tab {
    display: inline-flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #cccccc40;
    //margin-top: 20px;
    margin-top: 2.5%;

    button {
      position: relative;
      border: 1px solid $green;
      font-weight: 200;
      text-align: center;
      font-family: Fregat_Bold, sans-serif;
      background-color: $green;
      color: $white;
      height: 35px;
      width: 115px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {

        transform: translateY(-7px);
        background-color: $dark-green;

        &:above-level {
          content: "";
          background-color: #292c37;
        }

      }

      &:focus {
        transform: translateY(-7px);
        box-shadow: 0px 0px 16px 0px $dark-green;
      }
    }

    &__active {
      background-color: #cc2c40;
    }
  }
}

.mat-horizontal-content-container {
  padding: unset !important;
}

.steps_container {
  transition: all 3s;
  background-color: $white;
  display: flex;
  justify-content: center;
  //padding-top: 6.5%;
  padding-top: 2vw;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: #fff0 !important;
}

.mat-ripple {
  background-color: #dadada !important;
}

//@media (max-width: 660px) {
//  .search_landing__sConteiner {
//min-width: 642px;
//}
//}
.mat-horizontal-content-container {
  padding: unset !important;
}
