<div class="landing-section-wrapper">
  <div class="search_landing">
    <div class="search_landing__picture">
      <h4>Что ищете?</h4>
      <!--      <app-description></app-description>-->
    </div>
    <div class="search_landing__sConteiner">
      <div class="steps_container" [@openClose]="(isHideStepper | async) ? 'closed' : 'open'">
        <mat-horizontal-stepper #stepper class="p-0">
          <ng-container *ngFor="let phase of phaseContainer; let i = index">
            <mat-step [label]="interpreterM[phase.field]" [state]="i" [editable]="phase.value"
                      [completed]="phase.value">
            </mat-step>
          </ng-container>
        </mat-horizontal-stepper>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
