<div class="tariff_landing">
  <div class="tariff_landing__title">
    <h4>Тарифы по поиску работы</h4>
  </div>
  <div class="tariff_landing__container">
    <app-tariff style="width: 99%" [dataTarif]="tariffWork" [additional_style_property]="additional_style_property">
    </app-tariff>
  </div>
</div>
