@import "./../../../assets/style_components/colors.component";
.wrapCall {
  transition: all 0.5s;
  opacity: 1;
  bottom: 0 !important;
  bottom: -200px;
  height: 40px;
  width: auto;
  right: 30px;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 34px !important;
  background: $orange;
  display: block;
  color: white;
  font-family: Fregat_bold, sans-serif;

  &__faq {
    width: 96%;
  }

  &__primaryMail {
    width: 92%;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  &__content {
    position: relative;
    top: 17px;
  }

  p {
    font-family: Fregat_regular, sans-serif;
  }

  label {
    color: black;
    font-family: Fregat_regular, sans-serif;
  }
}

.close {
  transition: all 0.7s;
  position: absolute;
  opacity: 0;
  font-size: 1.5rem;
  display: none;

  &_see {
    position: absolute;
    opacity: 1;
    left: -25px;
    top: -13px;
    font-size: 1.6rem;
    color: $orange;
  }
}

.open-chat {
  position: absolute;
  width: 100%;
}

.text-container {
  //border-top: 1px solid #d8dee3;
  //border-bottom: 1px solid #d8dee3;
  //position: absolute;
  //bottom: -77px;
  //left: 1px;

  border-top: 1px solid #d8dee3;
  border-bottom: 1px solid #d8dee3;
  position: absolute;
  left: 1px;
  margin-top: 0;
  margin-bottom: 0;
  bottom: -40px;
}

textarea {
  //height: 38px!important;
  min-height: 79px;
  display: block !important;
  padding: 18px 58px 0 16px !important;
  max-height: 90px !important;
  height: auto;
  resize: none !important;
  font-family: Fregat_regular, sans-serif;
  overflow: hidden !important;
  line-height: 20px !important;
  box-sizing: border-box !important;
  position: relative;
  z-index: 2;
  border: none !important;
  overflow-y: hidden !important;
  outline: none !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  width: 336px !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
  border-radius: 0 !important;
  float: none !important;
  -webkit-text-fill-color: #222d38 !important;
}

.wrapCall_history {
  height: 300px;
  overflow-x: hidden;
  top: -41px;
  position: relative;

  span {
    color: black;
    font-size: 0.9rem;
    font-family: Fregat_regular, sans-serif;
  }

  i {
    color: black;
    font-size: 8px;
  }
}

.dowloadS {
  position: absolute;
  bottom: 0;
  color: black;
  font-size: 1.2rem;
  left: 12px;
}

.upload-angular-container {
  position: absolute;
  background-color: $orange;
  height: 113%;
  z-index: 222;
  left: 0px;
  top: 0px;
  width: 100%;
}

.previewLive {
  position: absolute;
  z-index: 888;
  font-size: 14px;
  bottom: 44px;
  background-color: $orange;
  padding: 1px;
  border-radius: 4px;
  left: 6px;
  padding-left: 3px;
  padding-right: 4PX;

}

.buttonSendMsg {
  position: absolute;
  z-index: 22;
  height: 2.7rem;
  width: 2rem;
  font-size: 0.6rem;
  right: 5px;
  border-radius: 5px;
  text-align: center;
  bottom: -15px;
}

.cust {
  position: relative;
  width: 100%;
  //top: -54px;

  &_not {

  }
}

@media screen and (max-width: 420px) {
  .close_see {
    position: absolute;
    opacity: 1;
    left: unset;
    right: 16px;
    top: -8px;
    font-size: 2.6rem;
    color: red;
  }
}

