<div class="wrapCall not-select" [ngStyle]="{'height': (isAppC)? '3rem': ''}">
  <span [ngClass]="(isAppC)? 'close_see': 'close'" (click)="isApp(false)">
              <i class="fa fa-times" aria-hidden="true"></i></span>
  <span class="dowloadS"
        (click)="isUpdlodW(true)"
        [ngStyle]="{'display': (!isDowload)? 'none': 'block'}">
        <i class="fa fa-download" style="color: gray;" aria-hidden="true"></i>
  </span>
  <div class="previewLive" [ngStyle]="{'display': (isAppC) ? 'block': 'none'}"
       (click)="cleanPreviewLive()">{{previewLive}}</div>
  <div (click)="isApp(true)">
    &nbsp;&nbsp;<i class="far fa-comments"></i>&nbsp;{{title}}
    <p *ngIf="isAppC">&nbsp;&nbsp;Операторы онлайн!</p>
  </div>

  <div class="wrapCall__content p-2">
    <div *ngIf="!isQestion; else liveForms">
      <div class="p-1 pl-3">
        <a class="wrapCall__faq" [routerLink]="'/help'">Часто задаваемые вопросы</a>
      </div>
      <form [formGroup]="liveForm" class="wrapCall__primaryMail pt-3">
        <label for="contact">
          Укажите ваш адрес электронной почты
        </label>
        <input id="contact" formControlName="user_mail" type="text" class="form-control">
        <button (click)="isQestionM()"
                class="c-btn c-btn_out_line c-btn_cs w-100 m-0 mt-2 p-2" [disabled]="user_mail.invalid">Подтвердить
        </button>
        <a (click)="isQestionM()" class="c-btn c-btn_primary c-btn_cs w-100 m-0 mt-2 p-2">Пропустить и перейти к вопросу</a>
      </form>
    </div>
    <ng-template #liveForms>
      <div>
        <input type="file" id="fileCl" hidden (change)="fileEvent($event)">

        <form [formGroup]="liveForm" (ngSubmit)="onSubmit()">
          <div class="md-form" style="margin-top: 0; margin-bottom: 0;">
            <div class="wrapCall_history" #wrHistory [ngStyle]="{'opacity': (!isAppC)? '0': '1', 'z-index': (!isAppC)? '-1': '2'}">
              <ng-container *ngIf="historyContent">
                <div *ngFor="let content of historyContent" style="max-width: 100%;" class="d-flex flex-column"
                     [ngStyle]="{'text-align': (content?.isCustomer == 1)? 'right': 'left'}"
                     [ngClass]="((content?.isCustomer == 1)? 'align-items-end': '')"
                >
                  <span *ngIf="content?.isCustomer == 1; else elsCust" class="cust">Вы</span>
                  <ng-template #elsCust>
                    <span class="cust_not">Оператор</span>
                  </ng-template>
                  <img *ngIf="content?.img" [src]="content?.img" style="max-width: 25%;">
                  <span *ngIf="content?.message">{{content?.message}}</span>
                  <i>{{content?.date_message}}</i>


                </div>
              </ng-container>
            </div>
          </div>
          <div class="md-form text-container">

            <textarea autocomplete="on" maxlength="1000" mdbInput type="tel" id="message"
                      formControlName="message"
                      (keydown.enter)="onSubmit()"
                      class="form-control"></textarea>
            <label for="message">Введите сообщение и нажмите Enter</label>
          </div>
          <button style="position: absolute; z-index: 22" class="buttonSendMsg btn-success">
            <i class="fa fa-arrow-up" style="font-size: 1.6rem;" aria-hidden="true"></i></button>
        </form>

      </div>
    </ng-template>
  </div>

</div>
