@import "../../../../assets/style_components/colors.component";
@import "../../../../assets/style_components/button";
@import "../../../../assets/style_components/inputs.component";
@import "../../../../assets/style_components/select.component";

.transition-s {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.p_landing {
  margin-top: 42px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;

  form {
    width: calc(100% - 472px);
  }

  &__item {
    width: 100%;
    border-bottom: 0.3px solid gainsboro;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 30px;
    font-family: Fregat_regular, sans-serif;
    font-size: 18px;

    &:nth-child(3) {
      margin-top: 2%;
    }

    &:nth-child(6) {
      margin-top: 1%;
    }

    label {

      width: 181px;;
    }

    transition: all 0.75s;

    span {
      position: relative;
      z-index: 2;
      margin: 0 auto;
      text-align: center;
      max-width: 500px;
      font-size: 15px;
      cursor: pointer;
      transition: 1s linear;
      font-family: Fregat_regular, sans-serif;
      color: $green;
      display: none;
    }

    input[type=text] {
      width: 290px;
      font-family: Fregat_regular, sans-serif;
      font-size: 18px;
      border: none;
      background: none;
      outline: none;
      padding: 0;
    }

  }
}

@media (max-width: 800px) {
  .p_landing__item {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;

    label {
      width: 135px;
      margin-bottom: 0;
    }
  }
}


