<div class="p_landing" *ngIf="FormPersonalInfo">
  <form class="auto_landing" [formGroup]="FormPersonalInfo" novalidate (ngSubmit)="save(FormPersonalInfo.value)">
    <div #formSignal>
      <div class="p_landing__item">
        <label>Имя</label>
        <input type="text" formControlName="first_name"/>
        <span data-fieldName="first_name" class="change"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Сохранено</span>
      </div>
      <div class="p_landing__item">
        <label>Фамилия</label>
        <input type="text" formControlName="last_name"/>
        <span data-fieldName="last_name" class="change"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Сохранено</span>
      </div>
      <div class="p_landing__item">
        <label>Электронная почта</label>
        <input type="text" formControlName="email"/>
        <span data-fieldName="email" class="change"><i class="fa fa-check-circle-o"
                                                       aria-hidden="true"></i> Сохранено</span>
      </div>
      <div class="p_landing__item" [ngStyle]="{'display': 'none'}">
        <label>Дата рождения</label>
        <input type="text" formControlName="date_year"/>
        <span data-fieldName="email" class="change"><i class="fa fa-check-circle-o"
                                                       aria-hidden="true"></i> Сохранено</span>
      </div>

      <div class="p_landing__item">
        <label>Телефон</label>
        <input type="text"
               [textMask]="{mask: areaCodeMask}"
               formControlName="phone" *ngIf="accountUsers.phone !== 0"/>
        <span data-fieldName="phone" class="phone"><i class="fa fa-check-circle-o"
                                                      aria-hidden="true"></i> Сохранено</span>
      </div>
      <div class="p_landing__item">
        <label *ngIf="accountUsers.query_count !== 0">
          Оставленных заявок&nbsp;&nbsp;{{accountUsers.query_count}}
        </label>
      </div>

      <div class="p_landing__item">
        <label>
          Ваш уникальный идентификатор
        </label>
        <input [ngStyle]="{'font-style': 'italic', 'font-weight': 'bold'}" type="text" [disabled]="true"
               [value]="'('+user?.user_id+')'">
      </div>

      <!--      <div class="p_landing__item" [style.display]="'flow-root'">-->
      <!--        <button [@dialog] *ngIf="!FormPersonalInfo.pristine" class="btn btn-success" style="background-color:#289547" [disabled]="FormPersonalInfo.invalid || FormPersonalInfo.pristine">-->
      <!--          Применить-->
      <!--        </button>-->
      <!--      </div>-->
    </div>
  </form>
</div>
