@import "../../../assets/style_components/colors.component";
@import "../../../assets/style_components/utils.component";

.bSize {
  background-size: cover !important;
}

.img {

  width: 32px;
}

.main {
  margin: 5rem 0;
  overflow: hidden;
}

.tab {
  cursor: pointer;
}

.title {
  font-size: 22px;
  font-family: Fregat, sans-serif;
  letter-spacing: 0.44px;
  font-weight: 700;
  transition: all 0.6s;

  &:hover {
    color: #ef9c00;
  }
}

.active {
  text-decoration: underline;
  color: #ef9c00;
}

@media (max-width: 460px) {
  .lapt {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .t-container {
    flex-direction: row !important;
    justify-content: space-around !important;
  }
}

@media (max-width: 395px) {
  .title {
    font-size: 8px !important;
  }
}

@media (max-width: 770px) {
  .t-container {
    flex-direction: row !important;
    justify-content: space-around !important;
  }
  .title {
    font-size: 11px;
  }
  .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img {

  }
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 640px) {
  .laptop {
    min-height: 231px;
  }
}
