<div class="main">

  <div class="container flex-wrap">
    <div class="row">

      <div class="col col-md-4 d-flex flex-column justify-content-center t-container">
        <div class="row mb-3 mt-3 noselect" #feat_params [ngClass]="feature?.active? 'active': ''"
             *ngFor="let feature of featuresList; let i = index">
          <div class="tab" (click)="getClick(i, feat_params)" >
            <img class="img mr-2" [src]="feature?.icons" [alt]="feature?.title">
            <span class="title" >{{feature?.title}}</span>
          </div>
        </div>
      </div>
      <div class="col lapt">
        <app-laptop [laptopClass]="'laptop_features'" [downPanel]="'down-panel-features'" [laptopContainer]="'laptop-container-features'">
          <div class="w-100 h-100 bSize"
               [ngStyle]="{'background': 'url(../../../assets/images/landing/'+timeSrx+') no-repeat center'}">
          </div>
        </app-laptop>
      </div>
    </div>
  </div>

</div>
