<!--<div class="row-fluid-wrapper row-depth-1 row-number-6 " style="min-height: 105%;">-->
<!--  <div class="row-fluid ">-->
<!--    <div class="span12 widget-span widget-type-cell page-center" style="text-align:center; float:none; padding: 60px; " data-widget-type="cell" data-x="0" data-w="12">-->

<!--      <div class="row-fluid-wrapper row-depth-1 row-number-7 ">-->
<!--        <div class="row-fluid ">-->
<!--          <div class="span12 widget-span widget-type-linked_image " style="" data-widget-type="linked_image" data-x="0" data-w="12">-->
<!--            <div class="cell-wrapper layout-widget-wrapper">-->
<!--              &lt;!&ndash;<span id="hs_cos_wrapper_module_14771424876046448" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//cdn2.hubspot.net/hub/1823288/hubfs/Althea/simple-blue-tick-clip-art.png?t=1511281598525&amp;width=250&amp;name=simple-green-tick-clip-art.png" class="hs-image-widget " style="width:250px;border-width:0px;border:0px;" width="250" alt="simple-blue-tick-clip-art.png" title="simple-blue-tick-clip-art.png"></span></div>&lt;!&ndash;end layout-widget-wrapper &ndash;&gt;&ndash;&gt;-->
<!--              <span id="hs_cos_wrapper_module_14771424876046448" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="../../../assets/images/check-mark.png" class="hs-image-widget " style="width:250px;border-width:0px;border:0px;" width="250" alt="simple-blue-tick-clip-art.png" title="simple-blue-tick-clip-art.png"></span></div>&lt;!&ndash;end layout-widget-wrapper &ndash;&gt;-->
<!--          </div>&lt;!&ndash;end widget-span &ndash;&gt;-->
<!--        </div>&lt;!&ndash;end row&ndash;&gt;-->
<!--      </div>&lt;!&ndash;end row-wrapper &ndash;&gt;-->

<!--      <div class="row-fluid-wrapper row-depth-1 row-number-8 ">-->
<!--        <div class="row-fluid ">-->
<!--          <div class="span12 widget-span widget-type-rich_text " style="padding-top: 30px;" data-widget-type="rich_text" data-x="0" data-w="12">-->
<!--            <div class="cell-wrapper layout-widget-wrapper">-->
<!--              <span id="hs_cos_wrapper_module_14771419653583641" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2><span>Спасибо за ваш заказ!</span></h2></span>-->
<!--            </div>&lt;!&ndash;end layout-widget-wrapper &ndash;&gt;-->
<!--          </div>&lt;!&ndash;end widget-span &ndash;&gt;-->
<!--        </div>&lt;!&ndash;end row&ndash;&gt;-->
<!--      </div>&lt;!&ndash;end row-wrapper &ndash;&gt;-->

<!--      <div class="row-fluid-wrapper row-depth-1 row-number-9 ">-->
<!--        <div class="row-fluid ">-->
<!--          <div class="span12 widget-span widget-type-rich_text " style="font-size: 25px;     color: #999;" data-widget-type="rich_text" data-x="0" data-w="12">-->
<!--            <div class="cell-wrapper layout-widget-wrapper">-->
<!--              <span id="hs_cos_wrapper_module_147714279786114434" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">Как только найдем товар по указанным критериям</span>-->
<!--              <p>Оповестим вас через смс</p>-->
<!--              <button [@dialog] class="c-btn c-btn_sm c-btn_secondary c-btn_inline home"><a style="color: white" routerLink="/homes" class="">На главную</a></button>-->
<!--              <button *ngIf="btnLoging === false" [@dialog] class="c-btn c-btn_sm c-btn_secondary c-btn_inline" (click)="showDialog = !showDialog; up(15)"><a class="">Войти</a></button>-->
<!--              <button *ngIf="btnLoging === true" [@dialog] class="c-btn c-btn_sm c-btn_secondary c-btn_inline" (click)="openLk()"><a class="">Личный кабинет</a></button>-->
<!--            </div>&lt;!&ndash;end layout-widget-wrapper &ndash;&gt;-->
<!--          </div>&lt;!&ndash;end widget-span &ndash;&gt;-->
<!--        </div>&lt;!&ndash;end row&ndash;&gt;-->
<!--      </div>&lt;!&ndash;end row-wrapper &ndash;&gt;-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<app-appdialog [(visible)]="showDialog">-->
<!--  <app-login (closeD)="closeDialog($event)"></app-login>-->
<!--</app-appdialog>-->
