<!--<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-atom" [fullScreen]="true">-->
<!--  <p style="color: white"> Загрузка... </p></ngx-spinner>-->
<div class="card z-depth-0 border-0 d-flex align-items-center color-content pt-5 pb-5"
     [ngStyle]="{ 'background-color': '#f7f9ff'}">

  <mdb-carousel class="container" #carouselRef [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex" [interval]="222222" (activeSlideChange)="activeSlideChange($event)"  [animation]="'slide'">
    <mdb-slide *ngFor="let item of dataChart; let index=index" class="flex-column" >
      <h4>{{item?.date}}</h4>
      <div id="line-chart-parent">
        <ngx-charts-bar-vertical
          [scheme]="colorScheme"
          [results]="item?.datas"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>

    </mdb-slide>
  </mdb-carousel>




</div>


