#line-chart-parent {
  display: grid;
  min-height: 500px;
  width: 90%;
}
h4 {
  font-family: Fregat_regular, sans-serif;
}
.carousel-control-prev-icon{
  background-image: url('https://apufpel.com.br/assets/img/seta_prim.png')!important;
}
.carousel-control-next-icon{
  background-image: url('https://apufpel.com.br/assets/img/seta_ult.png')!important;
}
