<app-web-game></app-web-game>
<app-new-year></app-new-year>
<ngx-spinner [name]="spinnerName" bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-atom" [fullScreen]="true">
  <p style="color: white"> Загрузка... </p></ngx-spinner>
<app-nav-app>
  <router-outlet></router-outlet>
  <app-sishik-footer-app>Loading footer</app-sishik-footer-app>
  <p id="back-top">
    <a href="#top">
    <span>
      <div class="cover">
    <i class="fa fa-chevron-circle-up i-first" aria-hidden="true"></i>
        <!--<i class="fa fa-angle-up fa-3x i-second" aria-hidden="false"></i>-->
       </div>
  </span>
    </a>
    <!--<a href="#top"><span><i class="fa fa-globe"></i></span></a>-->
  </p>
  <app-live-chat class="app-chat"
                 [ngClass]="(isAppChat == true)? 'hoverShadow': ''"
                 [ngStyle]="{
               'height': (isAppChat == false) ?'41px':'',
               'width':(isAppChat == false)? '300px': ''
               }"></app-live-chat>
</app-nav-app>
