<div class="board-rules-container">
  <!--<div class="modal-header">-->
  <!--  <h4 class="modal-title">-->
  <!--    <img  routerLink="/homes" (click)="onCancel()" class="icon-logoш" alt="www" src="../../../assets/images/logo-sishick_60x58.png">-->
  <!--    Правила пользования</h4>-->
  <!--</div>-->
  <div class="">
    <div class="modal-body">
      <div>
        Перед продолжением рабыты необходимо прочесть и согласиться с нашими правилами.
        Знание правил упростит получение информации и сделает дальнейшее общение комфортным.
      </div>
      <div class="row d-flex justify-content-center">
        <a class="btn btn-warning"
           [target]="'_blank'"
           [routerLink]="['/rules']">Пользовательское соглашение</a>
        <a class="btn btn-warning"
           [target]="'_blank'"
           [routerLink]="['/privacy-policy']">Политика конфиденциальности</a>
      </div>
      <div class="form_group_block" *ngIf="boardForm">
        <form class="" [formGroup]="boardForm" novalidate (ngSubmit)="save(boardForm.value, boardForm.valid)">
          <mat-radio-group formControlName="align" [(ngModel)]="align">
            <mat-radio-button class="consent" value="read">Я прочел правила и согласен с ними</mat-radio-button>
            <!--          <mat-radio-button class="consent" value="skip">Согласен со всем не читая</mat-radio-button>-->
          </mat-radio-group>

          <button type="submit" class="btn btn-success" [mat-dialog-close] [disabled]="!boardForm.get('align').dirty">Далее</button>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer" style="padding: unset">
  </div>
</div>
