@import "../../../assets/style_components/colors.component";
.icon-logo {
  border-radius: 5px;
  max-width: 50px;
  width: 100%;
}

.consent {

  font-family: Fregat, sans-serif!important;
  font-size: 0.9rem!important;
}
.modal-body {

  font-family: Fregat, sans-serif!important;
  .form_group_block {

    margin-top: 15px;
  }
}

.modal-body, .modal-header {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.modal-header {

  border-bottom: 0 solid #e9ecef!important;
  .modal-title {

    color: $green;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Fregat_Bold, sans-serif!important;
    font-size: 1.5rem;

    img {

      margin-right: 20px;
      border-radius: 5px;
      max-width: 50px;
      max-height: 50px;
      width: 100%;
    }
  }
}
