.details-container {
  margin: 3rem 0 3rem 0;
  flex-direction: column;
}

.desc-container {
  font-family: 'Fregat_regular', sans-serif;
  word-break: break-all;

  &__contant {
    text-align: center;
  }
}

.container {
  max-width: 100%;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: center;
  &__preview {
    max-width: 200px;
    &__img {
      box-shadow: 0 0 0 0.3px #EF9C00;
      border-radius: 15px;
      cursor: pointer;
      max-height: 130px;
      height: 100%;
      max-width: 100%;
      &:hover {
        background-color: #EF9C00;
      }
    }
  }
}
.cdk-overlay-dark-backdrop{
  background-color: #0b2e13 !important;
}
.mat-dialog-container {
  padding: 0 !important;
}
.reg-btn {
  width: 544px;
  max-width: 100%;
  margin: 0 auto;
}
