<div class="container p-0">
  <div class="row details-container">
    <div class="col-12">
      <div class="images-container">
        <div *ngFor="let craftImage of craftImages" class="images-container__preview m-1"
             (click)="openImage(craftImage?.craft_img, template)"
        >
          <img class="images-container__preview__img p-2" [src]="craftImage?.craft_img" [alt]="craftImage?.craft_img">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="desc-container">
        <div class="desc-container__content" [innerHTML]="SANITIZER.bypassSecurityTrustHtml(craftItems?.desc)"></div>
      </div>
    </div>

    <button
      (click)="nexTStep(true)"
      *ngIf="(isLogin | async); else isNotLogin"
      class="c-btn c-btn_out_line c-btn_cs reg-btn mt-4">
      Промокод доступен в личном кабинете
    </button>
    <ng-template #isNotLogin>
      <button
        (click)="nexTStep(false)"
        class="c-btn c-btn_out_line c-btn_cs reg-btn mt-4">
        Чтобы получить скидку Вам нужно зарегистрироваться на нашем сайте и
        воспользоваться промокодом доступным в личном кабинете
      </button>
    </ng-template>
  </div>
</div>

<ng-template #template>
  <div class="modal-header unselectable">
    <button type="button" class="close unselectable" aria-label="Close" [mat-dialog-close]>
      <span class="unselectable" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img [src]="href" alt="view" class="w-100">
  </div>
</ng-template>

<!--<app-appdialog [(visible)]="showDialog">-->
<!--  <app-login (closeD)="closeDialog($event)"></app-login>-->
<!--</app-appdialog>-->
