<div class="landing-section-wrapper">
  <div class="news_landing ">
    <div class="news_landing__picture img-bg-color landing_picture ">
      <h1>СТО (справка)</h1>
    </div>
    <div class="news_landing__sConteiner container mt10 row pt-3 pt-md-4">

      <div class="news_landing__aside col-12">
        <form [formGroup]="cityForm" novalidate>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Город</mat-label>
            <mat-select [formControl]="cityForm.get('cityControl')">
              <mat-option [value]="'0'">Все</mat-option>
              <mat-option *ngFor="let cit of (cityList | async)" [value]="cit?.id_city">{{cit?.city_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div class="col-12 pb-4 d-flex flex-wrap justify-content-around">

        <mat-card class="sto-card mb-3 d-flex flex-column justify-content-between"
                  *ngFor="let sto of (stoList | async) | paginate: { itemsPerPage: itemsPerPage, currentPage: p1, id: 'first' };">
          <mat-card-header>
            <mat-card-title>{{sto?.name}}</mat-card-title>
          </mat-card-header>
          <!--          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
          <mat-card-content>
            <p>{{sto?.desc}}</p>
          </mat-card-content>
          <mat-card-footer>
            <ng-container *ngIf="sto?.phones">
              <div class="sto-card__phones">
                <a [href]="'tel:'+ phone" *ngFor="let phone of sto?.phones">{{phone}}</a>
              </div>
            </ng-container>
            <div class="sto-card__date text-right pr-4">
              {{sto?.created_at | date: 'dd/MM/yyyy'}}
            </div>
          </mat-card-footer>
        </mat-card>
      </div>

      <ng-container *ngIf="(stoList | async)?.length > itemsPerPage">
        <pagination-controls
          style="margin:0 0 0 auto;"
          (pageChange)="p1 = $event" id="first"
          class="my-paginationN pt-4"
          previousLabel="Пред.."
          nextLabel="След..">
        </pagination-controls>
      </ng-container>

    </div>
  </div>
</div>
