@import "./../templated/news-page/news-page.component";
h1 {
  text-transform: uppercase;
  font-family: Fregat_bold, sans-serif;
  font-size: 48px;
  color: $white;
  padding-top: 50px;
}

@media screen and (max-width: 810px){
  .news_landing__main {
    flex-direction: column-reverse;
  }
  .app-main {
    max-width: 100%;
  }
}
mat-card-title {
  font-family: Fregat_Bold, sans-serif;
}
mat-card-content {
  font-size: 14px;
  font-family: Fregat_regular, sans-serif;
}
.sto-card {
  background-color: $green;
  color: white;
  max-width: 400px;
  width: 100%;
  &__date {
    font-size: 14px;
    font-family: Fregat_regular, sans-serif;
  }
  &__phones {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    font-size: 14px;
    font-family: Fregat_regular, sans-serif;
    a {
      color: white !important;
    }
  }
}

