<app-wrap-query [count]="count" [wrapIndex]="wrapIndex" (activeId)="activeFromWrapQuery($event)">
  <form [formGroup]="myForm" novalidate>
    <div formArrayName="items" *ngFor="let item of myForm.get('items')['controls']; let i = index;">
      <div class="auto_landing pt-5 formHelp" [formGroupName]="i" [@dialog]
           *ngIf="i === formOutputId">
        <!--        <div class="auto_landing__title">-->

        <!--          <h4 *ngIf="tittle; else default" style="text-align: center;">-->
        <!--            {{tittle}}-->
        <!--            <div class="service-title">Выберите сервисы для поиска</div>-->
        <!--          </h4>-->
        <!--          <ng-template #default>-->
        <!--            <h4>Выберите сервисы для поиска</h4>-->
        <!--            &lt;!&ndash;    <h4>Что ищете?</h4>&ndash;&gt;-->

        <!--          </ng-template>-->
        <!--        </div>-->
        <!--        <div class="w-100 d-flex flex-row justify-content-center main-help-service mb-4">-->
        <!--          <div class="services col {{i}}" [ngClass]="serviceSelected[i][serList.id]? 'services-active': ''"-->
        <!--               *ngFor="let serList of serviceList"-->
        <!--               (click)="serviceListSelect(serList, i);"-->
        <!--               matTooltip="{{serList.description}}"-->
        <!--               matTooltipShowDelay="500">-->
        <!--            <img class="services-img" [src]="serList?.img"/>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div class="justify-content-center flex-wrap"-->
        <!--             [ngClass]="(Object.keys(serviceSelected[i]).length > 0)? 'd-flex': 'd-none'"-->
        <!--        > -->
        <div class="justify-content-center flex-wrap"
             [ngClass]="'d-flex'"
        >
          <div class="auto_landing__item auto_landing__item__checkList">

            <mat-form-field appearance="outline">
              <mat-label>Категория</mat-label>
              <mat-select
                [formControl]="item.get('query_category_legal')">
                <mat-option *ngFor="let model of (repeatLegalCategoryMore | async); let i = index;"
                            [value]="Number(model.id)">{{model.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="validExc" *ngIf="!item.get('query_category_legal').valid"><i class="fas fa-exclamation-triangle"></i>
            </div>
          </div>

          <div class="auto_landing__item auto_landing__item__checkList">

            <mat-form-field appearance="outline">
              <mat-label>Область</mat-label>
              <mat-select
                [formControl]="item.get('query_region')">
                <mat-option [value]="0">Все</mat-option>
                <mat-option *ngFor="let model of (repeatLegalRegionMore | async); let i = index;"
                            [value]="Number(model?.id_region)">{{model?.name_region}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="validExc" *ngIf="!item.get('query_region').valid"><i class="fas fa-exclamation-triangle"></i>
            </div>
          </div>
        </div>
        <button
          #confirm
          class="confirm_btn"
          [ngClass]="(!item.valid) ?
        'c-btn c-btn_sm c-btn_inline c-btn_primary_disabled':
        'c-btn c-btn_primary c-btn_cs ml-4'"
          (click)="addNewForm(i, confirm); wrapIndex = i + 1"
          [disabled]="!item.valid"
          type="button">{{cTitle[i]}}
        </button>
      </div>
    </div>
  </form>
</app-wrap-query>

