@import "../../../assets/style_components/colors.component";
@import "../../../assets/style_components/inputs.component.scss";
@import "../../../assets/style_components/select.component";
@import "../../../assets/style_components/button";
@import "../../../assets/style_components/range_slider";
@import "../../../assets/style_components/checkbox.component";

//.ng-untouched {
//  display: none!important;
//}
.auto_section_wrapper {


}
.validExc {
  position: absolute;
}
.c-input {
  width: 0;
}

.c-select {
  margin: 11px;
}

.centerOption {
  margin-bottom: 15px;
}

.ui-widget {
  width: 70%;
}

#goAp {
  margin-bottom: 19px;
}

#minV, #maxV {
  width: 40px;
}

.confirmbtn {

  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;

}

.auto_landing {
  font-family: Fregat, sans-serif;
  //width: 850px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  //border-bottom: 1px solid #c7cce2;

  &__title {

    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: inherit;
      font-family: Fregat, sans-serif;
      margin-bottom: 0;
      margin-top: 2%;
      font-size: 20px;
    }
  }

  &:first-child {
    //padding-top: 30px;
    padding-top: 2%;
  }


  @media (max-width: 772px) {
    .query_yers, .query_currency {
      width: 316px;

      div {
        flex-direction: column;
        width: 100%;
      }

      & > label {
        font-size: unset !important;
        width: 100%;
        text-align: center;
      }

      input {
        min-width: auto;
        width: 100%;
      }
      select {
        width: 100%;
      }
    }
    .query_currency {
      width: 100%;
      padding-left: 0;
      margin-right: auto;
      padding-right: 0;
      select {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .query_price_min, .query_price_max {
      input {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  &__item {
    position: relative !important;
    padding-bottom: 1%;
    flex-direction: column;
    display: flex;
    width: 316px;


    &__checkList {
      ackground-color: rgba(255, 255, 255, 0);
      border-top: unset;
      width: 300px;
      margin: 0 3px;
    }

    &__label {
      background-color: green;
      color: white;
    }

    &_one {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      padding-bottom: 5px;
    }


    label {
      padding-left: 15px;
      font-size: 16px;
    }
  }
}


.checkbox-checked {
  background-color: goldenrod;
  border: 1px solid goldenrod;
  border-radius: 2px;
}

.checkbox-no-checked {
  background-color: grey;
  border: 1px solid grey;
  border-radius: 2px;
}

.custom-icon {
  font-size: 21px;
  color: rgb(238, 255, 0) !important;
}

.other-checkbox-checked {
  background-color: rgb(17, 17, 65);
  border: 1px solid rgb(17, 17, 65);
  border-radius: 2px;
}

.other-custom-icon {
  font-size: 27px;
  color: white !important;
}

.custom-focus {
  box-shadow: 0 0 1pt 1pt red;
}

ngx-checkbox {
  margin-left: 15px;
  margin-right: 15px;
}

mat-list-item {
  margin-top: 12px;
  margin-bottom: 12px;
}

label {
  font-family: Fregat, sans-serif;
}

.label-example {
  margin-left: 15px;
  color: orange;
}

.rangeInput {
  //height: 35px;
  cursor: pointer;
  min-width: 150px;
}

@media (max-width: 425px) {
  .c-select__wrapper_lg, .c-btn_lg {
    min-width: 346px;
    width: 346px;
  }
}


.shadow-year {
  box-shadow: 0px 0px 2px 3px #d8e6d88f;
  border-color: #3c3f3d;
}

.invoice_button {
  position: absolute;
  bottom: 16px;
  right: 52px;
  //z-index: 2;
}

.service-title {
  font-size: 1.6rem;
  font-family: Fregat, sans-serif;
}

.label-w-checkbox {
  width: 3.9rem;
}
.confirm_btn {
  right: 20px; bottom: 13px; z-index: 2; position: absolute;
}
.confirm_btn_success {
  right: 19px;
  bottom: 0px;
  z-index: 2;
  position: relative;
}
.step-btn {
  border: unset;
  font-weight: 700;
  letter-spacing: 0.44px;
  background-color: #e8ecfc00 !important;
  color: $orange !important;
  &_disable {
    color: #b1b1b1 !important;
  }
  &:hover {
    box-shadow: unset;
  }
  svg {
    position: relative;
    top: 3px;
    font-size: 1.3rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
}

.mb-next-confirm {

}
