<div class="table_landing" [ngStyle]="{'padding-top': (OF_GROUP_TABLES) ? '1px': ''}">
  <app-search (onPushName)="onPushName($event)" [tariff]="false" [account]="account"></app-search>
  <div class="table_container" (mouseleave)="mousOut()" *ngIf="groupList[groUpName]; else emptyCategory">

    <!--    <ng-container *ngIf="groUpName =='Electronics'"><h4>Электроника</h4></ng-container>-->
    <!--    <ng-container *ngIf="groUpName =='Auto'"><h4>Авто</h4></ng-container>-->
    <!--    <ng-container *ngIf="groUpName =='Property'"><h4>Недвижимость</h4></ng-container>-->
    <!--    <ng-container *ngIf="groUpName =='Other'"><h4>Другое</h4></ng-container>-->

    <div>

      <table class="table" #elementSum>
        <thead>
        <tr>
          <th [class.active]="key === 'query_name'"
              (click)="sort('query_name')"
              class="transformElement unselectable">
            Название
            <span [hidden]="reverse"><i class="fas fa-sort-down" aria-hidden="true"></i></span>
            <span [hidden]="!reverse"><i class="fas fa-sort-up" aria-hidden="true"></i></span>
          </th>
          <th [class.active]="key === 'query_category'"
              class="transformElement unselectable"
              (click)="sort('query_category')">
            Категория
            <span [hidden]="reverse"><i class="fas fa-sort-down" aria-hidden="true"></i></span>
            <span [hidden]="!reverse"><i class="fas fa-sort-up" aria-hidden="true"></i></span>
          </th>
          <th [class.active]="key === 'tariff_name'"
              class="transformElement unselectable"
              (click)="sort('tariff_name')">
            Тариф
            <span [hidden]="reverse"><i class="fas fa-sort-down" aria-hidden="true"></i></span>
            <span [hidden]="!reverse"><i class="fas fa-sort-up" aria-hidden="true"></i></span>
          </th>
          <th [class.active]="key === 'query_tariff_start'"
              class="transformElement unselectable col-md-2"
              (click)="sort('query_tariff_start')">
            Добавлен
            <span [hidden]="reverse"><i class="fas fa-sort-down" aria-hidden="true"></i></span>
            <span [hidden]="!reverse"><i class="fas fa-sort-up" aria-hidden="true"></i></span>
          </th>
          <th [class.active]="key === 'query_tariff_end'"
              class="transformElement unselectable col-md-2"
              (click)="sort('query_tariff_end')">
            Действителен
            <span [hidden]="reverse"><i class="fas fa-sort-down" aria-hidden="true"></i></span>
            <span [hidden]="!reverse"><i class="fas fa-sort-up" aria-hidden="true"></i></span>
          </th>
        </tr>
        </thead>
        <ng-container *ngFor="let model of queryAllListNext|
         groupbypipe:{'titleQuery':groUpName}
         | orderBy: key : reverse
         | paginate: { itemsPerPage: countPagination, currentPage: p1, id: 'first' }; let i = index;">

          <tr [class.active]="model.paid_for !== '0'" #addEmptyElement class="tblCircle"
              (click)="clickListTr = true"
              (mouseleave)="clickListTr = false"
              (mouseenter)="hideme[i] = !hideme[i]; over(i)">
            <td><span class="tblCircle-val">Название</span>{{model?.query_name}}</td>
            <td><span class="tblCircle-val">Категория</span>{{model?.query_category}}</td>
            <td><span class="tblCircle-val">Тариф</span>{{model?.tariff[0]?.tariff_name}}</td>
            <td><span class="tblCircle-val">Добавлено</span>{{model?.query_tariff_start * 1000 | date: 'dd/MM/yyyy'}}</td>
            <td><span class="tblCircle-val">Действительно</span>{{model?.query_tariff_end * 1000 | date: 'dd/MM/yyyy'}}</td>
          </tr>
          <tr>
            <td [ngStyle]="styleTdUnHoverHelper">
              <!--              <div  [hidden]="!hideme[i]" *ngIf="hideme[i]" [@fadeInOut] #elementHide class="on_hover_helper" >-->
              <!--                <app-on-hover-helpers [model]="model"></app-on-hover-helpers>-->
              <!--              </div>-->
              <div [@fadeInOut] #elementHide class="on_hover_helper">
<!--                <app-on-hover-helpers [clickListTr]="clickListTr" [model]="model"></app-on-hover-helpers>-->
                <app-on-hover-helpers [model]="model"></app-on-hover-helpers>
              </div>

            </td>
          </tr>

        </ng-container>

      </table>
    </div>

    <div class="table_landing_paginationL">
      <pagination-controls class="my-paginationN"
                           (pageChange)="p1 = $event" id="first"
                           previousLabel="Пред.."
                           nextLabel="След..">
      </pagination-controls>
    </div>
    <app-empty-category  [isEmpty]="false" [catName]="groUpName"></app-empty-category>
  </div>
  <ng-template #emptyCategory>
    <app-empty-category  [isEmpty]="true" [catName]="groUpName"></app-empty-category>
  </ng-template>

</div>
