@import "../../../../../../assets/style_components/colors.component";
@import "../../../../../../assets/style_components/button";

.my-paginationN ::ng-deep .ngx-pagination .current {
  background: $green;
  font-family: Fregat, sans-serif;
}

.my-paginationN ::ng-deep .ngx-pagination .pagination-next {
  color: $gray;
  font-family: Fregat, sans-serif;
}

.my-paginationN ::ng-deep .ngx-pagination .pagination-previous {
  color: $gray;
  font-family: Fregat, sans-serif;
}

.my-paginationN ::ng-deep .ngx-pagination li {
  color: $gray;
  font-family: Fregat, sans-serif;
}

//.ngx-pagination a, .ngx-pagination button {
//  font-family: Fregat_regular, sans-serif;
//}
.transformElement {
  &:hover {
    transition: 0.3s;
    transform: rotate(0deg) scale(1.052) skew(1deg) translate(3px);
    -webkit-transform: rotate(0deg) scale(1.052) skew(1deg) translate(3px);
    -moz-transform: rotate(0deg) scale(1.052) skew(1deg) translate(3px);
    -o-transform: rotate(0deg) scale(1.052) skew(1deg) translate(3px);
    -ms-transform: rotate(0deg) scale(1.052) skew(1deg) translate(3px);
    color: $dark-green;
  }
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.table_container {
  padding-bottom: 82px;
  //max-width: 612px;
  h4 {
    text-align: center;
    right: 240px;
    margin-bottom: 0;
    font-family: Fregat_Bold, sans-serif;
    font-size: 40px;
    color: $green;
  }

  &_title-container {

  }
}

.table_landing {
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 450px;

  table {
  }

  td, th {
    width: auto;
    //min-width: 111px;
    font-family: Fregat, sans-serif;
    font-size: 90%;
    height: 42px;
    text-align: left;
    padding: 8px;
    cursor: pointer;
    border: none;
    font-weight: 900;
    span {
      visibility: hidden;
    }

    &.active {
      color: $dark-green;

      span {
        visibility: visible;
      }
    }
  }

  thead {
    color: $gray;
    background-color: $white;
  }

  tr {
    color: #ccd0e6;

    &.active {
      color: $black;
    }
  }

  .tblCircle {
    border-radius: 5px;
    height: auto;
    box-shadow: inset 0 0 0 100px $light-gray;
    background-color: $light-gray;
    &-val {
      display: none;
    }

    &:hover {
      transition: 0.5s;
      box-shadow: inset 0 0 0 100px $gray;
      background-color: $gray;
      color: $black;
    }
  }

  .emptyTr {
    border-radius: 0;
    box-shadow: inset 0 0 0 100px $gray;
    background-color: $gray;
  }

  &_paginationL {
    bottom: 40px;
    position: absolute;
  }

}

.tblCircle:after {
  background-color: #00aa00;
}

.on_hover_helper {
  width: 61%;
  padding-left: 1%;
  position: absolute;
}

@media (max-width: 650px) {
  .table_landing {
    margin: 0 auto !important;
    padding: 0;

    td {
      //width: 67px;
      //max-width: 65px;
      font-weight: 900;
      font-family: Fregat, sans-serif;
      font-size: 62%;
    }
  }

}

@media(max-width: 500px) {
  .table_landing {
    margin: 0 auto !important;

    td {
      //width: 67px;
      //max-width: 65px;
      font-family: Fregat, sans-serif;
      border-radius: 3px;
      font-size: 60%;
      height: auto;
    }
  }
  .transformElement {
    width: max-content !important;
    font-size: 55% !important;
    padding: 3px 0 3px 0px !important;
    margin: 0 !important;
  }
}

@media(max-width: 800px) {
  .on_hover_helper {
    width: 96% !important;
  }
}

@media(max-width: 950px) {
  .tblCircle {
    width: 100%;
  }
  .table_landing {
    margin: 0;
  }
  .on_hover_helper {
    width: 75%;
    padding: 0;
    position: absolute;
  }
}

@media(max-width: 570px) {

  .table_landing[_ngcontent-c13] td[_ngcontent-c13] span[_ngcontent-c13], .table_landing[_ngcontent-c13] th[_ngcontent-c13] span[_ngcontent-c13] {
    visibility: initial;
  }
  .tblCircle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;

    &-val {
      display: block !important;
    }
  }
  tbody {
    width: 100% !important;
  }
  thead {
    display: none !important;
  }
  .table {
    box-shadow: 0 0 0 1px #ccc !important;
    border-radius: 3px !important;
    top: 12px !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
  }
  .helper-container {
    display: flex;
    justify-content: space-between;
  }

}

.transformElement {
  color: #0c0c0c;
  font-family: Fregat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.32px;
}
