@import "../../../assets/style_components/colors.component";
@import "../../../assets/style_components/button";
@import "../news-page/news-page.component";
.picture-container {
  position: absolute;
  right: 1px;

  img {
    max-width: 320px;
  }

  @media screen and(max-width: 1500px) {
    img {
      max-width: 220px;
    }
  }
  @media screen and(max-width: 1310px) {
    img {
      //max-width: 150px;
    }
  }
  @media screen and(max-width: 590px) {
    img {
      max-width: 150px;
    }
  }
  @media screen and(max-width: 415px) {
    img {
      max-width: 130px;
    }
  }
}
.news_landing__main {

  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  align-content: center;

  &__list {

    //margin-top: 45px;
    width: 100%;
    max-width: 750px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    &__item {

      font-family: Fregat, sans-serif;
      padding: 10px 15px;
      transition: all 0.3s;
      margin-bottom: 15px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-content: flex-start;

      &__up {

        font-size: 1.2rem;
      }

      &__down {

        font-size: 0.8rem;
      }

    }
  }
}
h4 {
  color: #ef9c00;
  padding-bottom: 30px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Fregat_bold, sans-serif;
}
.news_landing__main__list{
  margin-top: 2rem
}

.boxShadow {
  border-radius: 12px;
  box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }

  &:active {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }

  &:focus {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }
}
