<div class="landing-section-wrapper">
  <div class="news_landing">
    <div class="landing_picture">
      <div class="picture-container"><img [src]="(previewImg | async)" alt="about">
      </div>
    </div>
    <div class="delimiter"></div>
    <div class="news_landing__sConteiner container">
      <!--      <div class="logo-top"></div>-->
      <div class="news_landing__aside">
        <div class="news_landing__main">
          <ul class="news_landing__main__list">
            <h4>Страница помощи</h4>
            <li class="news_landing__main__list__item boxShadow" *ngFor="let model of h_model; let i = index">
                            <span class="news_landing__main__list__item__up">
                               {{model?.inform_title}}
                            </span>
              <span class="news_landing__main__list__item__down"
                    [innerHTML]="SANITIZER.bypassSecurityTrustHtml(model?.inform_description | sanitizeHtml)">
                            </span>
            </li>

          </ul>

        </div>
      </div>

    </div>

  </div>
</div>


<!--<div class="landing-section-wrapper">-->
<!--  <div class="news_landing ">-->
<!--    <div class="landing_picture"></div>-->
<!--    <div class="delimiter"></div>-->
<!--    <div class="news_landing__sConteiner container">-->

<!--      <div class="news_landing__aside">-->
<!--        <div class="logo-top"></div>-->

<!--        <div class="news_landing__main">-->
<!--          <div class="news_landing__main__item">-->
<!--            <div style="width: 100%" class="news_landing__main__item__content">-->
<!--                <span class="news_landing__main__item__content__title">-->
<!--                        {{h_model?.inform_title}}-->
<!--                </span>-->
<!--              <span [innerHTML]="SANITIZER.bypassSecurityTrustHtml(h_model?.inform_description)"-->
<!--                    class="news_landing__main__item__content__description">-->
<!--                </span>-->

<!--            </div>-->
<!--            &lt;!&ndash;<div class="news_landing__main__item__preview">&ndash;&gt;-->
<!--            &lt;!&ndash;<img src="../../../assets/images/news/defaultp.png">&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
