.color-content {
  background-color: #f7f9ff;
}

.btn-settings {
  position: absolute;
  top: -5px;
  right: 1px;
}

.activeConfirmBtn {
  background-color: green !important;
  color: white !important;
}

.form-password {
  font-size: 1.2rem;
  margin: 0 auto 0 3%;
  font-family: Fregat_regular, sans-serif;

  &_next {
    margin-top: 10px;
  }
}

.changePass {
  box-shadow: 0 0 8px 2px #b8c8dba6;
}
