<div class="card z-depth-0 border-0 d-flex align-items-center color-content pt-5 pb-5">
  <form [formGroup]="formPhone" (ngSubmit)="onSubmit(formPhone)" class="w-95">

    <div class="md-form">
      <i class="fa fa-phone prefix grey-text"></i>
      <input formControlName="phone" mdbValidate mdbInput type="text"
             [textMask]="{mask: areaCodeMask}"
             class="form-control" id="form3">
      <label for="form3">Номер телефона</label>
      <button class="btn btn-sm btn-settings" (click)="successMsg = 'Номер телефона'"
              [disabled]="!phone.valid"
              [ngClass]="{'activeConfirmBtn': phone.valid}">{{btnSettingsConfirmName}}</button>
      <mdb-success *ngIf="phone.valid && (!phone.pristine || phone.touched)"></mdb-success>
    </div>
  </form>
  <form [formGroup]="formEmail" (ngSubmit)="onSubmit(formEmail)" class="w-95">

    <div class="md-form">
      <i class="fa fa-envelope prefix grey-text"></i>
      <input formControlName="email" mdbValidate mdbInput type="text"
             class="form-control" id="form10">
      <label for="form10">Email</label>
      <button class="btn btn-sm btn-settings"
              (click)="successMsg = 'Email'"
              [disabled]="!mail.valid"
              [ngClass]="{'activeConfirmBtn': mail.valid && mail.pristine === false}">{{btnSettingsConfirmName}}</button>
      <mdb-success *ngIf="mail.valid && (!mail.pristine || mail.touched)"></mdb-success>
      <mdb-error *ngIf="mail.errors?.pattern && (mail.dirty || mail.touched)">Некорректный формат
      </mdb-error>
    </div>
  </form>

  <form [formGroup]="formFullName" (ngSubmit)="onSubmit(formFullName)"
        class="w-95 d-flex justify-content-between flex-column flex-sm-column flex-md-row flex-lg-row">
    <div class="md-form w-100" [ngStyle]="{ 'margin-bottom': '1px'}">
      <i class="far fa-user prefix grey-text"></i>
      <input mdbInput mdbValidate formControlName="first_name" type="text"
             class="form-control" id="form11">
      <label for="form11">Имя</label>
      <button class="btn btn-sm btn-settings"
              (click)="successMsg = 'Имя'"
              [disabled]="!first_name.valid"
              [ngClass]="{ 'activeConfirmBtn': first_name.valid && first_name.pristine === false}
    "
      >
        {{btnSettingsConfirmName}}</button>
      <mdb-error *ngIf="first_name.errors?.minlength && (first_name.dirty || first_name.touched)">Минимум 5 символов
      </mdb-error>
      <mdb-success *ngIf="first_name.valid && (first_name.dirty || first_name.touched)"></mdb-success>
    </div>
    <i>&nbsp;&nbsp;</i>
    <div class="md-form w-100">
      <input mdbInput mdbValidate formControlName="last_name" type="text"
             class="form-control" id="form12">
      <label for="form12">Фамилия</label>
      <button class="btn btn-sm btn-settings"
              (click)="successMsg = 'Фамилия'"
              [disabled]="!last_name.valid"
              [ngClass]="{ 'activeConfirmBtn': last_name.valid && last_name.pristine === false}
    "
      >
        {{btnSettingsConfirmName}}</button>
      <mdb-error *ngIf="last_name.errors?.minlength && (last_name.dirty || last_name.touched)">Минимум 5 символов
      </mdb-error>
      <mdb-success *ngIf="last_name.valid && (last_name.dirty || last_name.touched)"></mdb-success>
    </div>

  </form>

  <form [formGroup]="formPassword" (ngSubmit)="onSubmit(formPassword)"
        class="w-95 d-flex flex-column changePass pt-3 pb-3">
    <label class="form-password">
      Изменить пароль:
    </label>
    <div class="d-flex">
      <div class="w-75 d-flex justify-content-between flex-column flex-sm-column flex-md-row flex-lg-row col">
        <div class="md-form w-100 form-password_next" [ngStyle]="{ 'margin-bottom': '1px'}">
          <!--        <i class="fa fa-key prefix grey-text"></i>-->
          <i class="first">1.</i><input mdbInput mdbValidate formControlName="password" type="password"
                                        class="form-control" id="form4">
          <label for="form4" class="ml-4">Новый пароль</label>

        </div>
        <i>&nbsp;&nbsp;</i>
        <div class="md-form w-100 form-password_next">

          <i class="two">2.</i><input formControlName="confirmPassword" mdbValidate mdbInput type="password"
                                      class="form-control" id="form5">
          <label for="form5" class="ml-4">Повторите пароль</label>
          <mdb-error *ngIf="confirmPassword.errors?.required && (confirmPassword.dirty)">Обязательно к заполнению
          </mdb-error>
          <mdb-error *ngIf="confirmPassword.errors?.minlength && (confirmPassword.dirty || confirmPassword.touched)">
            Минимум
            5
            символов
          </mdb-error>
          <mdb-error *ngIf="confirmPassword.errors?.mustMatch && (confirmPassword.dirty)">Пароли не совпадают
          </mdb-error>

        </div>
      </div>

      <button class="btn btn-sm"
              (click)="successMsg = 'Пароль'"
              [disabled]="!password.valid || !confirmPassword.valid || passFlag === true"
              [ngClass]="{ 'activeConfirmBtn': password.valid && confirmPassword.valid && passFlag === false}">
        {{btnSettingsConfirmName}}</button>
      <mdb-error *ngIf="password.errors?.minlength && (password.dirty || password.touched)">Минимум 5 символов
      </mdb-error>
      <mdb-success *ngIf="password.valid && (password.dirty || password.touched)"></mdb-success>

    </div>
  </form>

  <form [formGroup]="formDate" (ngSubmit)="onSubmit(formDate)"
        class="w-95 justify-content-between base_tariff_form" [ngStyle]="{ 'display': 'none'}">
    <mat-form-field class="example-full-width"
                    [ngStyle]="{'width': '100%', 'padding-left': '16px', 'display': 'none !important'}">
      <input type="text" [appDisableMInput]="'.base_tariff_form'"
             (dateChange)="changeDate($event.value)"
             matInput [min]="minDate"

             [matDatepicker]="dobpicker" formControlName="date_year"
             placeholder="Дата рождения"
             required
      >
      <mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
      <mat-datepicker #dobpicker></mat-datepicker>
    </mat-form-field>
    <button
      (click)="successMsg = 'Дата рождения'"
      [ngClass]="{ 'activeConfirmBtn': dataChange === false, 'display': 'none !important'}"
      class="btn btn-sm h-100" [disabled]="dataChange">Применить
    </button>
  </form>
  <hr>
</div>
