<div class="landing-section-wrapper">
  <div class="search_landing">
    <div class="search_landing__picture">
      <h4>Начать пользоваться очень просто</h4>
    </div>
    <div class="search_landing__sConteiner how-to">
      <div class="steps_container ">
        <mat-horizontal-stepper class="p-0 w-100" [linear]="true" #stepper (selectionChange)="tabStyle()">
          <ng-container *ngFor="let phase of phaseContainer; let i = index" >
            <div> {{interpreterM[phase]}}</div>
            <mat-step label="шаг 2" >
              <ng-template matStepLabel><span class="st_lable">шаг</span></ng-template>
              <h4>{{interpreterM[phase]}}</h4>
              <app-laptop [laptopClass]="'laptop'" [downPanel]="'down-panel'" [laptopContainer]="'laptop-container'">
                <div class="w-100 h-100 bSize"
                     [ngStyle]="{'background': 'url(../../../assets/images/how-to-app/'+phase +'.jpg) no-repeat center'}">
                </div>
              </app-laptop>
            </mat-step>

          </ng-container>
        </mat-horizontal-stepper>
      </div>

    </div>
  </div>
</div>
