@import "./../../leave-request/base/base.component";


.search_landing__sConteiner {
  background-color: #f7f9ff00;
  border: 1px solid #f7f9ff00;
  box-shadow: 0 14px 18px 4px #f7f9ff00;
  bottom: 1px;
}
.mat-horizontal-stepper-content {
  h4 {
    font-size: 2rem;
  }
}
.how-to {
  .mat-step-label {
    font-size: 1.3rem !important;
  }

  ::ng-deep .mat-horizontal-stepper-header {
    font-size: 1.3rem !important;
    display: flex;
    flex-direction: row-reverse;
    pointer-events: unset !important;
    margin: 20px !important;
    height: 45px !important;
    border-radius: 9px !important;
  }

  .mat-step-header .mat-step-header-ripple {
    margin: 3px !important;
    background-color: #b3b3b3;
  }

  .st_lable {
    font-size: 1.3rem !important;
    font-family: Fregat_regular, sans-serif;
    color: white;
  }

  .mat-step-header[aria-selected="true"] {
    background-color: rgba(235, 8, 36, 0.91) !important
  }

  .mat-step-icon-content .mat-step-icon-state-done {
    background-color: rgba(255, 255, 255, 0) !important;
  }

  mat-horizontal-stepper {
    @media (max-width: 750px) {
      display: block;
    }
  }


}

.bSize {
  background-size: contain !important;
  position: absolute;
  background-color: white !important;
}

h4 {
  text-align: center;
  font-family: Fregat_Bold, sans-serif;
}

.steps_container {
  background-color: #f7f9ff00;
  padding-top: 7rem;
}

.b-Col {
  background-color: #ef9c00 !important
}

.search_landing__picture {
  position: absolute;
  top: 1px;
  height: 331px;
  background: url(./.././../../assets/images/background/main-green-black.png) no-repeat local 50% 60%;
}

@media (max-width: 780px) {
  h4 {
    font-size: 34px !important;
  }
  ::ng-deep .mat-horizontal-content-container {
    padding: 0!important;
    margin: 0!important;
  }
}

@media (max-width: 565px) {
  h4 {
    font-size: 25px !important;
  }
  .steps_container {
    padding-top: 5rem;
  }
  .how-to {
    .st_lable {
      //font-size: 0 !important;
    }
    .mat-horizontal-stepper-header .mat-step-icon  {
      margin: 0 !important;
    }

    ::ng-deep .mat-horizontal-stepper-header {
      font-size: 1.3rem !important;
      display: flex;
      flex-direction: column-reverse;
      pointer-events: unset !important;
      margin: 0px !important;
      padding: 10px !important;
      height: 55px !important;
      border-radius: 17px !important;
    }
    ::ng-deep .mat-horizontal-stepper-header-container {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

  }

}

