<div class="tariff_landing">
  <div class="tariff_landing__title">
    <h4>Тарифы на юридичекие услуги</h4>
  </div>
  <div class="tariff_landing__container">
    <app-tariff style="width: 99%" [dataTarif]="tariffLegal" [additional_style_property]="additional_style_property">
    </app-tariff>
  </div>
</div>
