<div class="tariff_landing">
  <div class="tariff_landing__title">
    <h4>Тарифы на недвижимость</h4>
  </div>
  <div class="tariff_landing__container">
    <app-tariff style="width: 99%" [dataTarif]="tariffProperty" [additional_style_property]="additional_style_property">
      tariffProperty works!
    </app-tariff>
  </div>
</div>
