<div class="auto_section_wrapper" #aSW>
  <ng-content></ng-content>
</div>
<!--<ng4-loading-spinner></ng4-loading-spinner>-->
<!--<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-atom" [fullScreen]="true">-->
<!--  <p style="color: white"> Загрузка... </p></ngx-spinner>-->
<div class="confirmbtn">
  <button
    [ngClass]="(buttonBackDisable | async) ?
          'c-btn c-btn_sm c-btn_inline c-btn_primary_disabled step-btn step-btn_disable':
          'c-btn c-btn_sm c-btn_inline c-btn_secondary step-btn'"
    (click)="goBackM()"><i class="fas fa-angle-left"></i>{{titleBack}}</button>

  <button
    [class.d-none]="!(buttonShowConfirmButton | async)"
    [ngClass]="(buttonNextDisable | async) ?
          'c-btn c-btn_sm c-btn_inline goNext c-btn_primary_disabled step-btn step-btn_disable':
          'c-btn c-btn_sm c-btn_inline goNext c-btn_primary step-btn'"
    [disabled]="buttonNextDisable | async"
    (click)="openPhoneConfirmDialog()">
    {{titleNext}}
  </button>
  <button #next
          [class.d-none]="(buttonShowConfirmButton | async)"
          [ngClass]="(buttonNextDisable | async) ?
          'c-btn c-btn_sm c-btn_inline goNext c-btn_primary_disabled step-btn step-btn_disable':
          'c-btn c-btn_sm c-btn_inline goNext c-btn_primary step-btn'"
          [disabled]="buttonNextDisable | async"
          (click)="goNextM()">{{titleNext}}<i class="fas fa-angle-right"></i></button>


</div>
