@import "../../../../assets/style_components/colors.component";
@import "../../../../assets/style_components/inputs.component.scss";
@import "../../../../assets/style_components/select.component";
@import "../../../../assets/style_components/button";
@import "../total_information/total_information";

.auto_section_wrapper {

}
.step-btn {
  border: unset;
  font-weight: 700;
  letter-spacing: 0.44px;
  background-color: #e8ecfc00 !important;
  color: $orange !important;
  &_disable {
    color: #b1b1b1 !important;
  }
  &:hover {
    box-shadow: unset;
  }
  svg {
    position: relative;
    top: 3px;
    font-size: 1.3rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
}

.c-select {
  margin: 11px;
}
.confirmbtn {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  @media (max-width: 500px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.auto_landing {
  width: 850px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  &:first-child {
    padding-top: 30px;
  }

  &__item {
    padding-bottom: 18px;
    flex-direction: column;
    display: flex;
    width: 316px;

    label {
      padding-left: 15px;
    }
  }
}
.adfSee {

  &:first-child {
    transition: all 0.75s;
  }
}

.ad_b_style {
  transition: all 0.75s;
  //border: solid 1px #3f2ec730;
  cursor: pointer;
  font-size: 1.3rem;
  /* color: green; */
  width: 100%;
  font-family: Fregat, sans-serif;
  &:hover {
    text-decoration: underline;
  }
}
