//@font-face {
//  font-family: Rubik-Bold; /* Имя шрифта */
//  src: url(/assets/font_components/rubic/Rubik-Bold.ttf); /* Путь к файлу со шрифтом */
//}
//
//@font-face {
//  font-family: Fregat_bold; /* Имя шрифта */
//  src: url(/assets/font_components/fregat/Fregat_bold.otf); /* Путь к файлу со шрифтом */
//}
//@font-face {
//  font-family: Fregat_regular; /* Имя шрифта */
//  src: url(/assets/font_components/fregat/Fregat_regular.otf); /* Путь к файлу со шрифтом */
//}
.tariff_landing {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &__title {

    //margin-top: 50px;
    margin-top: 6.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: inherit;
      font-family: Fregat, sans-serif;
      margin-bottom: 0;
      margin-top: 0;
      font-size: 20px;
    }

  }

  &__container {
    //margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Fregat, sans-serif;
    width: 99%;
    //width: 850px;
    //display: flex;
    //align-items: center;
    flex-wrap: wrap;
    //justify-content: center;
    border-bottom: 1px solid #c7cce2;
    //margin-bottom: 7%;
    padding-bottom: 3.5%;
  }

}

.price {
  //padding-top: 30px;
  margin-top: 12%;
}
