<!--<ng-template #dynamictariff class="auto_section_wrapper"></ng-template>-->
<div class="tariff_option" *ngIf="FormTariff">
<!--  <ng4-loading-spinner></ng4-loading-spinner>-->
  <form [formGroup]="FormTariff" class="base_tariff_form" novalidate
        (ngSubmit)="save(FormTariff.value, FormTariff.valid)">

    <div class="mat-app-background basic-container">
      <mat-form-field class="example-full-width" appearance="outline">
        <input  id="inputFirst" #inputFirst matInput [min]="minDate" [appDisableMInput]="'.base_tariff_form'"
               [matDatepicker]="pickerstart" [(ngModel)]="date" formControlName="query_tariff_start"
               placeholder="Укажите начало поиска">
        <mat-datepicker-toggle matSuffix [for]="pickerstart"></mat-datepicker-toggle>
        <mat-datepicker #pickerstart></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="mat-app-background basic-container">
      <mat-form-field class="example-full-width" appearance="outline">
        <input  #inputSecond matInput [min]="minDate" [appDisableMInput]="'.base_tariff_form'"
               [matDatepicker]="pickerend" formControlName="query_tariff_end" placeholder="Укажите окончание поиска">
        <mat-datepicker-toggle matSuffix [for]="pickerend"></mat-datepicker-toggle>
        <mat-datepicker #pickerend></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="tariff_option__discount" id="tariffDown">
      <div class="tariff_option__discount__sum">
        <span [@dialog] *ngIf="sum_day_query_tariff !== 0"><i>{{sum_day_query_tariff}} грн</i></span>
      </div>
    </div>
  </form>

  <button [@dialog] (click)="newWalletPay()"
          *ngIf="pay_visible && order_id > 0 && isWalletPay" class="c-btn c-btn_out_line btn balance-btn">
    оплатить ( <i class="fas fa-money-bill-wave-alt"></i>{{balance}} )
  </button>
  <div [@dialog] *ngIf="isWalletPay === false && order_id > 0" [innerHTML]="theHtmlString | noSanitize">
  </div>
</div>

