@import "../../../../assets/style_components/colors.component";
@import "../../../../assets/style_components/inputs.component.scss";
@import "../../../../assets/style_components/select.component";
@import "../../../../assets/style_components/button";

//@font-face {
//  font-family: Rubik-Bold; /* Имя шрифта */
//  src: url(../../../../assets/font_components/rubic/Rubik-Bold.ttf); /* Путь к файлу со шрифтом */
//}
//
//@font-face {
//  font-family: Fregat_bold; /* Имя шрифта */
//  src: url(../../../../assets/font_components/fregat/Fregat_bold.otf); /* Путь к файлу со шрифтом */
//}
//@font-face {
//  font-family: Fregat_regular; /* Имя шрифта */
//  src: url(../../../../assets/font_components/fregat/Fregat_regular.otf); /* Путь к файлу со шрифтом */
//}
.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.c-input_sm {
  min-width: 0;
  width: 203px;
  height: 30px;
}
.base_tariff_form {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.tariff_option {
  font-family: Fregat, sans-serif;
  //width: 850px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid #c7cce2;

  &__discount {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &__sum {
      font-size: 18px;
      span:first-child {
        font-size: 25px;
      }
      span:nth-child(2){
        i {
          color: $green;
          font-size: 25px;
        }
      }
    }
    &__saving {
      font-size: 15px;

      i {
        color: $green;
      }
    }
  }
  date-picker {
    font-size: 15px;
    span {

      input.datepicker-actions__input {
        font-family: Fregat, sans-serif;
        font-size: 1.6rem;
      }
    }
  }
  span {
    font-family: Fregat, sans-serif;
  }
  &:first-child {
    padding-top: 30px;
  }

  &__item {
    padding-bottom: 18px;
    flex-direction: column;
    display: flex;
    width: 203px;

    label {
      padding-left: 15px;
      color: $black;
      font-family: Fregat, sans-serif;
      font-size: 16px;
      &:last-child {
        border-bottom: 1px solid $black;
      }
    }
  }

}
.datepicker-actions__input[_ngcontent-c14] {
  font-size: 2rem;
}

.alert {
  color: red;
}
.strikethrough {
  font-family: Fregat, sans-serif;
  position: relative;
  padding-right: 17px;
  font-size: 29px;
  color: red;
}

.strikethrough:before {
  border-bottom: 2px solid $black;
  position: absolute;
  content: "";
  width: 88%;
  left: -6px;
  top: -2px;
  height: 50%;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-14deg);
}

@media (max-width: 735px) {
  .base_tariff_form {
    flex-direction: column;
  }
}
