<app-wrap-query [count]="count"  [wrapIndex]="wrapIndex" (activeId)="activeFromWrapQuery($event)">
  <form [formGroup]="myForm" novalidate>
    <div formArrayName="items" *ngFor="let item of myForm.get('items')['controls']; let i = index;">
      <div class="auto_landing pt-3 formHelp" [formGroupName]="i" [@dialog]
           *ngIf="i === formOutputId">
        <div class="auto_landing__title">

          <h4 *ngIf="tittle; else default" style="text-align: center;">
            {{tittle}}
            <div class="service-title">Выберите сервисы для поиска</div>
          </h4>
          <ng-template #default>
            <h4>Выберите сервисы для поиска</h4>
            <!--    <h4>Что ищете?</h4>-->

          </ng-template>
        </div>
        <div class="w-100 d-flex flex-row justify-content-center main-help-service mb-4">
          <div class="services col {{i}}" [ngClass]="serviceSelected[i][serList.id]? 'services-active': ''"
               *ngFor="let serList of serviceList"
               (click)="serviceListSelect(serList, i);"
               matTooltip="{{serList.description}}"
               matTooltipShowDelay="500">
            <img class="services-img" [src]="serList?.img"/>
          </div>
        </div>

        <div class="justify-content-center flex-wrap"
             [ngClass]="(Object.keys(serviceSelected[i]).length > 0)? 'd-flex': 'd-none'">

          <div class="auto_landing__item auto_landing__item__checkList">
            <mat-form-field appearance="outline">
              <mat-label>Предложение</mat-label>
              <mat-select
                (selectionChange)="workType($event.value, i, $event.source.triggerValue)"
                [formControl]="item.get('query_work_type')">
                <mat-option *ngFor="let type of ($_typeWork | async); let i = index;"
                            [value]="Number(type?.id)">{{type?.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="validExc" *ngIf="!item.get('query_work_type').valid"><i class="fas fa-exclamation-triangle"></i></div>
          </div>

          <div class="auto_landing__item auto_landing__item__checkList">
            <mat-form-field appearance="outline"
                            class="example-full-width">
              <mat-label>Минимальная зарплата</mat-label>
              <input type="number"
                     [formControl]="item.get('query_price_min')"
                     matInput>
            </mat-form-field>
          </div>

          <div class="auto_landing__item auto_landing__item__checkList">
            <mat-form-field appearance="outline">
              <mat-label>Рубрика</mat-label>
              <mat-select
                (selectionChange)="setCatHeadings($event.value, i)"
                [formControl]="item.get('query_work_headings')">
                <mat-option *ngFor="let headings of ($_headings | async); let i = index;"
                            [value]="Number(headings?.id)">{{headings?.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="validExc" *ngIf="!item.get('query_work_headings').valid"><i class="fas fa-exclamation-triangle"></i></div>
          </div>
          <div class="auto_landing__item auto_landing__item__checkList"
               [ngClass]="(disabled[i]) ? 'd-none': 'd-flex'"
          >
            <mat-form-field appearance="outline">
              <mat-label>Подрубрика</mat-label>
              <mat-select [formControl]="item.get('query_work_category_headings')">
                <mat-option *ngFor="let catHeading of ($_catHeadings[i] | async); let i = index;"
                            [value]="Number(catHeading?.id)">{{catHeading?.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="auto_landing__item auto_landing__item__checkList d-flex"

          >
            <mat-form-field appearance="outline">
              <mat-label>Вид занятости</mat-label>
              <mat-select [formControl]="item.get('query_work_schedule')">
                <mat-option [value]="null">
                  Все
                </mat-option>
                <mat-option *ngFor="let schedule of ($_workSchedule | async); let i = index;"
                            [value]="Number(schedule?.id)">{{schedule?.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="auto_landing__item auto_landing__item__checkList d-flex">
          <mat-form-field appearance="outline">
            <mat-label>Город</mat-label>
            <mat-select [formControl]="item.get('query_city')">
              <mat-option [value]="null">
                Все
              </mat-option>
              <mat-option *ngFor="let ngFor of ($_workCity | async); let i = index;"
                          [value]="Number(ngFor?.id)">{{ngFor?.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button
          #confirm
          class="confirm_btn"
          [ngClass]="(!item.valid) ?
        'c-btn c-btn_sm c-btn_inline c-btn_primary_disabled':
        'c-btn c-btn_primary c-btn_cs ml-4'"
          (click)="addNewForm(i, confirm); wrapIndex = i + 1"
          [disabled]="!item.valid"
          type="button">{{cTitle[i]}}
        </button>
      </div>
    </div>
  </form>

</app-wrap-query>
