@import "../../../../assets/style_components/colors.component";

.news_img {
  position: absolute;
  z-index: 1;
  max-height: 100%;
  height: 100%;
  max-width: 100%;
}

.news_landing {

  //margin: 20%;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  &__head {

    background-color: aquamarine;
    justify-content: space-between;
    width: 100%;
    //height: 305px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 15px;
    position: relative;
    &__left {
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      &__main {
        overflow: hidden;
        cursor: pointer;
        position: relative;
        width: 95%;
        height: 80%;
        border-radius: 3px;
        background: #292c37 url(../../../../assets/images/news/defaultp.png) no-repeat 20% 76%;;
        background-blend-mode: overlay;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        &__footer {
          justify-content: space-around;
          display: flex;
          flex-direction: column-reverse;
          z-index: 1;
          font-family: Fregat_regular, sans-serif;
          padding: 3%;
          color: $white;
          position: absolute;
          width: 100%;
          height: 43%;
          background-color: hsla(137, 58%, 37%, 0.5803921568627451);
        }
      }
    }

    &__right {
      width: 0;
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
      background-color: $white;

      &__main {

        display: flex;
        flex-wrap: wrap;
        margin-top: 23px;

        &__item {

          line-height: 15px;
          font-family: Fregat_regular, sans-serif;
          width: 100%;
          height: 113px;
          margin: 2%;
          max-width: 45%;
          font-size: 86%;
          padding: 3%;
          background-color: rgba(41, 44, 55, 0.16);
          color: $black;
          border-radius: 4px;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          :nth-child(2) {
            text-align: right;
          }

        }
      }
    }
  }

  &__content {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {

      border-top: 3px solid #66aa2f;
      padding-top: 18px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      flex-direction: row;
      width: 100%;
      margin-right: 16px;
      margin-left: 12px;


      &__iterate {

        //margin-left: 8px;
        margin-bottom: 1.5%;
        height: 240px;
        width: 100%;
        max-width: 280px;
        background-color: $gray;

        &__img {

          cursor: pointer;
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 3px;
          background: #292c37 url(../../../../assets/images/news/defaultp.png) no-repeat 20% 76%;;
          background-blend-mode: overlay;
          background-size: cover;
          display: flex;
          align-items: flex-end;


          &__title {
            top: 0;
            font-family: Fregat_regular, sans-serif;
            position: absolute;
            line-height: 15px;
            height: 40%;
            width: 100%;
            padding: 5%;
            background-color: #f0f8ff00;
          }

          &__date {
            position: relative;
            top: 35%;
            font-family: Fregat_regular, sans-serif;
            z-index: 2;
            text-align: right;
            width: 100%;
            font-size: 0.8rem;
            padding-bottom: 5px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

li {
  list-style-type: none;
}
.boxShadow {
  width: 100%;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }

  &:active {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }
  &:focus {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }
}
.active {

  background-color: $green;
  color: $white!important;
}



.effect {
  position: relative;
  /* width: 400px; */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.caption {

  display: flex;
  justify-content: center;
}

.effect .caption a.btn {
  background-color: rgba(48, 171, 67, 0.65);

  &:hover {
    background-color: $green;
  }

}
.pre-scrollable {
  max-height: 527px!important;
  overflow-y: scroll;
}

