<div class="news_landing">

  <div class="news_landing__head">
    <div class="news_landing__head__left">
      <div class="news_landing__head__left__main">

        <ng-container *ngIf="img_C === '';else img_C_content">
          <img *ngIf="newsData[0]?.base_path !== '0'
                 && newsData[0]?.news_img !== '0'
                 && newsData[0]?.news_img !== null"
               class="news_img"
               [src]="newsData[0]?.base_path + newsData[0]?.news_img">
        </ng-container>
        <ng-template #img_C_content>
          <img *ngIf="newsData[0]?.base_path !== '0'
                 && newsData[0]?.news_img !== '0'
                 && newsData[0]?.news_img !== null"
               class="news_img"
               [src]="img_C">
        </ng-template>


        <div class="news_landing__head__left__main__footer">
          <div>
            <ng-container *ngIf="time_create === '';else other_time_content">

              {{newsData[0]?.time_create | date: 'dd/MM/yyyy'}}

            </ng-container>
            <ng-template #other_time_content> {{time_create | date: 'dd/MM/yyyy'}}</ng-template>
          </div>
          <div>
            <ng-container *ngIf="title === '';else other_content">

              {{newsData[0]?.title}}

            </ng-container>
            <ng-template #other_content> {{title}}</ng-template>
          </div>


        </div>
        <div class="effect eff-8">

          <div class="caption">
            <ng-container *ngIf="title === '';else other_contentS">
              <a class="btn" (click)="clDate(newsData[0])" title="Показать новость">
                Прочесть
              </a>
            </ng-container>
            <ng-template #other_contentS>
              <a class="btn" (click)="clDate(mode_up)" title="Показать новость">
                Прочесть
              </a>
            </ng-template>

          </div>
        </div>
      </div>
    </div>
    <div class="news_landing__head__right">
      <ul class="news_landing__head__right__main">
        <ng-container *ngFor="let model of newsData; let i = index">
          <ng-container *ngIf="i < 4">
            <li (click)="title = model?.title;
                         img_C = model?.base_path + model?.news_img;
                         time_create = model?.time_create;
                          mode_up = model"
                appNewsHowd [class]="(i == 0) ? li_class +' active' : li_class">
                    <span class="news_landing__head__right__main__item__title ">
                        {{model?.title}}
                    </span>
              <span class="news_landing__head__right__main__item__date">
                        {{model?.time_create | date: 'dd/MM/yyyy'}}
                    </span>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="news_landing__content">
    <ul class="news_landing__content__item col">
      <ng-container
        *ngFor="let model of newsData | slice:4 | paginate: { itemsPerPage: 6, currentPage: p1, id: 'first' }; let i = index">
        <!--<ng-container *ngIf="i > 4">-->
        <li class="news_landing__content__item__iterate boxShadow">
          <div class="effect eff-8">

            <img *ngIf="model.base_path !== '0' && model.news_img !== '0'
                    && model.news_img !== null" class="news_img"
                 [src]="model?.base_path + model?.news_img">

            <span class="news_landing__content__item__iterate__img">

                              <div class="news_landing__head__left__main__footer">
                  <span class="news_landing__content__item__iterate__img__title">
                                {{model?.title}}</span>
                            <span class="news_landing__content__item__iterate__img__date">
                                {{model?.time_create | date: 'dd/MM/yyyy'}}</span>
                </div>



                </span>
            <div class="caption">
              <a class="btn" (click)="clDate(model)" title="Показать новость">Прочесть</a>
            </div>
          </div>
        </li>
        <!--</ng-container>-->
      </ng-container>
    </ul>
  </div>
  <pagination-controls
    style="margin:0 0 0 auto;"
    (pageChange)="p1 = $event" id="first"
    class="my-paginationN"
    previousLabel="Пред.."
    nextLabel="След..">
  </pagination-controls>

</div>
