<div class="landing-section-wrapper">
  <div class="landing_picture">
    <div class="picture-container"><img [src]="(previewImg | async)" alt="contact-us">
    </div>
  </div>
  <div class="delimiter"></div>
  <div class="p-landing__login">

    <div [hidden]="submitted">
      <form role="form" [formGroup]="contact_model" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">

          <div class="md-form form-group col-sm-6">

            <input mdbInput type="text" class="form-control" id="name"
                   formControlName="name"
                   required min="3">
            <label [ngStyle]="labelStyle" for="name" class="font-weight-bold">Ваше имя</label>
            <div [hidden]="contact_model.get('name').valid || contact_model.get('name').pristine"
                 class="alert alert-danger">
              обязательно для заполнения
            </div>
          </div>
          <div class="md-form col-sm-6">

            <input mdbInput type="email" class="form-control" id="email" name="email"
                   formControlName="email"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                   required>
            <label [ngStyle]="labelStyle" for="email" class="font-weight-bold">Адрес электронной почты</label>
            <div [hidden]="contact_model.get('email').valid || contact_model.get('email').pristine"
                 class="alert alert-danger">
              обязательно для заполнения
            </div>
          </div>
        </div>
        <div class="md-form">
          <label [ngStyle]="labelStyle" [style.left]="0" for="message" class="font-weight-bold">Сообщение</label>
          <textarea class="md-textarea form-control" id="message"
                    mdbInput
                    formControlName="message"
                    rows="5" required></textarea>
          <div [hidden]="contact_model.get('message').valid || contact_model.get('message').pristine"
               class="alert alert-danger">
            обязательно для заполнения
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" id="form-submit" style="width: 99%"
                    class="btn btn-success btn-lg pull-right"
                    (click)="save(contact_model.value)"
                    [disabled]="!contact_model.valid"
            >Отправить
            </button>
<!--            <div id="msgSubmit" class="h3 text-center hidden">Сообщение отправленно!</div>-->
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-around">

            <div class="contact_icon">
              <i class="fa fa-mobile" aria-hidden="true"></i>
              <span class="">&nbsp;<a [href]="'tel:' + phone" class="contact_icon">{{phone}}</a></span></div>
            <div class="contact_icon">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <span class="">&nbsp;{{mail}}</span></div>

          </div>
        </div>
      </form>
    </div>

    <div [hidden]="!submitted">

      <h2>Благодарим вас за обращение в службу поддержки сервиса:</h2>
      <div class="row">
        <div class="col-xs-9  pull-left" style="padding: 20px">Мы ответим Вам в ближайшее время.</div>
      </div>
      <br>
      <button class="btn btn-success" (click)="submitted=false; contact_model.reset()">Добавить сообщение</button>
    </div>


  </div>

</div>
