@import "../../../assets/style_components/colors.component";
@import "../../../assets/style_components/button";

.picture-container {
  position: absolute;
  right: 1px;

  img {
    max-width: 420px;
  }

  @media screen and(max-width: 1500px) {
    img {
      max-width: 380px;
    }
  }
  @media screen and(max-width: 1310px) {
    img {
      max-width: 250px;
    }
  }
  @media screen and(max-width: 590px) {
    img {
      max-width: 150px;
    }
  }
  @media screen and(max-width: 415px) {
    img {
      max-width: 130px;
    }
  }
}

input.ng-touched.ng-invalid {
  border-bottom: solid red 1.5px;
}

input.ng-touched.ng-valid {
  border-bottom: solid $green 1.5px;
}
.landing_picture {
  z-index: -1;
  position: absolute;
  top: 1px;
  height: 331px;
  background: url('../../../assets/images/background/main-green-black.png') no-repeat local 50% 60%;
  width: 100%;
}
.landing-section-wrapper {
  min-height: 520px;
  margin-right: auto !important;
  margin-left: auto;
  max-width: 817px;
  background-color: $white;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 7rem;
  border-radius: 32px;
  border-bottom: 1px solid $gray;
}

.p-landing {
  &__login {
    padding: 25px;
    border-radius: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $white;
    -webkit-box-shadow: 0px 14px 18px 4px rgba(184, 200, 219, 1);
    -moz-box-shadow: 0px 14px 18px 4px rgba(184, 200, 219, 1);
    box-shadow: 0px 14px 18px 4px rgba(184, 200, 219, 1);
    background-size: contain;

    h1 {
      margin: 0;
      //padding-top: 9%;
      //font-size: 48px;
      font-size: 3rem;
      font-family: Fregat_bold, sans-serif;
    }
  }
}

#form-submit, .contact_icon {
  font-family: Fregat, sans-serif;
}

#form-submit {
  background-color: $green;
}

.contact_icon, textarea {
  border-radius: 4px;
}

.contact_icon {
  color: $dark-green;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 18px;

  &:hover {
    color: $green;
  }

  & > a {
    color: $dark-green;

    &:hover {
      color: $green;
    }
  }
}

textarea {
  height: 110px;
}

@media (max-width: 1000px) {
  .p-landing {
    &__login {
      h2 {
        font-size: 2.5rem;
      }
    }
  }
}

@media (max-width: 780px) {
  .p-landing {
    &__login {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 475px) {
  .p-landing {
    &__login {
      h2 {
        font-size: 8vw;;
      }
    }
  }
}
