.enjoyhint_close_btn, .enjoyhint_close_btn::after, .enjoyhint_close_btn::before, .enjoyhint_next_btn, .enjoyhint_skip_btn {
    -o-text-overflow: clip;
    text-overflow: clip
}

.enjoyhint_next_btn, .enjoyhint_skip_btn {
    font: normal normal normal 17px/40px "Advent Pro",Helvetica,sans-serif;
    -webkit-border-radius: 40px;
    border-radius: 40px
}

.enjoyhint_btn, .enjoyhint_close_btn, .enjoyhint_close_btn::after, .enjoyhint_close_btn::before, .enjoyhint_next_btn, .enjoyhint_skip_btn {
    -webkit-box-sizing: content-box
}

    .enjoyhint_btn, .enjoyhint_close_btn, .enjoyhint_close_btn::after, .enjoyhint_next_btn, .enjoyhint_skip_btn {
        -moz-box-sizing: content-box
    }

/*@font-face {
    font-family: casino_handregular;
    src: url(Casino_Hand/casino_hand-webfont.eot);
    src: url(Casino_Hand/casino_hand-webfont.eot?#iefix)format('embedded-opentype'),url(Casino_Hand/casino_hand-webfont.woff)format('woff'),url(Casino_Hand/casino_hand-webfont.ttf)format('truetype'),url(Casino_Hand/casino_hand-webfont.svg#casino_handregular)format('svg');
    font-weight: 400;
    font-style: normal
}*/

.enjoyhint {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1010;
    pointer-events: none;
    overflow: hidden
}

.enjoyhint_close_btn, .enjoyhint_next_btn, .enjoyhint_skip_btn {
    z-index: 1012;
    pointer-events: all
}

.enjoyhint_hide {
    display: none
}

.enjoyhint_close_btn::after, .enjoyhint_close_btn::before {
    background: #fff;
    border: none;
    color: rgba(0,0,0,1);
    display: inline-block
}

.enjoyhint_disable_events {
    position: absolute;
    width: 2000px;
    height: 1500px;
    z-index: 1011;
    pointer-events: all
}

.enjoyhint_next_btn {
    position: absolute;
    box-sizing: content-box;
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    border: 2px solid #1ecd97;
    color: #1ecd97;
    text-align: center;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);
    -moz-transition: background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);
    -o-transition: background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);
    transition: background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0)
}

    .enjoyhint_next_btn:hover {
        color: rgba(255,255,255,1);
        background: #1ecd97
    }

    .enjoyhint_next_btn:active {
        border: 2px solid rgba(33,224,163,1);
        background: rgba(33,224,163,1);
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none
    }

.enjoyhint_btn, .enjoyhint_skip_btn {
    -o-transition: background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0)
}

.enjoyhint_skip_btn {
    position: absolute;
    box-sizing: content-box;
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    border: 2px solid #1ecd97;
    color: #1ecd97;
    text-align: center;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);
    -moz-transition: background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);
    transition: background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0)
}

    .enjoyhint_close_btn:active, .enjoyhint_skip_btn:active {
        transition: none;
        -webkit-transition: none;
        -moz-transition: none
    }

    .enjoyhint_skip_btn:hover {
        color: rgba(255,255,255,1);
        background: #1ecd97
    }

    .enjoyhint_skip_btn:active {
        border: 2px solid rgba(33,224,163,1);
        background: rgba(33,224,163,1);
        -o-transition: none
    }

.enjoyhint_close_btn {
    display: inline-block;
    position: absolute;
    box-sizing: content-box;
    width: .3em;
    height: .3em;
    border: none;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    font: 400 8em/normal Arial,Helvetica,sans-serif;
    color: rgba(0,0,0,1);
    background: 0 0;
    border: 2px solid rgba(33,224,163,1)
}

    .enjoyhint_close_btn::after, .enjoyhint_close_btn::before {
        width: 73%;
        height: 2px;
        font: normal 100%/normal Arial,Helvetica,sans-serif
    }

    .enjoyhint_close_btn::before {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        position: absolute;
        content: "";
        top: 48%;
        left: 14%;
        text-shadow: none;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg)
    }

    .enjoyhint_close_btn::after {
        box-sizing: content-box;
        position: absolute;
        content: "";
        top: 46%;
        left: 15%;
        text-shadow: none;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg)
    }

#kinetic_container, .enjoyhint_svg_wrapper, .enjoyhint_svg_wrapper svg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.enjoyhint_close_btn:hover {
    color: rgba(255,255,255,1);
    background: #1ecd97;
    cursor: pointer
}

.enjoyhint_close_btn:active {
    border: 2px solid rgba(33,224,163,1);
    background: rgba(33,224,163,1);
    -o-transition: none
}

.enjoyhint_btn {
    box-sizing: content-box;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    border: 2px solid #1ecd97;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font: normal normal normal 17px/40px "Advent Pro",Helvetica,sans-serif;
    color: #1ecd97;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);
    -moz-transition: background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);
    transition: background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0)
}

    .enjoyhint_btn:hover {
        color: rgba(255,255,255,1);
        background: #1ecd97
    }

    .enjoyhint_btn:active {
        border: 2px solid rgba(33,224,163,1);
        background: rgba(33,224,163,1);
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none
    }

.enjoy_hint_label, .enjoyhint_svg_wrapper {
    -moz-transition: opacity 400ms cubic-bezier(.42,0,.58,1);
    transition: opacity 400ms cubic-bezier(.42,0,.58,1);
    -webkit-transition: opacity 400ms cubic-bezier(.42,0,.58,1)
}

.enjoyhint div.canvas-container {
    position: absolute
}

.enjoyhint_canvas {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    pointer-events: none
}

#kinetic_container {
    pointer-events: none;
    position: absolute
}

.enjoyhint_svg_wrapper {
    position: absolute;
    z-index: 100
}

    .enjoyhint_svg_wrapper svg {
        position: absolute
    }

.enjoyhint_svg_transparent .enjoy_hint_label, .enjoyhint_svg_transparent .enjoyhint_svg_wrapper {
    opacity: 0
}

.enjoy_hint_label {
    position: absolute;
    color: #fff;
    z-index: 107;
    font-size: 22px;
    font-family: Arial
}

/*.enjoy_hint_label {
    position: absolute;
    color: #fff;
    z-index: 107;
    font-size: 22px;
    font-family: casino_handregular,Arial
}*/

div.kineticjs-content {
    position: absolute !important
}
