<app-wrap-query [count]="count" [wrapIndex]="wrapIndex" (activeId)="activeFromWrapQuery($event)">

  <form [formGroup]="myForm" novalidate>

    <div formArrayName="items" *ngFor="let item of myForm.get('items')['controls']; let i = index;">
      <div class="auto_landing pt-3 formHelp" [formGroupName]="i" [@dialog]
           *ngIf="i === formOutputId">
        <div class="auto_landing__title">

          <h4 *ngIf="tittle; else default" style="text-align: center;">
            {{tittle}}
            <div class="service-title">Выберите сервисы для поиска</div>
          </h4>
          <ng-template #default>
            <h4>Выберите сервисы для поиска</h4>
            <!--    <h4>Что ищете?</h4>-->

          </ng-template>
        </div>
        <div class="w-100 d-flex flex-row justify-content-center main-help-service mb-4">
          <div class="services col {{i}}" [ngClass]="serviceSelected[i][serList.id]? 'services-active': ''"
               *ngFor="let serList of serviceList"
               (click)="serviceListSelect(serList, i);"
               matTooltip="{{serList.description}}"
               matTooltipShowDelay="500">
            <img class="services-img" [src]="serList?.img"/>
          </div>
        </div>

        <div class="justify-content-center flex-wrap"
             [ngClass]="(Object.keys(serviceSelected[i]).length > 0)? 'd-flex': 'd-none'"
        >
          <div class="auto_landing__item auto_landing__item__checkList query_auto_type">

            <mat-form-field appearance="outline">
              <mat-label>Тип авто</mat-label>
              <mat-select

                [formControl]="item.get('query_auto_type')"
                (selectionChange)="getBodyType($event.value, i, $event.source.triggerValue);
                          getTypeOfDrive($event.value, i);
                           typeId = $event.value; getMark($event.value, i)">
                <mat-option  #BtNVew *ngFor="let type of (typeAutoFinal[i] | async ); let i = index;"
                             [value]="Number(type.id)" >{{type.type_auto}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="validExc" *ngIf="!item.get('query_auto_type').valid"><i class="fas fa-exclamation-triangle"></i></div>
          </div>
          <!--        bodyTypeAuto-->
          <ng-container *ngIf="item.get('query_auto_type').valid">
            <div [ngClass]="(item.get('query_body_type').disabled) ? 'd-none': 'd-flex'"
                 class="auto_landing__item auto_landing__item__checkList query_body_type">
              <mat-form-field appearance="outline">
                <mat-label>Тип кузова</mat-label>
                <mat-select [formControl]="item.get('query_body_type')">
                  <mat-option *ngFor="let model of (bodyTypeAutoFinal[i] | async ) let i = index;"
                              [value]="JSON.stringify({'value': model.value, 'name': model.name})">{{model?.name}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>

            <div class="auto_landing__item auto_landing__item__checkList query_drive_type"
                 [ngClass]="item.get('query_drive_type')?.disabled ? 'd-none': 'd-flex'"
            >
              <mat-form-field appearance="outline">
                <mat-label>Тип привода</mat-label>
                <mat-select [formControl]="item.get('query_drive_type')">
                  <mat-option *ngFor="let model of (typeOfDrive[i] | async); let i = index;"
                              [value]="JSON.stringify(model)">{{model?.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!--/*******************************checkbox*********kpp*************************/-->
            <div class="auto_landing__item auto_landing__item__checkList query_gearbox"
                 [ngClass]="item.get('query_gearbox')?.disabled ? 'd-none': 'd-flex'">
              <mat-form-field appearance="outline">
                <mat-label>Коробка передач(КПП)</mat-label>
                <mat-select [formControl]="item.get('query_gearbox')" multiple>
                  <mat-option *ngFor="let gearBoxM of (modelGearBoxMoreApi | async| skipp: 'Типтроник')"
                              [value]="JSON.stringify(gearBoxM)">{{gearBoxM.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="auto_landing__item auto_landing__item__checkList"
                 [ngClass]="item.get('query_fuel')?.disabled ? 'd-none': 'd-flex'">
              <mat-form-field appearance="outline">
                <mat-label>Тип топлива</mat-label>
                <mat-select [formControl]="item.get('query_fuel')" multiple>
                  <mat-option *ngFor="let queryFuel of (modelFuelTypeApi | async)"
                              [value]="JSON.stringify(queryFuel)">{{queryFuel?.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="auto_landing__item auto_landing__item__checkList query_auto_mark"
                 [ngClass]="item.get('query_auto_mark')?.disabled ? 'd-none': 'd-flex'">
              <mat-form-field appearance="outline">
                <mat-label>Марка авто</mat-label>
                <mat-select [formControl]="item.get('query_auto_mark')" (selectionChange)="getModel($event.value, i)">
                  <mat-option *ngFor="let mark of (markAutoApiFinal[i] | async); let i = index;"
                              [value]="Number(mark.id)">{{mark['mark_auto']}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="auto_landing__item auto_landing__item__checkList query_auto_model"
                 [ngClass]="item.get('query_auto_model')?.disabled ? 'd-none': 'd-flex'">
              <mat-form-field appearance="outline">
                <mat-label>Модель авто</mat-label>
                <mat-select [formControl]="item.get('query_auto_model')">
                  <mat-option *ngFor="let model of (modelAutoApi[i] | async ); let i = index;"
                              [value]="Number(model.id)">{{model['model_auto']}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="auto_landing__item" style="width: 77%">
              <div class="d-flex justify-content-between  flex-column flex-md-row w-100">
                <div
                  class="text-center d-flex flex-column align-items-start col-12 col-md-4 query_currency">
                  <label [ngStyle]="">Валюта</label>
                  <select
                    (change)="currencyChange(i)"
                    [ngClass]="hoverShadow ? 'hoverShadow':''"
                    class="c-input c-input_sm rangeInput "
                    formControlName="query_currency">
                    <option [disabled]="true" [value]="null">Валюта</option>
                    <option class="c-select c-select__option"
                            *ngFor="let currency of (this.priority.getCurrency() | async); let i = index;"
                            [value]="Number(currency.currentModel)">{{currency.titleaditional}}</option>
                  </select>
                </div>
                <div class="validExc" *ngIf="!item.get('query_currency').valid"><i class="fas fa-exclamation-triangle"></i></div>
                <div
                  appOutputDisabled
                  (isDisabled)="isDisabledInput($event)"
                  class="text-center d-flex flex-column  query_price_min">
                  <label>Минимальная сумма</label>
                  <input
                    (change)="eventPrice(null,null,i)"
                    [attr.disabled]="disabled[i] ? '' : null"
                    [ngClass]="disabled[i] ? 'disableInp': ''"
                    class="c-input c-input_sm rangeInput " placeholder="Минимальная"
                    type="number"
                    formControlName="query_price_min"/>
                </div>
                <div
                  appOutputDisabled
                  (isDisabled)="isDisabledInput($event)"
                  class="text-center dark-grey-text  d-flex flex-column query_price_max">
                  <label>Максимальная сумма</label>
                  <input
                    (change)="eventPrice(null,null,i)"
                    [attr.disabled]="disabled[i]  ? '' : null"
                    [ngClass]="disabled[i] ? 'disableInp': ''"
                    class="c-input c-input_sm rangeInput " value="query_price_max"
                    placeholder="Максимальная сумма" type="number" formControlName="query_price_max"
                  />
                </div>

              </div>


            </div>

            <div class="auto_landing__item auto_landing__item__checkList query_filing_period"
                 [ngClass]="item.get('query_filing_period')?.disabled ? 'd-none': 'd-flex'">
              <mat-form-field appearance="outline">
                <mat-label>Период подачи</mat-label>
                <mat-select [formControl]="item.get('query_filing_period')">
                  <mat-option *ngFor="let model of modelFillingObSMoreApi | async; let i = index;"
                              [value]="JSON.stringify(model)">{{model.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!--        this.priority.yearMore()-->
            <div class="auto_landing__item align-items-center pb-2 query_yers" style="width: 77%"
                 [ngClass]="item.get('query_s_yers')?.disabled ? 'd-none': 'd-flex'">
              <div class="d-flex justify-content-between align-items-center row w-100">
                <label [ngStyle]="{'font-size':'1.5rem'}">Год выпуска: </label>
                <div class="row m-0">
                  <div class="text-center d-flex flex-row align-items-center query_s_yers">
                    <label>от</label>
                    <select class="c-input c-input_sm rangeInput" placeholder="от" type="select"
                            (change)="transportFormParams.fixYears(item)"
                            formControlName="query_s_yers">
                      <option [value]="null">Все</option>
                      <option *ngFor="let year of yearBeFool[i]" [value]="year">
                        {{year}}
                      </option>
                    </select>
                  </div>
                  <div
                    class="text-center dark-grey-text  d-flex flex-row align-items-center text-md-left-1 query_po_yers">
                    <label>до</label>
                    <select
                      (change)="transportFormParams.fixYears(item)"
                      class="c-input c-input_sm rangeInput" placeholder="до" type="select"
                      formControlName="query_po_yers">
                      <option [value]="null">Все</option>
                      <option *ngFor="let year of yearAfFool[i]" [value]="year">
                        {{year}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="auto_landing__item raceFrom" [ngClass]="item.get('raceFrom')?.disabled ? 'd-none': 'd-flex'">
              <label [for]="'raceFrom'+i">Пробег, тыс. км/ от</label>
              <input [formControl]="item.get('raceFrom')" min="0" [id]="'raceFrom'+i"
                     class="c-select c-select__wrapper_sm" placeholder="Пробег от" type="number"/>
            </div>

            <div class="auto_landing__item raceTo" [ngClass]="item.get('raceTo')?.disabled ? 'd-none': 'd-flex'">
              <label [for]="'raceTo'+ i">Пробег, тыс. км/ до</label>
              <input [id]="'raceTo'+ i" class="c-select c-select__wrapper_sm" [formControl]="item.get('raceTo')"
                     type="number"
                     placeholder="Пробег до"/>
            </div>

            <div class="auto_landing__item auto_landing__item__checkList"
                 [ngClass]="item.get('query_region')?.disabled ? 'd-none': 'd-flex'">
              <mat-form-field appearance="outline">
                <mat-label>Область</mat-label>
                <mat-select [formControl]="item.get('query_region')"
                            (selectionChange)="getCity($event.value, i)"
                >
                  <mat-option *ngFor="let model of (region$ | async); let i = index;"
                              [value]="Number(model?.id_region)">{{model?.name_region}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>



            <div class="auto_landing__item auto_landing__item__checkList"
                 [ngClass]="item.get('query_city')?.disabled ? 'd-none': 'd-flex'">
              <mat-form-field appearance="outline">
                <mat-label>Город</mat-label>
                <mat-select [formControl]="item.get('query_city')">
                  <mat-option *ngFor="let model of (city$ | async); let i = index;"
                              [value]="Number(model?.id_city)">{{model?.city_name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </div>

        <button
          #confirm
          class="confirm_btn"
          [ngClass]="(!item.valid) ?
        'c-btn c-btn_sm c-btn_inline c-btn_primary_disabled':
        'c-btn c-btn_primary c-btn_cs ml-4'"
          (click)="addNewForm(i, confirm); wrapIndex = i + 1"
          [disabled]="!item.valid"
          type="button">{{cTitle[i]}}
        </button>
      </div>
    </div>
  </form>
</app-wrap-query>
