<div class="landing-section-wrapper" id="mainTop">
  <div class="search_landing">
    <div class="search_landing__picture img-bg-color">
    </div>
    <div class="search_landing__sConteiner container p-0">
      <div #lAside class="search_landing__aside">
        <span #lK (click)="focusFunction(lK)" aSid="lK">
          <i class="far fa-user"></i>
          <span class="text">&nbsp;{{lkt}}</span>
        </span>
        <span #lR (click)="focusFunction(lR)" aSid="lR" class="search_landing__aside__active pt-md-0">
         <i class="far fa-list-alt"></i>
          <span class="text">&nbsp;{{lrt}}&nbsp;&nbsp;
          <ng-container *ngIf="countViewNotRead > 0">
                 <i class="fa fa-plus" aria-hidden="true"
                    [ngStyle]="{'font-size':'smaller', 'color': 'green', 'top': '-5px'}"></i>
            <i class="fa fa-bell" #bellElement aria-hidden="true"
               [ngStyle]="{'font-size':'xx-large', 'color': 'green'}"></i>
            <span class="countViews" #countViews
                  appBaseShorten [countText]="countViewNotRead"
                  [bellElementS]="bellElement"
            >{{countViewNotRead}}
            </span>
          </ng-container>
          </span>
        </span>
        <span #settings (click)="focusFunction(settings)" aSid="settings">
          <i class="fa fa-cog" aria-hidden="true">
          </i>
          <span class="text"> &nbsp;{{settingst}}</span>
        </span>
        <span #statistics aSid="statistics" (click)="focusFunction(statistics)">
         <i class="fas fa-laptop"></i>
          <span class="text"> &nbsp;{{statistic}}</span>
        </span>
        <span #money aSid="money" (click)="focusFunction(money)">
        <i class="fas fa-wallet"></i>
          <span class="text"> &nbsp;{{moneyCab}}</span>
        </span>
        <span #messages aSid="messages" (click)="focusFunction(messages)">
        <i class="far fa-paper-plane"></i>
          <span class="text"> &nbsp;{{messagesTitle}}</span>
        </span>
        <span #promo aSid="promo" class="text-danger" (click)="focusFunction(promo)">
       <i class="fas fa-share"></i>
          <span class="text"> &nbsp;{{messagePromo}}</span>
        </span>
        <span #webgame aSid="webgame" class="text-danger" (click)="focusFunction(webgame)">
       <i class="fas fa-gamepad"></i>
          <span class="text"> &nbsp;{{webGame}}</span>
        </span>
      </div>
      <div class="search_landing__main">
        <ng-template #dynamicAccount class="auto_section_wrapper"></ng-template>
      </div>
    </div>
  </div>
</div>
