@import "../../../assets/style_components/colors.component";
@import "../../../assets/style_components/button";

.img-bg-color {
  background-image: linear-gradient(rgba(0, 188, 212, 0.78), rgba(0, 188, 212, 0.78)), url('http://background_image/');
}

.landing-section-wrapper {
  width: 100%;
  //height: 1200px;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  overflow: hidden;
  background-color: #00ffff08;
}

.search_landing {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &__picture {
    height: 397px;
    width: 100%;
    //background: #292c37 url(../../../../assets/images/pexelsphoto.png) no-repeat 20% 76%;;
    //background-blend-mode: overlay;
    background: url(./../../../assets/images/background/main-green-black.png) no-repeat local 50% 50%;
    background-size: cover;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

    h4 {
      font-family: Fregat_Bold, sans-serif;
      font-size: 48px;
      color: $white;
      padding-top: 50px;
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: #e6e6e6;

    & > span {
      position: relative;
      z-index: 22;
      opacity: 0.99;
      width: 270px;
      padding-left: 20px;
      padding-top: 20px !important;
      padding-bottom: 20px;
      //font-size: 20px;
      font-size: 1rem;
      font-family: Fregat_Bold, sans-serif;

      &:focus {
        //box-shadow: 0px 0px 16px 0px $dark-green;
      }

      &:hover {
        //background-color: $dark-green;
      }

      @media (max-width: 1175px) {
        width: 162px;;
      }
    }

    i {
      z-index: -2;
      position: relative;
    }

    &__active {
      color: #047a4b;
      //border-bottom: 1px solid;
      text-decoration: underline;
      letter-spacing: 0.36px;
      font-family: Roboto, sans-serif;
      //color: $white;
      //width: 270px;
      //background-color: $green;
    }
  }

  &__main {
    //width: 680px;
    width: 100%;
    min-height: 360px;
    @media (max-width: 855px) {
      width: 585px;
    }
  }

  &__sConteiner {
    padding-bottom: 60px;
    //width: 970px;
    display: flex;
    flex-direction: row;
    bottom: 310px;
    position: relative;
    background-color: $white;
    border: 1px solid $white;
    border-radius: 25px;
    //box-shadow: 0px 14px 18px 4px #b8c8db;
    padding-left: 1px;
    overflow: hidden;
  }
}


@media (max-width: 800px) {

  //width: 585px;
  .search_landing__main {
    width: 100%;
  }
  .search_landing__sConteiner {
    width: 100% !important;
    flex-direction: column;
  }

  .search_landing__aside {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    span {
      width: unset;
      font-size: 17px;
      flex-shrink: 1;
      flex-grow: 1;
    }
  }
}

.text {
  z-index: -2;
  position: relative;
}

.bellNav {
  position: fixed;
  top: 3rem;
  right: 5rem;
  z-index: 136;
}

@media (max-width: 990px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .text {
    display: none;
  }

  .search_landing__aside {
    span {
      position: relative;
      z-index: 1;
      opacity: 0.99;

      //font-size: 0;
      i {
        margin: 0;
        padding: 0;
        z-index: -2;
        position: relative;
        //font-size: xx-large;
        padding-left: 0;
      }
    }
  }
}

.btn-success {
  background-color: #289547 !important;
}

.bellMask {
  position: absolute !important;
  background-color: rgba(101, 106, 30, 0.42) !important;
  z-index: 111 !important;
  width: 53px !important;
  border-radius: 24px;
  left: 12px !important;
  text-align: center;
  top: -52px !important;
  cursor: pointer;

  i {
    font-size: 3rem;
    color: green;
    top: 34px;
  }
}

.countViews {
  right: 10px;
  bottom: -2px;
  font-size: 23px;
  z-index: 12;
  color: white;
  font-weight: 800;
  position: absolute;
}

.cVNav {
  right: 9px !important;
  bottom: 6px !important;
  width: 29px;
  text-align: center;
}
