@charset "UTF-8";
@import './assets/fonts/Fregat/stylesheet.css';
@import './assets/fonts/roboto/roboto.css';
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './assets/stylesheets/fox_hover/foxhover.min.css';
@import "./assets/style_components/button_new";

button, label {
  -webkit-user-select: none;
  /* user-select -- это нестандартное свойство */

  -moz-user-select: none;
  /* поэтому нужны префиксы */

  -ms-user-select: none;
}
.c-btn {
  border-radius: 38px;
  background-color: white;

  font-weight: 500;
  display: block;
  outline: none !important;
  border-width: 0;
  cursor: pointer;
  transition: opacity 0.1s;
  text-align: center;
}

.c-btn_primary {
  transition: all 0.6s;
  outline: unset;
  background-color: #ef9c00;
  color: white;
  border-radius: 38px;
  border: 2px solid transparent;
}

.c-btn_primary:hover {
  box-shadow: 0px 0px 16px 0px #ef9c01;
}

.c-btn_primary:focus {
  box-shadow: 0px 0px 16px 0px #ef9c01;
}

.c-btn_out_line {
  border-radius: 38px;
  max-width: 180px;
  width: 100%;
  border: solid 5px;
  border-color: #ef9c00;
}

.c-btn_out_line:hover {
  box-shadow: 0px 0px 16px 0px #ef9c01;
}

.c-btn_out_line:focus {
  box-shadow: 0px 0px 16px 0px #ef9c01;
}

.c-btn_cs {
  padding: 10px 28px 10px 27px;
  font-size: 1rem;
}

.c-btn_lg {
  padding: 10px 49px 10px 49px;
  font-size: 1.5rem;
  margin: 10px;
}

@media (min-width: 1800px) {
  .c-btn_lg {
    padding: 18px 59px 14px 59px !important;
  }
}

.c-btn_md {
  padding: 16px 32px 14px 32px;
  font-size: 2.125rem;
  margin: 10px;
}

.c-btn_sm {
  padding: 11px 17px 11px 17px;
  font-size: 1rem;
  margin: 10px;
  min-width: 90px;
}

* {
  margin: 0;
  padding: 0;
}

.cursor-poiner {
  cursor: pointer;
}

body {
  background: url("./../src/assets/images/background/main.png");
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
  position: relative;
}

.mat-drawer-content {
  overflow-x: hidden !important;
}

#go-top {
  position: fixed;
  bottom: 25px;
  right: 70px;
  text-align: center;
  cursor: pointer;
  display: none;
  width: 80px;
  height: 30px;
  background: #c0c0c0;
  line-height: 30px;
  border-radius: 5px;
}

#go-top:hover {
  background: #333;
  color: #fff;
}

.checkboxM {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.checkboxM:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}

.checkboxM:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 0.5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}

.checkboxM:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.disableContainer {
  cursor: no-drop;
}

.disableInp {
  background-color: #698aab !important;
}

.mat-tab-label.mat-tab-label-active {
  font-family: Fregat_Bold, sans-serif;
  color: #ee9b00 !important;
}

.mat-tab-header {
  border: none !important;
}

.modal-content {
  width: 396px !important;
  border-radius: 25px !important;
  background-color: #ffffff !important;
  overflow: hidden !important;
}

.services {
  transition: all 0.3s ease-in-out;
  background-color: #8b85851f;
  margin: 0 3px 0 3px;
  padding: 15px;
  cursor: pointer;
  border-radius: 6px;
  max-width: max-content;
}

.services-img {
  max-height: 85px;
}

@media (max-width: 444px) {
  .services-img {
    max-height: 55px;
  }
}

@media (max-width: 337px) {
  .services-img {
    max-height: 45px;
  }
}

.services-active {
  background-color: green;
  color: white;
  padding: 0;
  height: max-content;
}

.services:hover {
  -webkit-box-shadow: 0px 0px 2px 3px #5bd492;
  -moz-box-shadow: 0px 0px 2px 3px #5bd492;
  box-shadow: 0px 0px 2px 3px #5bd492;
  border-color: #5BD492;
}

.c-select:disabled, .c-input:disabled {
  background-color: #ebebe4 !important;
  cursor: not-allowed !important;
  pointer-events: auto !important;
  color: #545454;
}

.w-95 {
  width: 95%;
}

.not-select {
  -moz-user-select: none;
  /* Mozilla Firefox */
  -ms-user-select: none;
  /* Internet Explorer (не поддерживается) */
  -o-user-select: none;
  /* Opera Presto (не поддерживается) */
  -webkit-user-select: none;
  /* Google Chrome, Opera Next, Safari */
}

.mySkip, .mySkipHome {
  left: 661.938px;
  top: 523.85px;
  background-color: white;
  color: #1f491f;
  border-color: white;
}

.enjoy_hint_label {
  font-family: Fregat_bold, sans-serif;
  border-radius: 2px;
  padding: 2px;
  background-color: #66aa2f !important;
}

#enjoyhint_arrpw_line {
  color: #1f491f !important;
}

.custom-modalbox {
  padding: 0 !important;
  width: 600px !important;
  @media screen and (max-width: 470px) {
    width: 100% !important;
    max-width: 100% !important;
  }

  .mat-dialog-container {
    padding: 0 !important;
  }
}

.custom-modalbox-board-rules {
  min-height: 170px;
  max-width: 322px !important;
  border-radius: 27px !important;
  @media screen and (max-width: 350px) {
    max-width: 100% !important;
  }

  .mat-dialog-container {
    border-radius: 27px !important;
    padding: 0 !important;
  }

  .btn {
    width: 100% !important;
    margin: 6px !important;
    color: white;
    border-radius: 17px;
  }
}
.custom-overlay-craft {
  background-color: #f6f8f6e8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}
.custom-modalbox-craft {
  .modal-header {
    //border: unset;
    //padding: 0;
    //margin: 0;
  }
  .mat-dialog-container {
    height: auto !important;
    padding: 0 !important;
  }
}
.unselectable {
  border: unset;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.custom-modalbox-one-reg{
  max-height: 90vh;
  max-width: 745px !important;
  .mat-dialog-container {
    border-radius: 25px !important;
  }
}
.custom-modalbox-exit {
  .title {
    font-family: Fregat_Bold, sans-serif;
  }

  .modal-body {
    font-family: Fregat, sans-serif;
  }

  .mat-dialog-container {
    border-radius: 25px !important;
  }
}

.tariff_p {
  border-radius: 10px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.35);
  color: black;
  margin: 15px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.b-Col {
  background-color: #ef9c00 !important;
}

.b-Def {
  background-color: #b3b3b3 !important;
}

.prefix-tel {
  position: absolute;
  left: 36px;
  bottom: 6px;
  font-weight: 900;
  color: orange;
  font-family: Fregat, sans-serif;
}

.tel {

  .form-control {
    padding-left: 28px !important;
    width: calc(100% - 5.5rem) !important;
  }
}

.tlabel {
  //width: 1px !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: black !important;
}

#line-chart-parent {
  font-weight: 700 !important;
  //z-index: 22;
}

.carousel-indicators {
  z-index: 0 !important;
}

.mat-app-background {
  background-color: rgba(0, 0, 0, 0);
}
.preSlipWorlds {
  label.active {
    transform: translateY(-35px) scale(0.8) !important;
  }
}
.ngx-pagination .current {
  background-color: $orange !important;
}
