<div class="card z-depth-0 border-0 d-flex align-items-center color-content pt-5 pb-5 h-100">
  <h2><i class="fa fa-desktop pr-3" aria-hidden="true"></i>Пополнение счета</h2>
  <span class="balance" matTooltip="Последнее изменение {{balance?.date_update}}"
        matTooltipShowDelay="500"><i class="fa fa-credit-card" aria-hidden="true">&nbsp;</i>{{balance?.balance}}
    UAH</span>
  <mat-tab-group class="w-95 pt-4">
    <mat-tab label="Пополнение счета">
      <div class="container">
        <form [formGroup]="payForm">
          <div class="pt-5">
            <mat-form-field class="w-100">
              <mat-label>{{selectPayTittle}}</mat-label>
              <mat-select formControlName="service">
                <mat-option (click)="wayOfReplenishment = food?.name" *ngFor="let food of payServices"
                            [value]="Number(food?.id)">
                  {{food?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="system-pay" *ngIf="wayOfReplenishment.length > 0">
            <div class="system-pay_wrapper">
              <div class="system-pay_wrapper_title">
                Платежная система "{{wayOfReplenishment}}"
              </div>
              <div class="p-5 d-flex flex-row justify-content-center">
                <mat-form-field class="example-full-width pr-0 pr-md-3">
                  <input type="number" matInput placeholder="Введите сумму" formControlName="amount">
                </mat-form-field>
                <button (click)="onSubmit()" class="btn btn-primary"
                        [disabled]="!payForm.controls.amount.touched && payForm.invalid">
                  ПОДТВЕРДИТЬ
                </button>
              </div>
            </div>
          </div>
        </form>
        <div #sysPay class="system-pay" [ngStyle]="{'display': payForm.valid && payContent? 'block': 'none'}">
          <div class="system-pay_wrapper">
            <div class="system-pay_wrapper_title">
              Форма оплаты
            </div>
            <div class="p-5 d-flex flex-row justify-content-center">
              <div [innerHTML]="payContent | noSanitize"></div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Внесенные платежи">
      <div class="container">
        <div class="example-container">
          <table mat-table [dataSource]="historyPay" multiTemplateDataRows>
            <ng-container *ngFor="let item of displayedColumns" [matColumnDef]="item">
              <th mat-header-cell *matHeaderCellDef>{{TRANSLATION[item]}}</th>
              <td mat-cell *matCellDef="let element"> {{element[item]}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="История платежей">
      <div class="container">
        <div class="example-container">
          <table mat-table [dataSource]="historyTransactionsPay" multiTemplateDataRows>
            <ng-container *ngFor="let items of displayedColumnsTransactions" [matColumnDef]="items">
              <th mat-header-cell *matHeaderCellDef>{{TRANSLATION[items]}}</th>
              <td mat-cell *matCellDef="let element"> {{element[items]}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsTransactions; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTransactions;"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
