.color-content {
  background-color: #ffffff00;
}

h2 {
  font-family: Fregat_bold, sans-serif;
}
.example-container {
  height: calc(100vh - 290px);
  overflow: auto;
}

table {
  width: 100%;
  background-color: #f7f9ff;
}
td, tr, th {
  font-family: Fregat, sans-serif;
  //font-size: 1rem;
}
th {
  color: white;
  background: #777;
  cursor: auto;
}
tr:hover{
  background: #777;
  cursor: pointer;
}

.balance {
  transition: all 0.1s;
  position: absolute;
  right: 3rem;
  font-family: Fregat_bold, sans-serif;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  top: 1px;
  &:hover {
    box-shadow: -1px 1px 4px 0px rgb(0, 167, 97), 0 0 2px rgba(224, 129, 129, 0.12);
  }
}

button {
  height: fit-content
}

.system-pay {
  //display: none;
  padding: 20px 0;

  &_wrapper {
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    margin: 4px;
    min-height: 10rem;

    &_title {
      align-content: center;
      -webkit-box-align: center;
      align-items: center;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      padding: 8px 20px;
      color: rgba(0, 0, 0, .54);
      background: rgba(0, 0, 0, .03);
      font-family: Fregat, sans-serif;
    }
  }
}
