@import "../../../assets/style_components/colors.component";
@import "../../../assets/style_components/button";

.landing-section-wrapper{
  background-color: $white;
  width: 100%;

  //height: 718px;
  padding-bottom: 11%;
  border-bottom: 1px solid $gray;
}

h2 {
  font-family: Fregat_Bold, sans-serif;
}
.p-landing {
  &__price {
    background: url(./.././../../assets/images/background/main-green-black.png) no-repeat local center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      padding-top: 5%;
      margin: 0;
      font-family: Fregat_Bold, sans-serif;
      font-size: 68px;
      color: white;
      letter-spacing: 1.36px;
    }

    .third {
      width: 27.95%;
      margin: 0 30px 0 0;
      display: inline-block;
    }
  }
}

@media (max-width:768px) {

  .p-landing__price {

    & > h2:first-child {
      font-size: 1.4rem;
    }

  }
}
