<div class="landing-section-wrapper" id="price-app">
  <div class="p-landing__price">
    <h1>Цены</h1>
    <div class="container">
      <app-tariff style="width: 100%" [dataTarif]="popularTariff" [isPrice]="true"></app-tariff>
    </div>
  </div>
</div>
