<app-wrap-query [count]="count" [wrapIndex]="wrapIndex" (activeId)="activeFromWrapQuery($event)">
  <form [formGroup]="myForm" class="w-95" novalidate>
    <div formArrayName="items" *ngFor="let item of myForm.get('items')['controls']; let i = index;">
      <div class="auto_landing pt-3 formHelp" [formGroupName]="i"
           *ngIf="i === formOutputId">
        <div class="justify-content-center flex-wrap d-flex w-100 text-center">
          <div class="w-100 mt-3">
            <div *ngIf="(infoMore); else emptyT">
              <h2>{{infoMore?.title}}</h2>
              <div class="quest-container p-3">
                <div [innerHTML]="SANITIZER.bypassSecurityTrustHtml(infoMore?.desc)">

                </div>
              </div>
            </div>
            <ng-template #emptyT>
              <div class="quest-container p-3">
                Отсутствует информация
              </div>
            </ng-template>

            <div class="d-flex justify-content-between row-md">
              <div class="text-center d-flex flex-column col-5 p-0 mt-3 ml-auto">

                <mat-checkbox id="quest_id" [disabled]="(infoMore && !isBlockedNext) ? false: true"
                              [formControl]="item.get('share')">Принять участие
                </mat-checkbox>
                <input type="hidden" [formControl]="item.get('quest_id')">
              </div>
            </div>
          </div>
        </div>
        <button
          #confirm
          class="confirm_btn"
          [ngClass]="(!item.valid) ?
        'c-btn c-btn_sm c-btn_inline c-btn_primary_disabled':
        'c-btn c-btn_primary c-btn_cs ml-4'"
          (click)="addNewForm(i, confirm, infoMore?.id); wrapIndex = i + 1"
          [disabled]="!item.valid && isBlockedNext"
          type="button">{{cTitle[i]}}
        </button>

      </div>
    </div>
  </form>
</app-wrap-query>
