@import "../../base";
#quest_id {
  font-family: Fregat_Bold, sans-serif;
}
.quest-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60vh;
  font-family: Fregat_Bold, sans-serif;
  min-height: 160px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 3px 0px rgb(65, 148, 52);
  -moz-box-shadow: 0px 0px 3px 0px rgb(65, 148, 52);
  box-shadow: 0px 0px 3px 0px rgb(65, 148, 52);

  &>p {
    font-size: 20px;
  }
}
