<div #howhelp class="helper-container">
  <span (click)="openShowFoundDialog(model?.notification_count)" style="font-size: 14px"><i
    class="fa fa-list show-found"
    aria-hidden="true"></i>
    <ng-container *ngIf="model?.countNotificator > 0; else def">
      <ng-container *ngIf="(__obsWidth | async) <= 700; else maxWidth">
      &nbsp;&nbsp;+{{model?.countNotificator}}
      </ng-container>
      <ng-template #maxWidth>
          Новых +{{model?.countNotificator}}
      </ng-template>

    </ng-container>
    <ng-template #def>
      <ng-container *ngIf="(__obsWidth | async) > 700;">
         Найдено
      </ng-container>
    <ng-container *ngIf="model?.notification_count !== '0'">&nbsp;{{model?.notification_count}}</ng-container>
    </ng-template>
  </span>
  <span (click)="openModal()"><i class="fa fa-info-circle info" aria-hidden="true"></i> Инфо</span>
  <ng-container *ngIf="model?.titleQuery !== 'Quest'">
    <ng-container *ngIf="model.query_activated == 0 && model.paid_for === '1'; else nextBlock">
    <span matTooltip="Заявка активируется: {{moment.unix(model?.query_tariff_start).format('l')}}"
          matTooltipShowDelay="500"><i class="fa fa-stop-circle-o" aria-hidden="true"></i>&nbsp;Не запущенно</span>
    </ng-container>
    <ng-template #nextBlock>
      <ng-container *ngIf="model.query_activated == 0; else extend_time">
    <span (click)="openActivateDialog()"><i class="fas fa-credit-card activate"
                                            aria-hidden="true"></i> Активировать</span>
      </ng-container>
      <ng-template #extend_time>
      <span (click)="openExtendDialog()"><i class="fas fa-credit-card activate extend-request-time"
                                            aria-hidden="true"></i> Продлить<span
        class="cancel-request-text"> заявку</span></span>
      </ng-template>
    </ng-template>
  </ng-container>


  <span (click)="openConfirmDialog()"><i class="fa fa-ban cancel-request"
                                         aria-hidden="true"></i> Удалить<span class="cancel-request-text"> заявку</span></span>
</div>
