@import "../../../../../assets/style_components/colors.component";
@import "../../../../../assets/style_components/button";

.helper-container {
  top: -10px;
  //width: 140%;
  position: relative;
  display: flex;
  justify-content: space-between;
  span {

    white-space: pre;

    margin-left: 1.5%;
    margin-right: 1.5%;
    color: $black;
    font-size: 14px;

    i {
      &:hover {
        color: $black;
      }
    }

    .cancel-request {
      color: red;
    }
    .show-found {
      color: $green;
    }
    .info {
      color: $gray;

    }
    .extend-request-time {
      color: $gray;
    }
    .activate{
      color: $green;
    }
  }
}
.title {
  font-size: 155%;
  color: $gray;
  font-family: Rubik-Bold, sans-serif;
}
.modal-custom {
  background-color: $green;
  h4 {
    font-weight: 700;
    color: $white;
  }
}

.shadow {
  -moz-box-shadow: 2px 2px 6px $green;
  -webkit-box-shadow: 2px 2px 6px $green;
  box-shadow: 2px 2px 6px $green;
}
::ng-deep .cdk-overlay-container{
  z-index: 1200 !important;
}

@media (max-width: 700px) {
  .helper-container {
    display: flex;
    justify-content: space-between;
    top: -5px;
    span {
      //font-size: 0;
      margin: 0;
      padding: 0;
      i {
        font-size: 14px;
        width: 20%;
      }

    }
  }
}
@media (max-width: 500px) {
  .cancel-request-text {
    font-size: 0 !important;
  }
}
